{
  "singleQuote": false,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx", "*.css", "*.scss"],
      "options": {
        "singleQuote": true
      }
    }
  ],
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 200
}
