.option-products {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  .product-card {
    max-width: 182px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 11px 8px;
    text-align: left;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .product-card:hover {
    border: 1px solid #F1592A;
    cursor: pointer;
  }
  .product-card__img {
    width: 100%;
    background: #FAF9F9;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
  }
  .product-card img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: contain;
  }
  .product-card h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    color: #000000;
    font-family: 'Lato';
  }
  .product-card__mid {
    text-align: left;
    line-height: 14px;
    width: 100%;
    margin-top: -10px;
  }
  .product-card span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #808080;
    margin: 10px 0;
    font-family: 'Lato';
  }
  .product-card .product-card__price {
    color: #F1592A;
  }
  .product-card p {
    font-size: 16px;
    color: #393940;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Lato';
  }
  .product-card .read-more-btn {
    display: inline-block;
    margin-top: 8px;
    color: #F1592A;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-family: 'Lato';
    font-weight: 700;
  }
  .modal-header {
    text-align: center;
    margin-bottom: 16px;
  }
  .modal-header h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
  }
  .product-details-container {
    display: none;
    min-height: 230px;
    justify-content: left;
    gap: 30px;
  }
  .product-details-container .product-details__product-image {
    align-self: baseline;
    height: 200px;
  }
  .product-details-container .product-details__product-info {
    height: auto;
  }
  .product-details__product-image {
    background: #FAF9F9;
    padding: 15px 75px;
    border-radius: 12px;
  }
  .product-details__product-image img {
    width: auto;
    max-height: 180px;
  }
  .product-details__product-info {
    margin-top: -15px;
  }
  .product-details__title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    text-transform: none;
    line-height: 50px;
  }
  .product-details__short_description {
    font-size: 16px;
    margin-top: 0px;
  }
  .product-details-description-body {
    width: 100%;
    padding: 0px 5px;
  }
  .product-details-description-body p {
      background-color: transparent !important;
      color: black !important;
      padding: 0px !important;
      text-indent: 0px !important;
      letter-spacing: 0px !important;
      word-spacing: 0px !important;
      font-family: 'Lato';
      font-size: 18px;
      font-weight: 700;
      text-transform: capitalize !important;
  }
  .product-details-description-body ul {
    margin-left: 50px;
  }
  .product-details-description-body li {
    position: relative;
    margin-bottom: 8px;
  }
  .product-details-description-body li::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      top: 8px;
      left: -14px;
      background: #3E77AA;
  }
  .product-details-description-body a {
    font-size: 16px !important;
    color: #F1592A !important;
  }
  .avis-cartOptionsPopup {
    z-index: 1000 !important;
  }