.option-products {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.product-card {
    max-width: 182px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 11px 8px;
    text-align: left;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-card:hover {
    border: 1px solid #F1592A;
    cursor: pointer;
}

.product-card__img {
    width: 100%;
    background: #FAF9F9;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

.product-card img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: contain;
}

.product-card h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    color: #000000;
    font-family: 'Lato';
}

.product-card__mid {
    text-align: left;
    line-height: 14px;
    width: 100%;
    margin-top: -10px;
}

.product-card span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #808080;
    margin: 10px 0;
    font-family: 'Lato';
}

.product-card .product-card__price {
    color: #F1592A;
}

.product-card p {
    font-size: 16px;
    color: #393940;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Lato';
}

.product-card .read-more-btn {
    display: inline-block;
    margin-top: 8px;
    color: #F1592A;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-family: 'Lato';
    font-weight: 700;
}

.modal-header {
    text-align: center;
    margin-bottom: 16px;
}

.modal-header h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.product-details-container {
    display: none;
    min-height: 230px;
    justify-content: left;
    gap: 30px;
}

.product-details-container .product-details__product-image {
    align-self: baseline;
    height: 200px;
}

.product-details-container .product-details__product-info {
    height: auto;
}

.product-details__product-image {
    background: #FAF9F9;
    padding: 15px 75px;
    border-radius: 12px;
}

.product-details__product-image img {
    width: auto;
    max-height: 180px;
}

.product-details__product-info {
    margin-top: -15px;
}

.product-details__title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    text-transform: none;
    line-height: 50px;
}

.product-details__short_description {
    font-size: 16px;
    margin-top: 0px;
}

.product-details-description-body {
    width: 100%;
    padding: 0px 5px;
}

.product-details-description-body p {
    background-color: transparent !important;
    color: black !important;
    padding: 0px !important;
    text-indent: 0px !important;
    letter-spacing: 0px !important;
    word-spacing: 0px !important;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize !important;
}

.product-details-description-body ul {
    margin-left: 50px;
}

.product-details-description-body li {
    position: relative;
    margin-bottom: 8px;
}

.product-details-description-body li::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: -14px;
    background: #3E77AA;
}

.product-details-description-body a {
    font-size: 16px !important;
    color: #F1592A !important;
}

.avis-cartOptionsPopup {
    z-index: 1000 !important;
}

.avis-popupHeader {
    padding: 32px 32px 0 32px;
    border-bottom: 0;
    margin-bottom: 8px;
}

.avis-popupHeader-close {
    width: 24px;
    height: 24px;
}

.avis-popupHeader-title {
    font-family: Lato;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0px;
}

.avis-popupBox {
    max-width: 800px;
}

.avp-heading {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin: 0 0 16px 0;
}

.avp-option.ap-options__swatch-container .ap-label-tooltip::before {
    transform: rotate(180deg);
}

.ap-label-tooltip.open::before {
    transform: rotate(0) !important;

}

.ap-options__swatch {
    margin-top: 16px !important;
}

.avpoptions-container__v2 div .ap-options__swatch > label {
    margin-bottom: 0 !important;
}

.avp-option:not(.ap-options__heading-container, .ap-options__select-container) {
    padding: 12px !important;
}

.avpoptions-container__v2 .apo-swatch-wrapper .swatch-variant-title {
    font-size: 10px !important;
    line-height: 14px;
    padding-bottom: 0 !important;
}

.avis-popupFooter {
    border-top: 0;
}

.avis-popupFooter {
    padding: 24px 32px 32px 32px;
    justify-content: center;
    column-gap: 16px;
}

.avis-popupBody {
    padding: 0 32px;
}

.avis-popupFooter > button {
    width: calc(50% - 8px);
    height: 48px;
    border-radius: 8px;
}

.avpoptions-container__v2 .avp-option > .ap-label-tooltip > label, .avpoptions-container__v2 .avp-option label.avp-option-title, .avpoptions-container .avp-option > .ap-label-tooltip > label, .avpoptions-container .avp-option > label {
    margin-bottom: 0;
}

.apo-title {
    font-size: 14px !important;
    line-height: 20px;
}

.avis-popupFooter-cancel span {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #23232B;
}

.avis-popupFooter-cancel {
    border: 1.5px solid #D3D9E5 !important;
}

.avis-popupFooter-submit {
    background-color: #F1592A;
    border: none !important;
}

.avis-popupFooter-submit span {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}

.avp-option:not(.ap-options__heading-container) + .avp-option.ap-options__heading-container {
    margin-top: 16px !important;
}

.avp-productoption-total-add {
    display: none;
}


@media (max-width: 992px) {
    .avis-popupBox {
        margin: 0 16px;
        width: calc(100% - 32px);
    }
}

@media (max-width: 749px) {
    .avis-popupHeader {
        padding: 16px 16px 0 16px;
    }

    .avis-popupHeader-title {
        font-size: 20px;
        line-height: 26px;
    }

    .avis-popupBody {
        padding: 0 16px;
    }

    .avis-popupFooter {
        padding: 16px;
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 16px;
    }

    .avpoptions-container__v2 div[role=group] span > label:not(label.avp-hiddenvarianttitleswatch), .avpoptions-container__v2 fieldset > label:not(label.avp-hiddenvarianttitleswatch):not(:last-child), .avpoptions-container__v2 label.avp-productoptionswatchwrapper:not(label.avp-hiddenvarianttitleswatch) {
        margin-right: 0 !important;
        width: 100%;
        max-width: 100% !important;
        flex-direction: row !important;
        justify-content: space-between !important;
    }
    .avp-productoptionswatchwrapper + .avp-productoptionswatchwrapper {
        margin-top: 12px;
    }
    .avpoptions-container__v2 .apo-swatch-wrapper .swatch-variant-title {
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        column-gap: 12px;
        text-align: left;
    }
    .avp-option:not(.ap-options__heading-container, .ap-options__select-container) {
        padding: 12px 0 !important;
    }
}
@media (max-width: 576px) {
    .avis-popupFooter > button {
        width: 100%;
    }
    .swatch-variant-title .money.apo-money {
        white-space: nowrap;
    }
    .ap-label-tooltip {
        flex-direction: column;
        row-gap: 8px;
    }

    .ap-label-tooltip svg {
        display: none;
    }

    .option_selected-container {
        margin-left: 0 !important;
    }

    .avp-option.ap-options__swatch-container .ap-label-tooltip::before {
        margin-left: 0;
    }
}
