
  .browse-category{
background-color: #FAF9F9;
    
  }

  @media screen and (min-width: 990px) {
     .browse-category{
  margin-right: -4px;
}
  }

  .browse-category .slick-dots li button {
    width: 12px !important;
    height: 12px !important;
    padding: 0 !important;
}

  .browse-category .slick-dots {
    display: block !important;
    bottom: -50px !important;
}

  .browse-category .slick-dots li {
    width: auto;
    height: auto;
    margin: 0 3px;
}

  .browse-category .slick-dots li.slick-active button:before {
    background-color: #23232B !important;
}

  .browse-category .slick-dots li button:before {
    font-size: 34px !important;
    line-height: 12px !important;
    width: 12px !important;
    height: 12px !important;
    content: '' !important;
    display: block !important;
    background-color: #ccc !important;
    border-radius: 50% !important;
}
  
.browse-category .browse-by-category {
  padding: 60px 16px;
}
.browse-category .category-tabs {
  display: flex;
  gap: 24px;
  margin-bottom: 0px;
  flex-wrap: wrap;
}


  .browse-category .category-tabs button.active{
    font-weight: 700;
  }


.browse-category .category-tabs button {
  position: relative;
  padding-bottom: 8px; 
  background: transparent;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  font-family: Lato;
  border: none;
  cursor: pointer;
}

.browse-category .category-tabs button.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100%;
  background-color: #F1592A;
  border-radius: 4px;
}

  
.browse-category .category-tab-content {
  display: none;
}
.browse-category .category-tab-content.active {
  display: block;
}
.browse-category .category-card {
  text-align: center;
  background: #EDEFF3;
  padding: 24px 34px;
  padding-bottom: 24px !important;
  border-radius: 20px;
  margin: 8px;
}
.browse-category .category-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  background: transparent;
  display: block;
  margin: 0 auto 10px;
}

.browse-category .category-card p {
  font-family: Lato;
font-weight: 700;
font-size: 20px;
line-height: 26px;
  margin: 0px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;

}

.browse-category .tab-header{
  display: flex;
    align-items: center;
    justify-content: space-between;
  margin-bottom: 32px;
  padding-right: 8px;
}

  .browse-category .slick-prev {
    left: 25px!important;
    z-index: 1;
    background: #616166!important;
    width: 48px !important;
    height: 48px !important;
    border-radius: 34px;
}

  .browse-category .slick-next {
    right: 25px!important;
     z-index: 1;
    background: #616166!important;
    width: 48px !important;
    height: 48px !important;
    border-radius: 34px;
}

  .browse-category .tab-header h2{
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
  }


  @media (min-width: 990px) {
    .browse-category .slick-dots{
      display: none!important;
    }
  }

  @media (max-width: 1050px) {

    .browse-category .tab-header{
      display: block;
    }

    .browse-category .tab-header h2 {
    margin-left: auto;
    margin-bottom: 20px;
}
  }


  @media (max-width: 768px) {

        .browse-category .browse-by-category {
    padding: 24px 16px 50px 16px;
}

    .browse-category .category-card{
      padding: 12px;
    }
     .browse-category .slick-prev{
       top: 115%!important;
       left: 5px!important;
     }

     .browse-category .slick-next{
       top: 115%!important;
       right: 5px!important;
     }

    .browse-category .slick-prev, .browse-category .slick-next {
    width: 36px !important;
    height: 36px !important;
    border-radius: 34px;
}
  }