.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .2s linear;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    z-index: 11;
}

/* Popup container */
.cart-item__custom-options-popups,
.cart-item__custom-option-popups {
    position: relative;
}


/* Popup styles */
.cart-item__custom-options-popup {
    position: fixed;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    z-index: 12;
    max-height: 680px;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 380px) {
    .cart-item__custom-options-popup {
        max-height: 500px;
    }
}

.cart-item__custom-option-popup {
    position: fixed;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    max-width: 680px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    z-index: 12;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.cart-item__custom-option-popup-inner {
    display: flex;
    padding: 32px 32px 12px 32px;
    column-gap: 16px;
    align-items: flex-start;
    position: relative;
}

.cart-item__custom-option-popup-inner > svg {
    position: absolute;
    cursor: pointer;
    right: 24px;
    top: 16px;
}

.cart-item__custom-option-popup-inner:has(.cart-item__custom-option-popup-img-wrapper:empty) .cart-item__custom-option-popup-content {
    flex-direction: column;
    align-items: center;
    max-width: 100%;

}

.accordion-body[aria-hidden="false"] {
    max-height: 2000px !important;
    display: block !important;
}

.cart-item__custom-option-popup-content {
    max-width: 400px;
}

.cart-item__custom-option-popup-inner .cart-item__custom-options-option-title {
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Oswald";
}

.cart-item__custom-option-popup-inner .cart-item__custom-options-option-price {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 8px;
    display: inline-block;
}

.cart-item__custom-option-popup-inner b {
    display: block;
    margin: 8px 0;
}

.cart-item__custom-option-popup-inner ul, .cart-item__custom-option-popup-inner li {
    list-style: disc;
    list-style-position: inside;
}

.cart-item__custom-options-option-copy *:empty, .cart-item__custom-options-option-copy div:empty {
    display: none;
}

.cart-item__custom-option-popup .cart-item__custom-option-popup-buttons .button.button--tertiary {
    background-color: #F1592A;
    color: #fff;
}

.cart-item__custom-option-popup .cart-item__custom-option-popup-buttons .button.button--tertiary.loading {
    padding: 0;
}

.cart-item__custom-option-popup-img-wrapper {
    max-width: 200px;
}

.cart-item__custom-option-popup-img-wrapper.empty {
    display: none;
}

.cart-item__custom-option-popup-img-wrapper.empty + div {
    max-width: 100%;
}

.cart-item__custom-option-popup .accordion-header {
    padding: 0;
}

.cart-item__custom-option-popup .accordion.active .accordion-body {
    max-height: 2000px !important;
    margin-bottom: 0;
}

.cart-item__custom-option-popup-img-wrapper > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    max-height: 200px;
}

/* Read More/Less functionality styles */
.cart-item__custom-options-option-copy {
    position: relative;
    transition: max-height 0.3s ease;
    overflow-y: auto;
    margin-bottom: 5px;
    line-height: 1.5;
    font-size: 14px;
    max-height: 400px;
}

.cart-item__custom-options-option-copy table {
    width: auto !important;
}

.cart-item__custom-options-option-copy.truncated {
    max-height: 126px; /* 6 lines at 1.5 line-height and 14px font-size */
    overflow: hidden;
    position: relative;
}

.cart-item__custom-options-option-copy.truncated::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    pointer-events: none;
}

.read-more-container {
    text-align: right;
    margin-top: -5px;
}

.read-more-link {
    display: inline-block;
    color: #F1592A;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 14px;
}

.read-more-link:hover {
    text-decoration: underline;
}


.cart-item__custom-options-popup-header {
    padding: 32px 32px 16px;
    flex-shrink: 0;
    border-bottom: 1px solid #e6e6e6;
}

.cart-item__custom-options-popup-header > span {
    font-weight: 700;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    display: inline-block;
}

.cart-item__custom-options-popup-header h2 {
    font-size: 28px;
    line-height: 36px;
    margin: 0;
    text-transform: capitalize;
}


.cart-item__custom-options-popup-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 32px;
}


/* Popup buttons container */
.cart-item__custom-options-popup-buttons,
.cart-item__custom-option-popup-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 24px 32px 32px 32px;
    flex-shrink: 0;
    border-top: 1px solid #e6e6e6;
}

/* Button styles */
.cart-item__custom-options-popup-buttons .button,
.cart-item__custom-option-popup-buttons .button {
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 8px);
    cursor: pointer;
}

.cart-item__custom-options-popup-buttons .button.loading, .cart-item__custom-option-popup-buttons .button.loading {
    padding: 0;
    color: #fff;
}

.cart-item__custom-options-popup-buttons .button.button--tertiary,
.cart-item__custom-option-popup-buttons .button.button--tertiary {
    background-color: #fff;
    border: 1px solid #D3D9E5;
    color: #23232B;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

/* Cancel button */
.cart-item__custom-option-popup-cancel {
    display: inline-block;
    padding: 12px 24px;
    background-color: #fff;
    border: 1px solid #D3D9E5;
    color: #23232B;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
    text-align: center;
}

.product-options__swatch-wrapper {
    max-width: 110px;
}

/* Media queries for responsive design */
@media screen and (max-width: 749px) {
    .cart-item__custom-options-popup,
    .cart-item__custom-option-popup {
        width: 95%;
    }

    .product-options__swatch-wrapper {
        max-width: 100%;
    }

    .cart-item__custom-options-popup-header {
        padding: 20px 20px 12px;
    }

    .cart-item__custom-options-popup-content {
        padding: 0 20px;
    }

    .cart-item__custom-options-popup-buttons,
    .cart-item__custom-option-popup-buttons {
        padding: 20px;
        flex-direction: column;
        gap: 12px;
    }

    .cart-item__custom-options-popup-header h2 {
        font-size: 20px;
        line-height: 26px;
    }

    .cart-item__custom-options-popup-buttons .button,
    .cart-item__custom-option-popup-buttons .button {
        width: 100%;
    }

    .cart-item__custom-option-popup-cancel {
        width: 100%;
        text-align: center;
    }

    .cart-item__custom-option-popup-inner {
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
        padding: 20px 12px 12px 12px;
    }

    .cart-item__custom-option-popup-img-wrapper {
        max-width: 120px;
    }
}
