.category-item {
  break-inside: avoid;
  margin-bottom: 56px;
}

.category-item a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  padding: 8px 12px;
  text-decoration: none;
}

.categories-section .title {
  font-size: 48px;
  font-weight: 600;
  line-height: 68px;
  text-align: center;
  color: #23232B;
  margin-top: 0;
  margin-bottom: 52px;
}

.category-item .category-header {
  font-family: "Lato";
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: #F1592A;
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: none;
}

.category-item a:hover {
  background-color: #F5F5F5;
  border-radius: 2px;
  color: #DF633A;
}
