.category-item {
  break-inside: avoid;
  margin-bottom: 56px;
}

.category-item a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: 400;
  font-family: "Lato";
}

.categories-section .title {
  font-size: 48px;
  font-weight: 600;
  line-height: 68px;
  text-align: center;
  color: #23232B;
  margin-top: 0;
  margin-bottom: 52px;
}

.category-item .category-header {
  font-family: "Lato";
  font-size: clamp(1.95rem, 5vw, 1.25rem);
  font-weight: 700;
  line-height: 36px;
  color: #F1592A;
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: none;
}

.category-item a:hover {
  background-color: #EDEFF3;
  color: #F1592A;
  font-weight: 700;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .categories-section .categories-wrapper {
    column-count: 1 !important;
    grid-template-columns: 1fr !important;
  }
  .categories-section .title {
    font-size: clamp(2.20rem, 5vw, 5rem);
    margin-bottom: 0px;
    margin-left: 13px;
    text-align: left;
    text-transform: uppercase;
  }
  .categories-section .category-item a:not(.category-header) {
    padding-left: 25px;
  }
  .categories-section .category-item {
    margin-bottom: 20px;
  }
  .banner {
    margin: 20px !important;
  }
}