.cart__ctas,
.cart__warnings,
.tax-note {
  text-align: center;
}
.cart {
  position: relative;
  display: block;
}
div#cart__wrapper {
  padding-left: 32px;
}
.cart__empty-text,
.cart__footer #prime-saved-box,
.is-empty .cart__contents,
.is-empty .cart__footer,
cart-items.is-empty .title-wrapper-with-link {
  display: none;
}
.is-empty .cart__empty-text,
.is-empty .cart__warnings,
cart-items {
  display: block;
}
.cart__warnings {
  display: none;
  padding: 3rem 0 1rem;
}
.cart__empty-text {
  margin: 4.5rem 0 2rem;
}
.cart__contents > * + * {
  margin-top: 2.5rem;
}
.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}
.cart__login-paragraph {
  margin-top: 0.8rem;
}
.cart__login-paragraph a {
  font-size: inherit;
}
@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }
  .cart__empty-text {
    margin: 0 0 3rem;
  }
}
.cart__items {
  position: relative;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}
.cart__items--disabled {
  pointer-events: none;
}
.cart__footer > div:only-child {
  margin-left: auto;
}
.cart__note {
  height: fit-content;
  top: 2.5rem;
}
.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}
.cart-items thead tr th,
.cart__table-header > div {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b3b3b3;
}
.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}
.cart__note .text-area {
  resize: vertical;
}
.cart__note .field__input,
.cart__note .field__input:focus,
.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:after,
.cart__note:hover.cart__note:before {
  border-bottom-right-radius: 0;
}
.cart__footer {
  padding: 32px;
  box-shadow: 0 10px 40px 0 #7e7e7e1f;
  border-radius: 12px;
  position: sticky;
  top: 0;
  width: 100%;
}
.cart__blocks {
  width: 100%;
}
.cart__footer-title {
  font-family: Lato;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0;
  margin: 0 0 24px;
}
.cart-note__label,
.cart__update-button {
  margin-bottom: 1rem;
}
.cart__ctas button {
  width: 100%;
  cursor: pointer;
}
.cart__ctas > * + * {
  margin-top: 1rem;
}
.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
  margin: 0;
}
.cart__footer-wrapper {
  max-width: 491px;
  width: 100%;
}
.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}
.cart-note__label {
  display: inline-block;
  line-height: calc(1 + 1 / var(--font-body-scale));
}
.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  display: block;
}
@media screen and (min-width: 750px) {
  .cart__contents > * + *,
  .cart__footer > * + * {
    margin-top: 0;
  }
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .cart__items + .cart__footer {
    grid-column: 2;
  }
  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }
  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }
  .cart-note {
    max-width: 35rem;
  }
  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }
  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }
  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }
  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}
#cart__wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  column-gap: 20px;
  max-width: 1280px;
  padding: 80px 0;
}
#cart__wrapper .page-width {
  padding: 0;
}
.title-wrapper-with-link .title {
  font-family: Oswald;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
}
.accordion-title,
.cart__checkout-button.button,
.totals__subtotal {
  line-height: 24px;
  font-weight: 700;
  font-family: Lato;
}
.cart-items thead tr th {
  padding-bottom: 32px;
  font-family: Lato;
  letter-spacing: 0;
}
.cart-items thead {
  position: relative;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.accordion {
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
}
.accordion-title {
  font-size: 16px;
  letter-spacing: 0;
  color: #000;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
}
.accordion + .accordion,
.accordion-content-inner {
  margin-top: 16px;
}
.docapp-single-shipping-calculator,
.docapp-single-shipping-calculator .docapp-shipping-calculator--body .docapp-shipping-calculator--rates {
  margin: 0 !important;
}
.accordion-chevron {
  transition: 0.3s linear;
}
.accordion-header[aria-expanded='true'] > .accordion-chevron {
  transform: rotate(-180deg);
}
.accordion-header::after{
  content: ''; 
}
.supporting-menu__payment.payment-icons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 16px !important;
  flex-direction: row;
}
.cart__checkout-button.button {
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 16px;
}
.docapp-single-shipping-calculator .docapp-shipping-calculator--body {
  margin-top: 10px;
}
.docapp-shipping-calculator {
  flex-direction: column;
}
.docapp-cart-with-shipping-summary .docapp-shipping-calculator--input,
.docapp-single-shipping-calculator .docapp-shipping-calculator--input {
  padding: 0 !important;
  flex-basis: auto;
}
.docapp-cart-with-shipping-summary .docapp-shipping-calculator--button,
.docapp-single-shipping-calculator .docapp-shipping-calculator--button {
  font-family: Lato !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  padding: 12px 0;
  margin-bottom: 24px !important;
  background-color: transparent !important;
  color: #23232b !important;
  letter-spacing: 0;
}
.docapp-cart-with-shipping-summary .docapp-shipping-calculator--input input[type='text'].docapp-shipping-calculator--input-address,
.docapp-cart-with-shipping-summary .docapp-shipping-calculator--input input[type='text'].docapp-shipping-calculator--input-city,
.docapp-cart-with-shipping-summary .docapp-shipping-calculator--input input[type='text'].docapp-shipping-calculator--input-zip,
.docapp-cart-with-shipping-summary .docapp-shipping-calculator--input select.docapp-shipping-calculator--select,
.docapp-single-shipping-calculator .docapp-shipping-calculator--input input[type='text'].docapp-shipping-calculator--input-address,
.docapp-single-shipping-calculator .docapp-shipping-calculator--input input[type='text'].docapp-shipping-calculator--input-city,
.docapp-single-shipping-calculator .docapp-shipping-calculator--input input[type='text'].docapp-shipping-calculator--input-zip,
.docapp-single-shipping-calculator .docapp-shipping-calculator--input select.docapp-shipping-calculator--select {
  padding: 12px 44px 12px 12px !important;
  font-family: Lato !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0;
  margin-bottom: 16px !important;
  border: 1.5px solid #e5e5e5 !important;
}
.docapp-single-shipping-calculator .docapp-shipping-calculator--button {
  border: 1.5px solid #d3d9e5 !important;
}
.docapp-single-shipping-calculator .docapp-shipping-calculator--button:hover {
  background-color: transparent !important;
  border: 1.5px solid #d3d9e5 !important;
  color: #23232b !important;
}
.totals {
  margin-top: 24px;
  align-items: center;
  margin-bottom: 24px;
}
.totals__subtotal {
  font-size: 18px;
  letter-spacing: 0;
  text-transform: capitalize;
}
.totals__subtotal-value {
  font-family: Lato;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0;
}
.download-quote {
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 20px;
}
.download-quote button {
  width: 36%;
  cursor: pointer;
}
shopify-accelerated-checkout-cart {
  --shopify-accelerated-checkout-button-block-size: 48px;
  --shopify-accelerated-checkout-row-gap: 16px;
  --shopify-accelerated-checkout-button-border-radius: 8px;
  --shopify-accelerated-checkout-button-inline-size: 100px;
  --shopify-accelerated-checkout-skeleton-animation-opacity-end: 1;
  --shopify-accelerated-checkout-button-box-shadow: none;
  --shopify-accelerated-checkout-inline-alignment: center;
}
.cart__footer .discounts {
  margin: 16px 0;
}
cart-items .cart-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
}

cart-items .cart-item__inner {
  display: flex;
  width: 100%;
}

cart-items .cart-item__details {
  flex-grow: 1;
  width: 100%;
  flex-shrink: 0;
  max-width: 466px;
}
.cart__table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  position: relative;
}
.cart__table-header > div {
  font-family: Lato;
  letter-spacing: 0;
}
.cart-items .line {
  position: absolute;
  width: calc(100% - 150px);
  height: 1px;
  background-color: #e5e5e5;
  padding: 0;
  left: 90px;
  top: 10px;
}
.cart__warnings .button {
  justify-content: center;
}
#cart__wrapper:has(.is-empty) .cart__footer-wrapper {
  display: none;
}
.california-discount-offer,
.california-discount-offer .mobile-text {
  display: none;
}
.california-discount-offer {
  padding: 0 100px;
}
.california-discount-offer p {
  text-align: center;
  background: #f1592a;
  padding: 5px 10px;
  color: #fff;
}
@media (max-width: 1366px) {
  .california-discount-offer {
    padding: 0 18px;
  }
  #cart__wrapper {
    padding: 80px 5rem;
    max-width: 100%;
  }
  cart-items .cart-item__details {
    max-width: 350px;
  }
  .cart__footer-wrapper {
    max-width: 400px;
  }
}
@media (max-width: 1200px) {
  cart-items .cart-item__details {
    max-width: 295px;
  }
  .cart__footer-wrapper {
    max-width: 350px;
  }
}
@media (max-width: 992px) {
  .california-discount-offer .desktop-text {
    display: none;
  }
  .california-discount-offer .mobile-text {
    display: block;
  }
  #cart__wrapper {
    flex-direction: column;
    row-gap: 48px;
  }
  cart-items .cart-item__details {
    max-width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .cart__footer-wrapper,
  .section-cart-items {
    max-width: 100%;
  }
  .cart-item cart-remove-button {
    width: auto;
    height: auto;
  }
  .cart-item__totals,
  cart-items .cart-item__details {
    margin-left: 16px;
  }
}
@media (max-width: 749px) {
  #cart__wrapper {
    padding: 24px 16px;
  }
  .cart__table-header,
  cart-items .title-wrapper-with-link {
    margin-bottom: 20px;
  }
  .cart-item__totals,
  .cart__checkout-button.button {
    margin-bottom: 12px;
  }
  .title-wrapper-with-link .title {
  }
  .cart-item__totals {
    justify-content: space-between;
    margin-left: 0;
    position: static;
    flex-direction: row-reverse;
  }
  cart-items .cart-item dl .product-option {
    display: inline-block;
    margin: 0 0 8px;
  }
  cart-items .cart-item dl {
    margin-bottom: 0;
  }
  .quantity-popover-container {
    margin-top: 0;
  }
  cart-items .cart-item__details {
    position: relative;
    margin-left: 12px;
  }
  .cart-item cart-remove-button {
    position: absolute;
    top: 10px;
    right: 0;
  }
  cart-items .cart-item__name {
    font-size: 14px;
    line-height: 20px;
    max-width: calc(100% - 28px);
  }
  .cart-item__quantity {
    margin-left: 0;
  }
  .cart-item__price-wrapper .price {
    font-size: 16px;
    line-height: 24px;
  }
  .cart-item__media > div {
    width: 60px;
    height: 60px;
  }
  cart-items .cart-item {
    gap: 0;
    margin-bottom: 16px;
  }
  .totals {
    justify-content: space-between !important;
    margin: 20px 0;
  }
}
@media (max-width: 576px) {
  .avis-edit-options {
    width: 100%;
    display: block !important;
    max-width: 100%;
  }
  .avis-edit-options:after {
    left: calc(50% - 50px);
  }
  .cart__footer {
    padding: 16px;
  }
  .cart__footer-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .cart__checkout-button.button {
    margin-bottom: 12px;
  }
  .cart-items__assistance {
    margin-top: 48px;
  }
  .cart-items__assistance-title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 26px;
  }
  .cart-items__assistance-label {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .cart-items__assistance-buttons {
    flex-direction: column;
    row-gap: 16px;
  }
  .cart-items__assistance-button {
    width: 100%;
  }
  .totals__subtotal-value {
    font-size: 18px;
    line-height: 24px;
  }
  .totals {
    margin: 12px 0;
  }
  div#cart__wrapper {
    padding-left: 16px;
  }
}
