cart-items .title-wrapper-with-link {
    margin-top: 0;
    margin-bottom: 32px;
}

.cart-items td,
.cart-items th {
    padding: 0;
    border: none;
}

.cart-items th {
    text-align: left;
    padding-bottom: 1.8rem;
    opacity: 0.85;
    font-weight: normal;
}

.title-wrapper-with-link .underlined-link {
    display: none;
}

.cart-item__quantity-wrapper {
    display: flex;
}

.cart-item__quantity-wrapper .quantity-text {
    margin: 0px 15px;
}

.cart-item__totals {
    position: relative;
    flex-grow: 1;
}

.cart-items *.right {
    text-align: right;
}

.cart-item__image-container {
    display: inline-flex;
    align-items: flex-start;
}

.cart-item__image-container:after {
    content: none;
}

.cart-item__image {
    height: auto;
    max-width: calc(10rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
    .cart-item__image {
        max-width: 100%;
    }
}



.cart-item__details > * {
    margin: 0;

}


.cart-item__media {
    position: relative;
}

.cart-item__link {
    display: block;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cart-item__name {
    text-decoration: none;
    display: block;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #23232B;
    margin-bottom: 12px;
    max-width: 380px;
}

.cart-item__name.extra-option-title {
    font-size: 14px;
    font-weight: 400;
}


.cart-item__price-wrapper > * {
    display: block;
    margin: 0;
    padding: 0;
}

.cart-item__discounted-prices dd {
    margin: 0;
}

.cart-item__discounted-prices .cart-item__old-price {
    font-size: 1.4rem;
}

.cart-item__old-price {
    opacity: 0.7;
}

.cart-item__final-price {
    font-weight: 400;
}

.product-option {
    font-size: 1.4rem;
    word-break: break-word;
    line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.cart-item cart-remove-button {

    margin-left: 1rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
    .cart-item cart-remove-button {
        width: 4.5rem;
        height: 4.5rem;
    }
}

cart-remove-button .button {

}

cart-remove-button .button:before,
cart-remove-button .button:after {
    content: none;
}

cart-remove-button .button:not([disabled]):hover {
    color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
    cart-remove-button .button {


    }
}

cart-remove-button .icon-remove {
    height: 1.5rem;
    width: 1.5rem;
}

.cart-item .loading__spinner {
    top: 0;
    left: auto;
    right: auto;
    bottom: 0;
    padding: 0;
}

@media screen and (min-width: 750px) {
    .cart-item .loading__spinner {
        right: 0;
        padding-top: 4.5rem;
        bottom: auto;
    }
}

.cart-item .loading__spinner:not(.hidden) ~ * {
    visibility: hidden;
}

.cart-item__error {
    display: flex;
    align-items: flex-start;
    margin-top: 0.2rem;
    width: min-content;
    min-width: 100%;
}

.cart-item__error-text {
    font-size: 1.3rem;
    line-height: 1.4;
    letter-spacing: 0.04rem;
    order: 1;
}

.cart-item__error-text + svg {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.7rem;
    margin-top: 0.25rem;
}

.cart-item__error-text:empty + svg {
    display: none;
}

.product-option + .product-option {
    margin-top: 8px;
}

.product-option dt {
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #808080;
}

.product-option dd {
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

.product-option * {
    display: inline;
    margin: 0;
}

.cart-items thead th {
    text-transform: uppercase;
}

.section-cart-items {
    max-width: 733px;
}

.cart-item__media {
    vertical-align: top;
}


.cart-item cart-remove-button {
    margin: 0 !important;
}

.cart-item cart-remove-button a {
    min-width: auto;
    min-height: auto;
    padding: 0;
    background: transparent;
    margin: 0;
}

.cart-item__price-wrapper {
    display: flex;
    align-items: center;
    column-gap: 12px;
    justify-content: flex-end;
}

.cart-item__price-wrapper .price {
    color: #23232B;
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: right;
}

.cart-item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cart-item dl {
    margin-top: 0;
    margin-bottom: 8px;
}

.avis-edit-options {
    width: 151px;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #23232B;
    border: 1px solid #D3D9E5;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none;
    position: relative;
}

.avis-edit-options > span {
    padding-left: 10px;
}

.cart-item:last-child {
    padding-bottom: 12px;
}

.cart-items__assistance {
    margin-top: 52px;
}

.cart-items__assistance-title {
    font-family: Lato;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0px;
    margin: 0 0 16px 0;
}

.cart-items__assistance-label {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #23232B;
    display: inline-block;
    margin-bottom: 24px;
}

.cart-items__assistance-buttons {
    display: flex;
    justify-content: flex-start;
    column-gap: 16px;
}

.cart-items__assistance-button {
    display: flex;
    align-items: center;
    column-gap: 8px;
    border: 1.5px solid #D3D9E5;
    height: 48px;
    width: 151px;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-decoration: none;
    border-radius: 8px;
    justify-content: center;
}

.cart-items__assistance-button svg {
    width: 24px;
    height: 24px;
}

#MainContent .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .2s linear;
}

#MainContent .overlay.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    z-index: 11;
}

.cart-items__popup {
    position: fixed;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    padding: 32px;
    max-width: 600px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: all .2s linear;
    width: 100%;
}

.cart-items__popup.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    z-index: 12;
}

.cart-items__popup-wrapper {
    position: relative;
}

#cart__wrapper:has(.section-cart-items .is-empty) {
    justify-content: center;
}
.section-cart-items .is-empty + .cart-items__assistance {
    display: none;
}
.cart-items__popup-close {
    position: absolute;
    right: 0;
    top: 0;
}

.cart-items__popup-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0px;
    margin: 0 0 16px 0;
    max-width: 450px;
}

.cart-items__popup-copy {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    margin: 0 0 24px 0;
}

.cart-items__popup-buttons {
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.cart-items__popup-btn {
    width: calc(50% - 8px);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    height: 48px;
    border-radius: 8px;
}

.cart-items__popup-btn.cart-items__popup-btn--cancel {
    color: #23232B;
    border: 1.5px solid #D3D9E5;
}

.cart-items__popup-btn.cart-items__popup-btn--remove {
    background-color: #E9380D;
    color: #fff;
}

.cart-items__popup-btn.cart-items__popup-btn--remove svg path {
    fill: #fff;
}


@media screen and (max-width: 749px) {
    .cart-items,
    .cart-items thead,
    .cart-items tbody {
        display: block;
        width: 100%;
    }

    .cart-items thead tr {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
        margin-bottom: 4rem;
    }

    .cart-item {
        display: grid;
        grid-template: repeat(2, auto) / repeat(4, 1fr);
        gap: 1.5rem;
        margin-bottom: 3.5rem;
    }

    .cart-item:last-child {
        margin-bottom: 0;
    }

    .cart-item__media {
        grid-row: 1 / 3;
    }

    .cart-item__details {
        grid-column: 2 / 4;
    }

    .cart-item__quantity {
        grid-column: 2 / 5;
    }

    .cart-item__totals {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 750px) {
    .cart-items {
        border-spacing: 0;
        border-collapse: separate;
        box-shadow: none;
        width: 100%;
        display: table;
    }

    .cart-items th {
        border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
    }

    .cart-items thead th:first-child {
        width: 50%;
    }

    .cart-items th + th {
        padding: 0;
        border: none;
    }




    .cart-item cart-remove-button {
        margin: 0.5rem 0 0 1.5rem;
    }

    .cart-item__price-wrapper > *:only-child:not(.cart-item__discounted-prices) {
        margin-top: 1rem;
    }

    .cart-item__error {
        margin-left: 0.3rem;
    }
}

@media screen and (min-width: 990px) {
    .cart-item .cart-item__quantity,
    .cart-items .cart-items__heading--wide {

    }

    .cart-item__details {
        width: auto;
        padding-left: 16px !important;
    }

    .cart-items thead th:first-child {
        width: 80%;
        border: none;
    }
}

@media screen and (min-width: 750px) {
    .cart-items .cart-items__heading--quantity,
    .cart-item .cart-item__quantity,
    .cart-item__quantity--info quantity-popover > * {

    }

    .cart-item .cart-item__quantity--info,
    .cart-item__quantity--info .cart-item__quantity-wrapper,
    .cart-item__quantity--info .cart-items__info {
        padding-left: 0;
    }
}

@media screen and (max-width: 989px) {
    .cart-items .quantity-popover__info-button {
        padding-left: 0;
    }
}


@media (max-width: 576px) {
    .cart-items__popup {
        padding: 24px 16px;
        max-width: 343px;
    }
    .cart-items__popup-title {
        font-size: 20px;
        line-height: 26px;
        max-width: 270px;
        margin-bottom: 20px;
    }
    .cart-items__popup-copy {
        margin-bottom: 20px;
    }
    .cart-items__popup-buttons {
        flex-direction: column-reverse;
        row-gap: 16px;
    }
    .cart-items__popup-btn {
        width: 100%;
    }
}