.collection-hero__inner {
    display: flex;
    flex-direction: column;
}

.collection-hero--with-image .collection-hero__inner {
    margin-bottom: 0;
    padding-bottom: 2rem;
}

@media screen and (min-width: 750px) {
    .collection-hero.collection-hero--with-image {
        padding: calc(4rem + var(--page-width-margin)) 0 calc(4rem + var(--page-width-margin));
        overflow: hidden;
    }

    .collection-hero--with-image .collection-hero__inner {
        padding-bottom: 0;
    }
}

.collection-hero__text-wrapper {
    width: 100%;
}

.collection-hero__title {
    color: var(--primary-orange);
    font-family: Lato;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.collection-hero__description a {
    font-weight: 700;
    color: var(--primary-orange);
}

@media screen and (min-width: 750px) {
    .collection-hero {
        padding: 0;
    }

    .collection-hero__inner {
        align-items: center;
        flex-direction: row;
        padding-bottom: 0;
    }

    .collection-hero__title {
        margin-bottom: 24px;
        font-size: 36px;
        line-height: 1.2;
    }
}

.collection-nav-arrow {
    position: absolute;
    top: 1px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #F1592A;
    color: #F1592A;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.collection-nav-arrow.left {
    left: -32px;
}

.collection-nav-arrow > svg path {
    fill: #F1592A;
}

.collection-nav-arrow.right {
    right: -32px;
}

.bg-transparent {
    display: none;
}

/* .collection-hero__related-collections-wrapper:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 30px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -21.67%, #FFFFFF 93.33%);
    z-index: 2;
} */

@media (max-width: 749px) {
    .collection-hero__related-collections {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        padding-bottom: 2px;
        /* scroll-behavior: smooth; */
    }

    .collection-hero__related-collections::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    .collection-hero__related-collections::-webkit-scrollbar-track {
        background: white;
    }

    .collection-hero__related-collections::-webkit-scrollbar-thumb {
        background: #f1592a;
        border-radius: 10px;
        background-clip: padding-box;
    }

    .collection-hero__related-collections::-webkit-scrollbar-thumb:hover {
        background: #d9481e;
    }

    .collection-hero__related-collections-wrapper {
        margin-bottom: 24px;
        position: relative;
    }

    .collection-hero__related-collections-toggle {
        position: relative;
        display: none;
        align-items: center;
        width: 100%;
        padding: 10px;
        height: 48px;
        border-radius: 8px;
        background: #fff;
        border: 1.5px solid #E5E5E5;
        padding: 0 calc(var(--inputs-border-width) + 3rem) 0 2rem;
        padding-right: 16px;
        text-align: left;
        font-size: 1.6rem;
        color: rgba(var(--color-foreground), .75);
        cursor: pointer;
    }

    .collection-hero__related-collections-toggle svg {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }


    .collection-hero__related-collections-toggle svg path {
        fill: #000;
    }

    .collection-nav-arrow.left {
        top: 44px;
        left: 0;
    }

    .collection-nav-arrow.right {
        top: 44px;
        right: 0;
    }

    .collection-hero__related-collections-toggle {
        display: flex;
    }

    .collection-hero__related-collections {
        /* display: none; */
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        padding: 0 8px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 10px 40px #7e7e7e1f;
        opacity: 0;
        transform: translateY(4px);
        pointer-events: none;
        transition: opacity .2s ease, transform .2s ease;
        max-height: 300px;
        overflow-y: auto;
        scrollbar-width: thin;
        z-index: 2;
    }

    .collection-hero__related-collections.is-open {
        /* display: flex; */
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
    
    .collection-hero__related-collections-toggle[aria-expanded=true] svg {
        transform: translateY(-50%) rotate(180deg);
    }

    .collection-hero__related-collections li {
        width: 100%;
        /* padding: 10px;
        border-bottom: 1px solid #eee; */
        
    }

    .collection-hero__related-collections a {
        display: block;
        padding: 10px;
        min-height: 4.3rem;
        font-family: Lato;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0;
        vertical-align: middle;
        white-space: nowrap;
        margin-bottom: 0;
    }

    .collection-hero__related-collections a.active {
        color: #F1592A;
    }

    .collection-hero__related-collections-wrapper {
        position: relative;
        margin-bottom: 20px;
        /* margin-bottom: 40px; */
    }
}

.collection-hero__title + .collection-hero__description {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
    .collection-hero__related-collections-wrapper {
        margin-bottom: 24px;
    }

    .collection-hero__related-collections-toggle {
        display: none;
    }

    .collection-hero__related-collections {
        display: flex;
        flex-wrap: wrap;
        gap: 5px 20px;
        background: #faf9f9;
        border-radius: 6px;
        padding: 20px;

        > li {
            width: calc(50% - 10px);
        }
    }

    .collection-hero__related-collections a {
        color: #F1592A;
        font-weight: 700;
        text-transform: uppercase;
    }

    .collection-hero__related-collections .all {
        display: none;
    }
}

.collection-hero--with-image .collection-hero__title {
    margin: 0;
}

.collection-hero--with-image .collection-hero__text-wrapper {
    padding: 5rem 0 4rem;
}

.collection-hero__image-container {
    border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
    border-radius: var(--media-radius);
    box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
}

@media screen and (max-width: 749px) {
    .collection-hero__image-container {
        height: 20rem;
    }
}

@media screen and (min-width: 750px) {
    .collection-hero__title + .collection-hero__description {
        margin-top: 2rem;
        margin-bottom: 24px;
    }

    .collection-hero--with-image .collection-hero__description {
        max-width: 100%;
    }

    .collection-hero--with-image .collection-hero__text-wrapper {
        padding: 4rem 2rem 4rem 0;
        flex-basis: 50%;
    }

    .collection-hero__image-container {
        align-self: stretch;
        flex: 1 0 50%;
        margin-left: 3rem;
        min-height: 20rem;
    }
}
