.list-social {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.list-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: var(--grey-dark);
  transition: background-color 0.1s;
}
.list-social__link:hover {
  background-color: #4c4c56;
}
