.tile-calculator {
  display: block;
  font-family: "Lato";
}

.tile-calculator__details {
  position: relative;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  margin-bottom: 4rem;
}

.tile-calculator__details::after {
}

.tile-calculator__details[open]::after {
  transform: rotate(180deg);
}

.tile-calculator__details::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4697 8.46967C11.7626 8.17678 12.2374 8.17678 12.5303 8.46967L18.5303 14.4697C18.8232 14.7626 18.8232 15.2374 18.5303 15.5303C18.2374 15.8232 17.7626 15.8232 17.4697 15.5303L12 10.0607L6.53033 15.5303C6.23744 15.8232 5.76256 15.8232 5.46967 15.5303C5.17678 15.2374 5.17678 14.7626 5.46967 14.4697L11.4697 8.46967Z' fill='black'/%3E%3C/svg%3E%0A");
  transform: rotate(0deg);
}

.tile-calculator__summary {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  gap: 8px;
  user-select: none;
  color: #000;
}

.tile-calculator__label {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #393940;
  margin-bottom: 6px;
}

.tile-calculator select,
.tile-calculator input,
.tile-calculator__select-toggle {
  min-height: 4.8rem;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 12px;
  color: #000;
  font-size: 1.6rem;
}

.tile-calculator__custom-select {
  position: relative;
}
.tile-calculator__select-toggle {
  position: relative;
  width: 100%;
  background-color: #fff;
  text-align: left;
  cursor: pointer;
}
.tile-calculator__select-toggle::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4697 8.46967C11.7626 8.17678 12.2374 8.17678 12.5303 8.46967L18.5303 14.4697C18.8232 14.7626 18.8232 15.2374 18.5303 15.5303C18.2374 15.8232 17.7626 15.8232 17.4697 15.5303L12 10.0607L6.53033 15.5303C6.23744 15.8232 5.76256 15.8232 5.46967 15.5303C5.17678 15.2374 5.17678 14.7626 5.46967 14.4697L11.4697 8.46967Z' fill='black'/%3E%3C/svg%3E%0A");
  transform: rotate(0deg);
}
.tile-calculator__select-toggle[aria-expanded="true"] {
  border: 1px solid var(--primary-orange);
}
.tile-calculator__select-toggle[aria-expanded="true"]::after {
  transform: rotate(180deg);
}
.tile-calculator__select-label {
  font-size: 1.6rem;
}

.tile-calculator__select-options {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 0 8px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 10px 40px rgba(126, 126, 126, 0.12);
  opacity: 0;
  transform: translateY(4px);
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 1;
}

.tile-calculator__select-options.is-open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.tile-calculator__select-options li {
  padding: 10px;
  min-height: 4.3rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  cursor: pointer;
}

.tile-calculator__select-options li.is-selected,
.tile-calculator__select-options li:hover {
  color: var(--primary-orange);
  font-weight: 700;
}

.tile-calculator__fields-group {
  padding-top: 16px;
  display: grid;
  gap: 0.8rem;
  row-gap: 1.6rem;
  align-items: end;
}

.tile-calculator__fields-group--with-button {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 1200px) {
  .tile-calculator__fields-group--with-button {
    grid-template-columns: repeat(2, minmax(0, 1fr)) 114px;
  }
}

.tile-calculator__fields-group--equal-cols {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.tile-calculator__fields-group--with-button
  .tile-calculator__field:first-of-type {
  margin-right: 7px;
}

.tile-calculator__fields-group--with-button
  .tile-calculator__field:first-of-type::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 72px;
  right: -15px;
  top: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='72' viewBox='0 0 7 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.338 53H5.312C5.224 53 5.154 52.978 5.102 52.934C5.054 52.886 5.014 52.834 4.982 52.778L3.452 50.396C3.436 50.452 3.418 50.508 3.398 50.564C3.382 50.616 3.358 50.664 3.326 50.708L1.91 52.778C1.87 52.834 1.826 52.886 1.778 52.934C1.734 52.978 1.672 53 1.592 53H0.638L2.768 49.88L0.722 46.922H1.748C1.836 46.922 1.9 46.936 1.94 46.964C1.98 46.992 2.016 47.032 2.048 47.084L3.542 49.364C3.574 49.248 3.624 49.136 3.692 49.028L5 47.108C5.036 47.052 5.074 47.008 5.114 46.976C5.158 46.94 5.21 46.922 5.27 46.922H6.254L4.208 49.826L6.338 53Z' fill='%23393940'/%3E%3C/svg%3E");
}

.tile-calculator__fields-group--with-button
  .tile-calculator__field:nth-of-type(2) {
  margin-left: 7px;
}

.tile-calculator__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.tile-calculator select {
  width: 100%;
}

.tile-calculator__button {
  cursor: pointer;
}

.tile-calculator__inputs {
  padding-top: 16px;
}

.tile-calculator__button {
  min-width: 100%;
  grid-column: 1 / -1;
  text-align: center;
  justify-content: center;
}

@media (min-width: 1200px) {
  .tile-calculator__button {
    grid-column: auto;
    min-width: 114px;
    max-width: 114px;
  }
}
.tile-calculator__result {
  padding-top: 1.6rem;
  margin: 0;
  font-size: 1.4rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.tile-calculator__result span {
  display: flex;
  flex-direction: column;
}

.tile-calculator__result strong {
  padding-top: 8px;
  color: #000;
}
@media (min-width: 1200px) {
  .tile-calculator__result {
    justify-content: flex-start;
  }

  .tile-calculator__result span {
    flex-direction: row;
  }

  .tile-calculator__result strong {
    padding-top: 0;
    padding-left: 6px;
  }
}
.tile-calculator__spinner {
}
.tile-calculator__breakdown input[readonly] {
  background-color: transparent;
  color: #b3b3b3;
}

.tile-calculator__breakdown-title {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #000;
}
