.button-show-more {
    padding-left: 0;
    justify-content: flex-start;
    padding-bottom: 1.1rem;
}

.button-show-more,
.button-show-less {
    margin-top: 12px;
    padding: 0;
}

span.label-show-less.label-text > span {
    height: 24px;

}