.main-comparison__item {
    width: calc(100% / 3 - 22px);
    border: 1px solid #E5E5E5;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-comparison__item-img-wrapper {
    margin-bottom: 24px;
    background-color: #FAF9F9;
    border-radius: 12px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.main-comparison__item-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    max-height: 82px;
}


.main-comparison__item-count {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    display: inline-block;
    margin-bottom: 12px;
    color: #808080;
}

.main-comparison__item-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-family: "Lato", sans-serif;
}

.main-comparison__item-copy {
    margin: 0 0 16px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}

.main-comparison__item-link {
    display: flex;
    align-items: center;
    column-gap: 4px;
    text-decoration: none;
    color: #F1592A;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-top: auto;
}

.main-comparison__item-link svg path {
    fill: #F1592A;
}

.main-comparison__item-link:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

@media (max-width: 1200px) {
    .main-comparison__item {
        width: calc(50% - 16px);
    }
}

@media (max-width: 749px) {
    .main-comparison__item {
        width: calc(50% - 8px);
        padding: 16px;
    }

    .main-comparison__wrapper {
        gap: 16px;
    }

    .main-comparison__item-img-wrapper {
        padding: 10px;
        margin-bottom: 12px;
    }

    .main-comparison__item-count {
        margin-bottom: 8px;
    }

    .main-comparison__item-title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
    }
}

@media (max-width: 576px) {
    .main-comparison__item {
        width: 100%;
    }
    .main-comparison__item-img-wrapper {
        height: 191px;
    }
}