.main-comparison__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: stretch;
}

.main-comparison {
    margin-bottom: 55px;
}


@media (max-width: 1200px) {
    .main-comparison__item {
        width: calc(50% - 16px);
    }
}