.list-social {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: var(--grey-dark);
    transition: background-color .1s;

    &:hover {
      background-color: #4c4c56;
    }
  }
}