.cart {
    position: relative;
    display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
    display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
    display: block;
}

.cart__warnings {
    display: none;
    text-align: center;
    padding: 3rem 0 1rem;
}

.cart__empty-text {
    margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
    margin-top: 2.5rem;
}

.cart__login-title {
    margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
    margin-top: 0.8rem;
}

.cart__login-paragraph a {
    font-size: inherit;
}

@media screen and (min-width: 990px) {
    .cart__warnings {
        padding: 7rem 0 1rem;
    }

    .cart__empty-text {
        margin: 0 0 3rem;
    }
}

cart-items {
    display: block;
}

.cart__items {
    position: relative;
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
    pointer-events: none;
}


.cart__footer > div:only-child {
    margin-left: auto;
}

.cart__footer #prime-saved-box {
    display: none;
}


.cart__footer .discounts {
    margin-bottom: 1rem;
}

.cart__note {
    height: fit-content;
    top: 2.5rem;
}

.cart__note label {
    display: flex;
    align-items: flex-end;
    position: absolute;
    line-height: 1;
    height: 1.8rem;
    top: -3rem;
    color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
    height: 100%;
    position: relative;
    border-radius: var(--inputs-radius);
    padding: 1rem 2rem;
}

.cart__note .text-area {
    resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
    border-bottom-right-radius: 0;
}

.cart__footer {
    padding: 32px;
    box-shadow: 0px 10px 40px 0px #7E7E7E1F;
    border-radius: 12px;
    position: sticky;
    top: 0;
    width: 100%;
}

.cart__blocks {
    width: 100%;
}

.cart__footer-title {
    font-family: Lato;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0px;
    margin: 0 0 24px 0;
}

@media screen and (min-width: 750px) {
    .cart__items {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .cart__contents > * + * {
        margin-top: 0;
    }

    .cart__items + .cart__footer {
        grid-column: 2;
    }

    .cart__footer {
        display: flex;
        justify-content: space-between;
        border: 0;
    }

    .cart__footer-wrapper:last-child {
        padding-top: 0;
    }


    .cart__footer > * + * {
        margin-top: 0;
    }
}

.cart__ctas button {
    width: 100%;
    cursor: pointer;
}

.cart__ctas > * + * {
    margin-top: 1rem;
}

.cart__update-button {
    margin-bottom: 1rem;
}


.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
    margin: 0;
}

.cart__footer-wrapper {
    max-width: 491px;
    width: 100%;
}

.cart__dynamic-checkout-buttons div[role='button'] {
    border-radius: var(--buttons-radius-outset) !important;
}


.cart-note__label {
    display: inline-block;
    margin-bottom: 1rem;
    line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
    margin: 2.2rem 0 1.6rem auto;
    text-align: center;
    display: block;
}


.cart__ctas {
    text-align: center;
}

@media screen and (min-width: 750px) {
    .cart-note {
        max-width: 35rem;
    }

    .cart__update-button {
        margin-bottom: 0;
        margin-right: 0.8rem;
    }

    .tax-note {
        margin-bottom: 2.2rem;
        text-align: right;
    }

    [data-shopify-buttoncontainer] {
        justify-content: flex-end;
    }

    .cart__ctas {
        display: flex;
        gap: 1rem;
    }
}

#cart__wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    column-gap: 20px;
    max-width: 1280px;
    padding: 80px 0;
}

#cart__wrapper .page-width {
    padding: 0;
}

.title-wrapper-with-link .title {
    font-family: Oswald;
    font-weight: 600;
    font-size: 48px;
    line-height: 68px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.cart-items thead tr th {
    padding-bottom: 32px;
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #B3B3B3;
}

.cart-items thead {
    position: relative;
}


.accordion-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.accordion {
    padding-bottom: 16px;
    border-bottom: 1px solid #E5E5E5;
}

.accordion-title {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #000;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
}

.accordion-content-inner {
    margin-top: 16px;
}

.accordion-chevron {
    transition: all .3s linear;
}

.accordion-header[aria-expanded="true"] > .accordion-chevron {
    transform: rotate(-180deg);
}

.supporting-menu__payment.payment-icons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.accordion + .accordion {
    margin-top: 16px;
}

.cart__checkout-button.button {
    justify-content: center;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    margin-bottom: 16px;
}

.docapp-single-shipping-calculator {
    margin: 0 !important;
}

.docapp-single-shipping-calculator .docapp-shipping-calculator--body {
    margin-top: 10px;
}

.docapp-shipping-calculator {
    flex-direction: column;
}

.docapp-cart-with-shipping-summary .docapp-shipping-calculator--input, .docapp-single-shipping-calculator .docapp-shipping-calculator--input {
    padding: 0 !important;
}

.docapp-cart-with-shipping-summary .docapp-shipping-calculator--input, .docapp-single-shipping-calculator .docapp-shipping-calculator--input {
    flex-basis: auto;
}


.docapp-cart-with-shipping-summary .docapp-shipping-calculator--input input[type=text].docapp-shipping-calculator--input-address,
.docapp-cart-with-shipping-summary .docapp-shipping-calculator--input input[type=text].docapp-shipping-calculator--input-city,
.docapp-cart-with-shipping-summary .docapp-shipping-calculator--input input[type=text].docapp-shipping-calculator--input-zip,
.docapp-cart-with-shipping-summary .docapp-shipping-calculator--input select.docapp-shipping-calculator--select,
.docapp-single-shipping-calculator .docapp-shipping-calculator--input input[type=text].docapp-shipping-calculator--input-address,
.docapp-single-shipping-calculator .docapp-shipping-calculator--input input[type=text].docapp-shipping-calculator--input-city,
.docapp-single-shipping-calculator .docapp-shipping-calculator--input input[type=text].docapp-shipping-calculator--input-zip,
.docapp-single-shipping-calculator .docapp-shipping-calculator--input select.docapp-shipping-calculator--select {
    padding: 12px 44px 12px 12px !important;
    font-family: Lato !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0px;
    margin-bottom: 16px !important;
    border: 1.5px solid #E5E5E5 !important;
}

.docapp-single-shipping-calculator .docapp-shipping-calculator--button {
    font-family: Lato !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0px;
    color: #23232B !important;
    padding: 12px 0;
    margin-bottom: 24px !important;
    background-color: transparent !important;
    border: 1.5px solid #D3D9E5 !important;
}

.docapp-cart-with-shipping-summary .docapp-shipping-calculator--button {
    font-family: Lato !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0px;
    color: #23232B !important;
    padding: 12px 0;
    margin-bottom: 24px !important;
    background-color: transparent !important;
}

.docapp-single-shipping-calculator .docapp-shipping-calculator--button:hover {
    background-color: transparent !important;
    border: 1.5px solid #D3D9E5 !important;
    color: #23232B !important;
}

.docapp-single-shipping-calculator .docapp-shipping-calculator--body .docapp-shipping-calculator--rates {
    margin: 0 !important;
}

.totals {
    margin-top: 24px;
    align-items: center;
    margin-bottom: 24px;
}

.totals__subtotal {
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.totals__subtotal-value {
    font-family: Lato;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0px;
}

.download-quote {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 20px;
}

.download-quote button {
    width: 36%;
    cursor: pointer;
}

shopify-accelerated-checkout-cart {
    --shopify-accelerated-checkout-button-block-size: 48px;
    --shopify-accelerated-checkout-row-gap: 16px;
    --shopify-accelerated-checkout-button-border-radius: 8px;
    --shopify-accelerated-checkout-button-inline-size: 100px;
    --shopify-accelerated-checkout-skeleton-animation-opacity-end: 1;
    --shopify-accelerated-checkout-button-box-shadow: none;
    --shopify-accelerated-checkout-inline-alignment: center;

}

.cart__footer .discounts {
    margin: 16px 0;
}


cart-items .cart-item {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
}

cart-items .cart-item__details {
    flex-grow: 1;
    width: 100%;
    flex-shrink: 0;
    max-width: 466px;
}

.cart__table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    position: relative;
}

.cart__table-header > div {
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #B3B3B3;
}


.cart-items .line {
    position: absolute;
    width: calc(100% - 150px);
    height: 1px;
    background-color: #E5E5E5;
    padding: 0;
    left: 90px;
    top: 10px;
}

.cart__warnings .button {
    justify-content: center;
}

#cart__wrapper:has(.is-empty) .cart__footer-wrapper {
    display: none;
}

.california-discount-offer {
    display: none;
}

.california-discount-offer .mobile-text {
    display: none;
}

.california-discount-offer  {
    padding: 0px 400px;
}

.california-discount-offer p {
    text-align: center;
    background: #f1592a;
    padding: 5px 0px;
    color: white;
}

@media (max-width: 1366px) {
    .california-discount-offer  {
       padding: 0px 18px;
    }  
    #cart__wrapper {
        padding: 80px 5rem;
        max-width: 100%;
    }

    cart-items .cart-item__details {
        max-width: 350px;
    }

    .cart__footer-wrapper {
        max-width: 400px;
    }
}

@media (max-width: 1200px) {
    cart-items .cart-item__details {
        max-width: 295px;
    }

    .cart__footer-wrapper {
        max-width: 350px;
    }
}

@media (max-width: 992px) {
    .california-discount-offer .desktop-text  {
        display: none;
    }
    .california-discount-offer .mobile-text {
        display: block;
    }
    #cart__wrapper {
        flex-direction: column;
        row-gap: 48px;
    }

    cart-items .cart-item__details {
        max-width: 100%;
        flex-grow: 0;
        flex-shrink: 1;
    }

    .section-cart-items {
        max-width: 100%;
    }

    .cart__footer-wrapper {
        max-width: 100%;
    }

    .cart-item cart-remove-button {
        width: auto;
        height: auto;
    }

    cart-items .cart-item__details {
        margin-left: 16px;
    }

    .cart-item__totals {
        margin-left: 16px;
    }
}

@media (max-width: 749px) {
    #cart__wrapper {
        padding: 24px 16px;
    }

    cart-items .title-wrapper-with-link {
        margin-bottom: 20px;
    }

    .title-wrapper-with-link .title {
        font-size: 28px;
        line-height: 34px;
    }

    .cart__table-header {
        margin-bottom: 20px;
    }

    .cart-item__totals {
        justify-content: space-between;
        margin-left: 0;
        margin-bottom: 12px;
        position: static;
        flex-direction: row-reverse;
    }

    cart-items .cart-item dl .product-option {
        display: inline-block;
        margin: 0 0 8px 0;
    }

    cart-items .cart-item dl {
        margin-bottom: 0;
    }

    .quantity-popover-container {
        margin-top: 0;
    }

    cart-items .cart-item__details {
        position: relative;
        margin-left: 12px;
    }

    .cart-item cart-remove-button {
        position: absolute;
        top: 0;
        right: 0;
    }

    cart-items .cart-item__name {
        font-size: 14px;
        line-height: 20px;
        max-width: calc(100% - 28px);
    }

    .cart-item__quantity {
        margin-left: 0;
    }

    .cart-item__price-wrapper .price {
        font-size: 16px;
        line-height: 24px;
    }

    .cart-item__media > div {
        width: 60px;
        height: 60px;
    }

    cart-items .cart-item {
        gap: 0;
    }

    cart-items .cart-item {
        margin-bottom: 16px;
    }

    .totals {
        justify-content: space-between !important;
        margin: 20px 0;
    }

    .cart__checkout-button.button {
        margin-bottom: 12px;
    }
}

@media (max-width: 576px) {
    .avis-edit-options {
        width: 100%;
        display: block !important;
        max-width: 100%;
    }

    .avis-edit-options:after {
        left: calc(50% - 50px);
    }

    .cart__footer {
        padding: 16px;
    }

    .cart__footer-title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .cart__checkout-button.button {
        margin-bottom: 12px;
    }

    .cart-items__assistance {
        margin-top: 48px;
    }

    .cart-items__assistance-title {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 26px;
    }

    .cart-items__assistance-label {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .cart-items__assistance-buttons {
        flex-direction: column;
        row-gap: 16px;
    }

    .cart-items__assistance-button {
        width: 100%;
    }

    .totals__subtotal-value {
        font-size: 18px;
        line-height: 24px;
    }

    .totals {
        margin: 12px 0;
    }
}
