
.cart-link {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1592A;
    margin-top: 16px !important;
}

.drawer__heading {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: #23232B;
    text-transform: none;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0 !important;
}

.cart-drawer__subheading {
    font-size: 16px;
    font-weight: 400;
    color: #4F4F55;
    line-height: 24px;
    margin-bottom: 24px;
}

.cart-drawer__subheading span {
    font-weight: 700;
}

.product-option dt {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #808080;
}

.cart-item__wrapper {
    max-width: 310px;
}

.cart-item__details {
    max-width: 400px;
}

.cart-item__details .cart-title {
    display: flex;
    align-items: flex-start;
}

.cart-item {
    flex-wrap: wrap;
    padding-top: 16px;
    border-top: 1px solid #E5E5E5;
    margin-top: 16px;
    position: relative;
}

.cart-item:first-child {
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
}

.extra-option-item {
    align-items: center;
    width: calc(100% - 126px);
    margin-left: auto;
    margin-top: 10px;
    column-gap: 16px;
    padding-top: 8px;
    padding-bottom: 0;
}

.cart-drawer .extra-option-item.toggle {
    display: flex;
}

.add-info {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 126px) !important;
    margin-left: auto;
}

.extra-option-item dl {
    margin-top: 0;
    margin-bottom: 0;
}

.cart-drawer .extra-option-item .product-option dd {
    display: block;
    max-width: 256px;
}

cart-remove-button {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #23232B;
    margin-left: auto !important;
}

.show-extra {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 126px) !important;
    margin-top: 12px;
    margin-left: auto;
    cursor: pointer;
}

.show-extra.active svg {
    transform: scale(-1, -1);
}

.quantity-wrapper {
    color: #4F4F55;
}

.quantity-wrapper span {
    font-weight: 700;
    margin-left: 12px;
    color: #23232B;
}

.price-wrapper {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #23232B;
}

.cart-item dl {
    margin-top: 0;
    margin-bottom: 12px;
}

.total-wrapper {
    margin-top: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #808080;
}

.total-wrapper span {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #23232B;
}

.cart-remove-button {
    background: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.cart-item__quantity {
    margin-left: auto;
}

.empty-cart__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawer__close {
    margin-left: 10px;
    cursor: pointer;
}


.quantity-btn {
    background: none;
    border-radius: 4px;
    cursor: pointer !important;
    line-height: 1;
}

.cart-item--main .cart-item__media img {
    width: 110px;
    height: auto;
}

.cart-quantity-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra-price {
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Lato';
    color: #23232B;
}

tr[id^=CartDrawer] .apo-cart-item, .apo-cart-item-mini {
    display: block !important;
}

tr[id^=CartDrawer] cart-remove-button {
    display: block !important;
}

tr[id^=CartDrawer] td.cart-item__details {
    width: 100%;
    padding-left: 16px;
}

.quantity-btn[disabled] svg rect:first-child {
    fill: #F2F2F2;
}
.quantity-btn[disabled] svg rect:nth-child(2) {
    stroke: #CCCCCC;
}
.quantity-btn[disabled] svg path {
    fill: #CCCCCC;
}
.quantity-btn[disabled] {
    pointer-events: none;
    cursor: not-allowed !important;
}
cart-drawer-items {
    padding-right: 5px;
}
.drawer {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(var(--color-foreground), 0.5);
    transition: visibility var(--duration-default) ease;
}

.cart-drawer {
    width: 100%;
    max-width: 595px;
}

.drawer.active {
    visibility: visible;
}

.drawer__inner {
    height: 100%;
    width: 100%;

    max-width: 595px;
    padding: 0 24px;
    border-right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform var(--duration-default) ease;
}

.drawer__inner-empty {
    height: 100%;
    padding: 0 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cart-drawer__warnings {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 0;
}

cart-drawer.is-empty .drawer__header {
    display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
    display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
    margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
    transform: translateX(0);
}

.drawer__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawer__heading {
    margin: 0 0 1rem;
}

.drawer__close {
    display: inline-block;
    padding: 0;
    min-width: 12px;
    min-height: 12px;
    box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);

    color: rgb(var(--color-foreground));
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.drawer__close svg {
    width: 24px !important;
    height: 24px !important;
}

.cart-drawer__warnings .drawer__close {
    right: 5px;
}

.drawer__close svg {
    height: 2rem;
    width: 2rem;
}

.drawer__contents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.drawer__footer {
    padding: 24px 0;
}

cart-drawer-items.is-empty + .drawer__footer {
    display: none;
}

.drawer__footer > details {
    margin-top: -1.5rem;
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
    padding-bottom: 1.5rem;
}

.drawer__footer summary {
    display: flex;
    position: relative;
    line-height: 1;
    padding: 1.5rem 2.8rem 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
    padding-top: 1.5rem;
}

cart-drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}

.cart-drawer__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cart-drawer__overlay:empty {
    display: block;
}

.cart-drawer__form {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.cart-drawer__collection {
    margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
    flex-grow: 1;
}

.cart-drawer .cart-items,
.cart-drawer tbody {
    display: block;
    width: 100%;
}

.cart-drawer thead {
    display: inline-table;
    width: 100%;
}

cart-drawer-items {
    overflow: auto;
    flex: 1;
}

@media screen and (max-height: 650px) {
    cart-drawer-items {
        overflow: visible;
    }

    .drawer__inner {
        overflow: scroll;
    }
}

.cart-drawer .cart-item {
    margin-bottom: 0;
    /*width: 100%;*/
    column-gap: 16px;
}

.cart-drawer .cart-item-new {
    display: flex;
}

.cart-drawer .cart-item:last-child {
    margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
    grid-row: 1 / 3;
    vertical-align: top;
}

.cart-drawer .cart-item__image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.cart-item__media > div {
    width: 110px;
    height: 110px;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    background-color: #EDEFF3;
    padding: 8px;
}

.extra-option-item.apo-cart-item-mini .cart-item__media > div {
    width: 60px;
    height: 60px;
    padding: 4px;
}

.extra-option-item.apo-cart-item-mini .cart-item__media > div > img {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.extra-option-item.apo-cart-item-mini td.cart-item__details {
    padding-left: 12px;
}

.cart-drawer .extra-option-item .cart-item__media {
    width: 60px;
    height: 60px;
    max-width: 60px;
    min-width: 60px;
}

.cart-drawer .cart-items thead {
    margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
    width: 0;
    padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
    width: 50%;
    padding-left: 0;
}

.cart-drawer .cart-items thead tr {
    display: table-row;
    margin-bottom: 0;
}

.cart-drawer .cart-items th {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
    margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading__spinner {
    right: 5px;
    padding-top: 2.5rem;
}

.cart-drawer .cart-item__details {
    width: auto;
    grid-column: 2 / 4;

}

.cart-drawer .cart-item__totals {
    pointer-events: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
    margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.cart-drawer .unit-price {
    margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
    padding-top: 0;
    grid-column: 2 / 5;
}

@media screen and (max-width: 749px) {
    .cart-drawer .cart-item cart-remove-button {
        margin-left: 0;
    }
}

.cart-drawer__footer > * + * {
    margin-top: 1rem;
}

.cart-drawer .totals {
    justify-content: space-between;
}

.cart-drawer .price {
    line-height: 1;
}

.cart-drawer .tax-note {
    margin: 1.2rem 0 2rem auto;
    text-align: left;
}

.cart-drawer .product-option dd {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #393940;
    word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
    transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
    max-width: none;
}

.drawer__footer .cart__dynamic-checkout-buttons {
    max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
    flex-wrap: wrap !important;
    flex-direction: row !important;
    margin: 0.5rem -0.5rem 0 0 !important;
    gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
    justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(50% - 0.5rem) !important;
    margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
    flex-basis: 100% !important;
    margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
    .drawer__footer #dynamic-checkout-cart ul > li {
        flex-basis: calc(100% / 3 - 0.5rem) !important;
        margin: 0 !important;
    }

    .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
    .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
    .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
    .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
        flex-basis: calc(50% - 0.5rem) !important;
    }
}

cart-drawer-items::-webkit-scrollbar {
    width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
    background-color: rgba(var(--color-foreground), 0.7);
    border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
    margin-top: 31px;
}

.cart-drawer .quantity-popover-container {
    padding: 0;
}

.cart-drawer .quantity-popover__info.global-settings-popup {
    transform: translateY(0);
    top: 100%;
}

.cart-drawer .cart-item__error {
    margin-top: 0.8rem;
}

.cart-drawer .quantity-popover__info + .cart-item__error {
    margin-top: 0.2rem;
}

@media (max-width: 768px) {
    .cart-item dl .product-option {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .cart-drawer .cart-item > td + td {
        margin-left: 10px;
    }

    .cart-drawer .cart-item__media {
        width: 60px;
        height: 60px;
        min-width: 70px;
        vertical-align: baseline;
        object-fit: contain;
    }
}

@media screen and (min-width: 750px) {
    .cart-drawer .cart-item__quantity--info quantity-popover > * {
        padding-left: 0;
    }

    .cart-drawer .cart-item__error {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .drawer__inner {
        padding: 0 16px;
    }

    .drawer__heading {
        padding-bottom: 16px;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        font-weight: 600;
    }

    tr[id^=CartDrawer] td.cart-item__details {
        padding-left: 12px;
    }

    .cart-item__name {
        font-size: 14px;
        line-height: 20px;
        max-width: 243px;
    }

    .cart-item dl .product-option {
        display: block;
        column-gap: 4px;
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 18px;
    }

    .product-option dt {
        white-space: nowrap;
    }

    .product-option + .product-option {
        margin-top: 0;
    }

    .product-option {
        font-size: 16px;
        line-height: 24px;
    }

    .cart-item__quantity-wrapper .quantity-text {
        font-size: 14px;
        line-height: 20px;
    }

    .cart-item__quantity-wrapper {
        align-items: center;
    }

    .cart-item .quantity-btn {
        width: 24px;
        height: 24px;
    }

    .extra-option-item {
        width: calc(100% - 72px);
    }

    .total-wrapper span {
        font-size: 18px;
        line-height: 24px;
    }

    .extra-option-item {
        padding-top: 12px;
        margin-top: 12px;
    }

    .extra-option-item .extra-price {
        font-size: 14px;
        line-height: 20px;
    }

    .cart-item__name.extra-option-title {
        max-width: 141px;
    }
}

@media (max-width: 524px) {
    .cart-item__details {
        order: 1;
    }

    .extra-option-item .cart-item__details {
        order: 0;
    }

    .add-info {
        width: 100% !important;
        order: 1;
    }

    .show-extra {
        width: 100% !important;
        order: 1;
    }
}
