/* Chrome, Safari, Edge (WebKit-based) */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* Firefox */
input[type='search']::-moz-search-clear {
  display: none;
}

/* Edge legacy */
input[type='search']::-ms-clear {
  display: none;
}

.manuals-header {
  background-color: #faf9f9;
  padding-top: 80px;
  padding-bottom: 80px;
}

.manuals-main {
  padding-top: 80px;
  padding-bottom: 80px;
}

.manuals-content.none {
  display: none !important;
}

.manuals-title {
  font-size: 72px;
  line-height: 84px;
  margin: 0;
  font-weight: 600;
  margin-bottom: 52px;
  text-align: center;
  text-transform: uppercase;
}

.manuals-filters-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 32px;
}

.manuals-filter-item {
  cursor: pointer;
  text-align: center;
}

.manuals-filter-item span {
  font-family: 'Lato';
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 16px 0;
}

.manuals-filter-item::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #e5e5e5;
}

.manuals-filter-item:first-child::after {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.manuals-filter-item:last-child::after {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.manuals-filters-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-flow: column; */
  padding: 32px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 12px;
  row-gap: 16px;
}

.manuals-filter-collection {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.manuals-filter-collection__img {
  width: 40px;
}

.manuals-list__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.manuals-list__title {
  font-family: 'Lato';
  font-size: 28px;
  line-height: 36px;
  color: #393940;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.manuals-list-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.manuals-filter-collection__title,
.manuals-list-item {
  font-family: 'Lato';
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #3e77aa;
  margin: 0;
}

.manuals-list-item.none {
  display: none;
}

.manuals-load-more {
  display: flex;
  padding: 0;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #f1592a;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.manuals-filter-collection:hover .manuals-filter-collection__title,
.filter-active .manuals-filter-collection__title {
  color: #f1592a;
}

.custom-tab-content {
  display: none;
}

.manuals-reset-button {
  display: none;
  align-items: center;
  gap: 4px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #f1592a;
  margin-bottom: 48px;
}

.manuals-reset-button svg {
  height: 20px;
}

.manuals-reset-button.active {
  display: flex;
}

.tab-active::after {
  background-color: #f1592a;
  border-radius: 6px;
}

.manuals-loader {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.manuals-loader.active {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.spinner {
  display: block !important;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #f1592a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

.pagination div,
.pagination .dots {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: transparent;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #393940;
}

.pagination div:first-child {
  margin-right: 12px;
}

.pagination div:last-child {
  margin-left: 12px;
}

.pagination span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: #f1592a;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.pagination .dots {
  cursor: default;
}

/* SEARCH */
.manuals-search__wrapper {
  position: relative;
  margin: 0 auto 32px;
  width: 100%;
  max-width: 842px;
  display: flex;
  justify-content: center;
}

.manuals-search-icon {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.manuals-search__container {
  width: 100%;
}

.manuals-search__input {
  font-family: 'Lato';
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  border: 1.5px solid #e5e5e5;
  border-radius: 8px;
  padding: 10.5px;
  padding-left: 44px;
  outline: none;
  box-shadow: none;
}

.manuals-search__input::-webkit-input-placeholder {
  color: #b3b3b3;
}

.manuals-search__input::-moz-placeholder {
  color: #b3b3b3;
}

.manuals-search__input:-ms-input-placeholder {
  color: #b3b3b3;
}

.manuals-search__input::-ms-input-placeholder {
  color: #b3b3b3;
}

.manuals-search__input::placeholder {
  color: #b3b3b3;
}

.manuals-search__reset-btn {
  cursor: pointer;
  display: none;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 17.25px;
}

.manuals-search__reset-btn.active {
  display: flex;
}

/* .manuals-no-search-results {
  display: none;
}

.manuals-no-search-results.active {
  display: block;
} */

.manuals-no-search-message {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #393940;
  margin: 0;
  margin-bottom: 48px;
}

.manuals-no-search-message strong {
  font-weight: 700;
}

.manuals-search-tips__title {
  font-family: 'Lato';
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  color: #23232b;
  margin: 0;
  margin-bottom: 12px;
}

.manuals-search-tips__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search-tips__item {
  font-size: 16px;
  line-height: 24px;
  color: #393940;
  padding-left: 16px;
  position: relative;
}

.search-tips__item::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: #3e77aa;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1366px) {
  .manuals-filters-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .manuals-filters-list {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .manuals-header {
    padding: 24px 0;
  }

  .manuals-title {
    text-align: left;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 16px;
  }

  .manuals-search__input {
    padding: 12px 12px 12px 44px;
  }

  .manuals-search__wrapper,
  .manuals-filters-header {
    margin-bottom: 20px;
  }

  .manuals-filters-list {
    padding: 16px;
  }

  .manuals-filter-collection {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .manuals-main {
    padding: 24px 16px;
  }

  .manuals-list__title {
    font-size: 20px;
    line-height: 26px;
  }

  .manuals-list__wrapper {
    gap: 24px;
  }

  .manuals-filter-collection__img {
    height: 32px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .pagination {
    margin-top: 24px;
  }

  .pagination span,
  .pagination div,
  .pagination .dots {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  .manuals-reset-button {
    margin-bottom: 24px;
  }
  .manuals-filter-item:first-child span {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 16px;
  }
  .manuals-filters-header {
    grid-template-columns: auto 1fr 1fr;
  }
  .manuals-no-search-message {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .manuals-search-tips__title {
    font-size: 20px;
    line-height: 26px;
  }
  .manuals-search-tips__list {
    gap: 8px;
  }
}

.manuals-content__col:first-of-type {
  margin-bottom: 40px;
}

.manuals-empty-message {
  grid-column: 1 / -1;
  margin: 0;
}

.manuals-no-search-results[hidden] {
  display: none !important;
}

@media (min-width: 750px) {
  .manuals-content__result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
  }

  .manuals-content__col:first-of-type {
    margin-bottom: 0;
  }
}
