.pr_custom_price-container {
    margin-top: 24px;
}

.metainfo-wrapper .item__text {
    font-size: 13px;
}

.product__title h1 {
    text-transform: capitalize;
}

@media (min-width: 1200px) {
    .product_price_with_options-contaniner {
        margin-bottom: 12px;
    }
}