.cart-item.custom-product-option {
    max-width: 577px;
    margin-left: auto;
    margin-top: 10px;
    border: none;
    padding: 6px;
    background-color: rgba(57, 57, 64, 0.08);
    border-radius: 8px;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.cart-item.custom-product-option + .cart-item.custom-product-option {
    margin-top: 12px;
}


.cart-item.custom-product-option .cart-item__details {
    flex-shrink: 1;
    padding-left: 12px !important;
}

.cart-item.custom-product-option .cart-item__media > div {
    width: 36px;
    height: 36px;
    background: none;
    padding: 0;
}

.cart-item.custom-product-option .cart-item__media > div > img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.cart-item.custom-product-option .product-option {
    display: none;
}

dl:has(.product-option) {
    margin: 0;
}

.cart-item.custom-product-option .cart-item__name {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    text-decoration: underline;
    margin: 0;
    max-width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.cart-item.custom-product-option .cart-item__totals {
    display: flex;
    flex-direction: row-reverse;
}

.cart-item.custom-product-option .cart-item__price-wrapper {
    margin-left: 12px;
    min-width: 120px;
}

.cart-item.custom-product-option .quantity-popover-container {
    margin-top: 0;
}

.cart-item.custom-product-option .cart-item__media {
    width: 36px;
    height: 36px;
}

.cart-item.custom-product-option cart-remove-button .button {
    width: 18px;
    height: 18px;
    border: 1px solid rgba(211, 217, 229, 1);
}

.cart-item.custom-product-option cart-remove-button .button svg {
    width: 18px;
    height: 18px;
}

.cart-item.custom-product-option cart-remove-button .button svg path {
    fill: rgba(57, 57, 64, 1);
}

.cart-item.custom-product-option .cart-item__price-wrapper .price {
    color: rgba(241, 89, 42, 1);
    font-weight: 700;
    letter-spacing: 0;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    white-space: nowrap;
}

.cart-item.custom-product-option quantity-popover .quantity {
    background-color: transparent;
}


.cart-item.custom-product-option .loading__spinner {
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    padding: 0;
    width: 18px;
    height: 18px;
}

@media (max-width: 749px) {
    .cart-item.custom-product-option .cart-item__details {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .cart-item.custom-product-option {
        max-width: calc(100% - 72px);
    }

    .cart-item.custom-product-option .cart-item__totals {
        margin-top: 12px;
        align-items: center;
    }

    .cart-item.custom-product-option + .cart-item.custom-product-option {
        align-items: flex-start;
    }

    .cart-item.custom-product-option .cart-item__name {
        max-width: 200px;
        -webkit-line-clamp: 2;
    }

    .cart-item cart-remove-button {
        top: 0 !important;
        right: 5px;
    }
    .cart-item.custom-product-option {
        align-items: flex-start;
    }
}

@media (max-width: 475px) {
    .cart-item.custom-product-option {
        max-width: calc(100% - 91px);
    }
    .cart-item__custom-options-option {
        max-width: 128px;
    }
}