@media (min-width: 990px) {
    .product-main-left-container {
        width: calc(100% - 32px - 515px);
    }
    .product.grid {
        gap: 32px;
    }
    .product--large:not(.product--no-media) .product__info-wrapper {
        max-width: 515px;
        padding: 36px 40px;
    }
}

.metainfo-wrapper .item__text .showroom-visit {
    margin-left: 5px;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}