.available-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.sa-reviews{
  display: flex;
  font-size: 16px;
  color: #3E77AA;
}
.outof{
  display: none;
}
#review_header .overall{
  margin-top: 0;
  width: auto;
  height: auto;
}
.review_header{
  padding: 0;
  line-height: 24px;
  border: 0;
  margin-right: 4px;
}
.review_header{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  padding: 0;
  background: transparent;
}
#review_header .overall{
  display: none;
}
#review_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAF9F9;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #E5E5E5;
  border-radius: 12px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}
#review_header .block{
  height: auto;
}

#review_header .stars .on{
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.2736 2.57493C11.5595 1.95503 12.4405 1.95503 12.7264 2.57493L14.9159 7.32176C15.0325 7.5744 15.2719 7.74836 15.5482 7.78112L20.7393 8.3966C21.4172 8.47698 21.6895 9.31489 21.1883 9.77838L17.3503 13.3276C17.1461 13.5165 17.0546 13.7979 17.1089 14.0708L18.1276 19.198C18.2607 19.8676 17.5479 20.3855 16.9522 20.052L12.3908 17.4987C12.148 17.3628 11.852 17.3628 11.6092 17.4987L7.04779 20.052C6.4521 20.3855 5.73933 19.8676 5.87238 19.198L6.89115 14.0708C6.94537 13.7979 6.85392 13.5165 6.64965 13.3276L2.81174 9.77839C2.31054 9.31489 2.5828 8.47698 3.26071 8.3966L8.4518 7.78112C8.72809 7.74836 8.96752 7.5744 9.08406 7.32176L11.2736 2.57493Z" fill="%23FFC107"/></svg>');
}
.product_review .stars .on{
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.2736 2.57493C11.5595 1.95503 12.4405 1.95503 12.7264 2.57493L14.9159 7.32176C15.0325 7.5744 15.2719 7.74836 15.5482 7.78112L20.7393 8.3966C21.4172 8.47698 21.6895 9.31489 21.1883 9.77838L17.3503 13.3276C17.1461 13.5165 17.0546 13.7979 17.1089 14.0708L18.1276 19.198C18.2607 19.8676 17.5479 20.3855 16.9522 20.052L12.3908 17.4987C12.148 17.3628 11.852 17.3628 11.6092 17.4987L7.04779 20.052C6.4521 20.3855 5.73933 19.8676 5.87238 19.198L6.89115 14.0708C6.94537 13.7979 6.85392 13.5165 6.64965 13.3276L2.81174 9.77839C2.31054 9.31489 2.5828 8.47698 3.26071 8.3966L8.4518 7.78112C8.72809 7.74836 8.96752 7.5744 9.08406 7.32176L11.2736 2.57493Z" fill="%23FFC107"/></svg>');
  background-size: contain;
}
#review_header .stars{
  order: -1;
}
#review_header .percentage{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  width: auto!important;
  padding-left: 0!important;
  padding-right: 0!important;
}
.product_review .rheading{
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}
.product_review .info{
  font-size: 16px;
  line-height: 24px;
  color: #4F4F55;
}
.product_review .comments{
  font-size: 16px;
  line-height: 24px;
  color: #4F4F55;
}
#product_page{
  display: flex;
  flex-direction: column;

}

#product_page .paging{
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  height: auto!important;
}

.ap-options__heading h3{
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 16px;
}

.pdp-page-width {
  max-width: 1440px;
  padding-left: 80px;
  margin: auto;
}

.pdp-page-width .product.grid {
  gap: 50px;
  justify-content: space-between;
  padding-right: 0rem;
}

.product__info-wrapper {
  max-width: 1000px !important;
  background-color: #FAF9F9;
}

.pr_custom_compare_price {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #808080;
  margin-bottom: 4px;
}

.price-container {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 5px;
}

.price-container .price-item {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: var(--primary-orange);
  margin: 0;
  letter-spacing: normal;
}

.price-container .price-item.out-of-stock  {
  color: #808080;
}

.price-container .you-save {
  height: 30px;
  padding: 6px 12px;
  gap: 4px;
  border-radius: 43px;
  background-color: var(--primary-orange);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
}

.pr_custom_price-container {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 5px;
}

.pr_custom_price-container span {
  height: 30px;
  padding: 6px 12px;
  gap: 4px;
  border-radius: 43px;
  background-color: var(--primary-orange);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
}

.pr_custom_price {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: var(--primary-orange);
  margin: 0;
}

.pr_custom_price.out-of-stock {
  color: #808080;
}

.installment {
  display: none;
}

.product__accesnt-text {
  max-width: 516px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 24px;
  margin-top: 32px;
  background-color: #FCE6DE;
  border: 1px solid #FAC3B2;
  border-radius: 12px;
  margin-left: auto;
}

.product__accesnt-text p {
  margin: 0;
}

.product__accesnt-text a {
  height: 48px;
  padding: 12px 24px 12px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--primary-orange);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.product__accesnt-text-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
  margin-bottom: 8px;
}

.main-slider img {
  width: 100%;
  height: 100%;
  max-height: 490px;
  object-fit: contain;
}

.thumbnail-slider img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.thumbnail-slider .slick-current img {
  border: 1px solid #FBD1C3;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px #F1592A;
}

.thumbnail-slider {
  max-width: 88px;
  overflow-y: auto
}

.thumbnail-slider .item{
  width: 88px;
  height: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}
.main-slider{
  max-width: 516px;
  max-height: 520px;
  margin-top: 8px;
}

.main-slider .slick-list.draggable,
.main-slider .slick-track,
.main-slider .slick-slide {
  max-height: 520px;
}

.main-slider-wrapper {
  position: relative;
}

.main-slider-arrow--left,
.main-slider-arrow--right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #616166;
  border-radius: 50%;
}

.main-slider-arrow--left {
  left: 0;
}

.main-slider-arrow--right {
  right: 0;
}
.product-main-left .slick-list{
  padding-top: 0!important;
  padding-bottom: 0!important;
}
#product_just_stars{
  display: flex;
  align-items: center;
}
.ind_cnt{
  width: auto;
  text-align: left;
  margin-left: 4px;
}
.available-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.stock-badge{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.stock-badge.in{
  background: #CCEDDA;
  color: #00A344;
}
.stock-badge.out{
  background: #23232B4D;
  color: white;
  font-family: 'Lato';
  font-size: 14px;
}
.product-main-right-wrapper{
  max-width: 515px;
}
.prod-old-price{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #808080;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.prod-old-price span{
  text-decoration: line-through;
}
.difference-price{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  background: #F1592A; 
  border-radius: 50px;
  margin-left: 12px;
  text-decoration: none!important;
}
.prod-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #F1592A;
  margin-bottom: 40px;
}
.product-main-right #review_header .graph{
  display: none;
}
.product-main-right #review_header .stars{
  display: none;
}
.product-main-right #review_header .percentage{
  display: none;
}
.metainfo-wrapper .item{
  display: flex;
  align-items: center;
  color: #808080;
  margin-bottom: 16px;
}
.metainfo-wrapper .item .title{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 4px;
  font-weight: 700;
  color: #000000;
}
.metainfo-wrapper .item .more-info {
  margin-left: 5px;
  color: #393940;
  text-decoration: underline;
  font-size: 14px;
  font-family: 'Lato';
  cursor: pointer;
}
.metainfo-wrapper .item .img-wrap{
  display: flex;
  margin-right: 8px;
}
.showroom{
  display: none;
  align-items: center;
  margin-top: 34px;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
.showroom .img-wrap{
  display: flex;
  margin-right: 8px; 
}

#product_page{
  display: flex;
  flex-direction: column;
  
}

.ap-options__heading h3{
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 16px;
}

.options_container  .swatch {
  background-color: var(--swatch--background);
  background-image: var(--swatch--background);
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50px;
  background-size: contain;
  position: relative;
}

#option-color label input{
  display: none;
}

.option-name{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.option-count{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background: #FCE6DE;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  color: #F1592A;
  margin-right: 8px;
}

#option-color {
  display: flex;
  align-items: center;
  gap: 8px;
}
#option-color input:checked + .swatch:after {
  content: "";
  width: 32px;
  height: 32px;
  border: 1px solid #F3744C;
  position: absolute;
  top: -4px;
  left: -4px;
  border-radius: 50px;
}
.product-options{
  margin-bottom: 40px;
}

.product_price_with_options-contaniner {
  display: flex;
  justify-content: space-between;
}

.product_price_with_options-heading {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-bottom: 16px;
}
.product_price_with_options_atc {
  display: flex;
  gap: 16px;
}
.product_price_with_options-contaniner .price--large {
  font-family: 'Lato';
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: var(--primary-orange);
}
.product_price_with_options_atc .product-form {
  margin: 0 !important;
}
.product_price_with_options_atc .product-form__submit {
  height: 48px;
  padding: 12px 24px 12px 12px;
  margin: 0;
  display: flex;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.product_price_with_options_atc .product-form__submit.out-of-stock {
  background: #E5E5E5;
  color: #B3B3B3;
}
.product_price_with_options .price__container {
  margin: 0;
}
.product_price_with_options_atc .quantity {
  height: 48px;
  max-width: 63px;
  border: 1.5px solid #E5E5E5;
  border-radius: 8px;
  background-color: #F2F2F2;
}
.product_price_with_options_atc .quantity.out-of-stock {
  color:#808080;

}
.quantity:after {
  box-shadow: none;
}
.product-form {
  margin-top: 40px !important;
}
#review_header .merchantheader {
  display: none;
}
.restock-rocket-button-container {
  width: 238px !important;
  padding-bottom: 40px;
}
.restock-rocket-button-container button {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px !important;
}
.docapp-single-shipping-calculator .docapp-single-shipping-calculator {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .product-details-container {
    flex-direction: column;
  }
}