.available-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

#review_header .percentage {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  width: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.product_review .rheading {
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.product_review .info {
  font-size: 16px;
  line-height: 24px;
  color: #4f4f55;
}

.product_review .comments {
  font-size: 16px;
  line-height: 24px;
  color: #4f4f55;
}

#product_page {
  display: flex;
  flex-direction: column;
}

#product_page .paging {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  height: auto !important;
}

.product__info-wrapper {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* max-width: 1000px !important; */
}

@media screen and (min-width: 990px) {
  .product__info-wrapper.fixed {
    position: sticky;
    max-width: 100%!important;
  }

  .product__info-wrapper.absolute {
    max-width: 100%!important;

  }
}

@media screen and (min-width: 1200px) {
  .product__info-wrapper.fixed {
    max-width: 100%;
   
  }

  .product__info-wrapper.absolute {
    max-width: 100%!important;
    
  }
}

@media screen and (min-width: 1380px) {
  .product__info-wrapper.fixed {
      max-width: 100%!important;
  }

  .product__info-wrapper.absolute {
      max-width: 100%!important;
     
  }
}

.product__info-wrapper::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 0;
  width: calc(100% + 30px);
  height: 100%;
  background-color: #faf9f9;
  z-index: 0;
}

@media screen and (min-width: 750px) {
  .product__info-wrapper {
    padding: 0;
  }

  .product__info-wrapper::before {
    left: -5rem;
    top: 0;
    width: calc(100% + 10rem);
  }

  .product__column-sticky {
    top: 0;
  }
}

@media screen and (min-width: 990px) {
  .product.grid {
    gap: 32px;
    justify-content: space-between;
  }

  .product__info-wrapper::before {
    left: 0;
    top: 0;
    width: calc(100% + 5rem);
  }

  .product--large:not(.product--no-media) .product__info-wrapper {
    max-width: 329px;
    width: 100%;
   padding: 36px;
    position: sticky;
        top: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .product--large:not(.product--no-media) .product__info-wrapper {
    max-width: 329px;
    width: 100%;
    padding: 36px;
  }
}

/* @media (min-width: 1380px) {
  .product__info-wrapper::before {
    width: calc(60rem + 50vw - 656px);
  }
} */

.product__title h1 {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

@media screen and (min-width: 990px) {
  .product__title h1 {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .product__title {
    margin-bottom: 2.4rem;
  }

  .product__title h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

.pr_custom_compare_price {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #808080;
  margin-bottom: 4px;
}

.price-container {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 5px;
}

@media screen and (min-width: 990px) {
  .price-container {
    margin-bottom: 40px;
  }
}

.price-container .price-item {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: var(--primary-orange);
  margin: 0;
  letter-spacing: normal;
}

@media screen and (min-width: 1200px) {
  .price-container .price-item {
    font-size: 32px;
    line-height: 40px;
  }
}

.price-container .price-item.out-of-stock {
  color: #808080;
}

.price-container .you-save {
  min-height: 30px;
  padding: 6px 12px;
  gap: 4px;
  border-radius: 43px;
  background-color: var(--primary-orange);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
}

.pr_custom_price-container {
  display: flex;
  gap: 12px;
  align-items: center;
  /* margin-bottom: 40px; */
  margin-top: 5px;
}

.pr_custom_price-container span {
  height: 30px;
  padding: 6px 12px;
  gap: 4px;
  border-radius: 43px;
  background-color: var(--primary-orange);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
}

.pr_custom_price {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: var(--primary-orange);
  margin: 0;
}

.pr_custom_price.out-of-stock {
  color: #808080;
}

.installment {
  display: none;
}

.product__accesnt-text {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: #edeff3;
  border: 1px solid #d3d9e5;
  margin-top: 24px;
  border-radius: 12px;
}

.product__accesnt-text p {
  margin: 0;
}

.product__accesnt-text a {
  height: 48px;
  padding: 12px 24px 12px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--primary-orange);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.product__accesnt-text-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-bottom: 8px;
}

.product__accesnt-text-text p:nth-of-type(2) {
  color: #23232b;
  font-size: 16px;
  line-height: 24px;
}

.product__accesnt-text--mobile > div {
  text-align: center;
}

.product__accesnt-text--mobile a {
  width: 100%;
  justify-content: center;
  text-align: center;
  color: #23232b;
  background-color: #fff;
}

.product__accesnt-text--mobile a svg path {
  fill: currentColor;
}

@media (min-width: 990px) {
  .product__accesnt-text {
    max-width: 516px;
    justify-content: space-between;
    padding: 12px;
    margin-top: 32px;
    background-color: #fce6de;
    border: 1px solid #fac3b2;
    margin-left: auto;
  }

  .product__accesnt-text--mobile {
    display: none;
  }

  .product__accesnt-text-text {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: 1200px) {
  .product__accesnt-text {
    flex-direction: row;
    padding: 24px;
  }
}

.thumbnail-slider {
  display: none !important;
  flex-direction: column;
  max-height: 520px;
  overflow: hidden;
  width: 88px;
}

@media (min-width: 1200px) {
  .thumbnail-slider {
    display: flex !important;
  }
}

.thumbnail-slider img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -o-object-fit: contain;
  object-fit: contain;
}

.thumbnail-slider .slick-current img {
  border: 1px solid #fbd1c3;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px #f1592a;
}

.thumbnail-slider .item {
  width: 88px;
  height: 88px;
  margin-bottom: 16px;
}

.main-slider {
  /* max-width: 516px; */
  /* max-height: 520px; */
  display: flex;
  align-items: stretch;
  white-space: nowrap;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.main-slider img {
  max-height: 450px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.main-slider .item {
  position: relative;
  display: inline-block;
  width: 100%;
  flex: 0 0 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.main-slider.slick-initialized {
  display: block;
  white-space: inherit;
  overflow: visible;
}

.main-slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -28px;
}

.main-slider .slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0 2.5px;
}

.main-slider .slick-dots li button {
  width: 8px;
  height: 8px;
  padding: 0;
  font-size: 0;
  border-radius: 50%;
  background-color: #23232b;
  transition: 0.4s ease;
  opacity: 0.2;
}

.main-slider .slick-dots li.slick-active button {
  opacity: 1;
}

.main-slider .slick-dots li button::before {
  content: none;
}

.main-slider .slick-list.draggable,
.main-slider .slick-track,
.main-slider .slick-slide {
  max-height: 520px;
}

.main-slider-wrapper {
  position: relative;
  padding-top: 8px;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .main-slider-wrapper {
    width: calc(100% - 108px);
    padding-top: 0;
  }
}

.main-slider-arrow--left,
.main-slider-arrow--right {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 1;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #616166;
  border-radius: 50%;
}

@media (min-width: 990px) {
  .main-slider-arrow--left,
  .main-slider-arrow--right {
    width: 40px;
    height: 40px;
  }
}

.main-slider-arrow--left {
  left: 0;
}

.main-slider-arrow--right {
  right: 0;
}

.product-main-left .slick-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#product_just_stars {
  display: flex;
  align-items: center;
}

#product_just_stars:before {
  content: '(';
}

#product_just_stars:after {
  content: ')';
}

.ind_cnt {
  width: auto;
  text-align: left;
  margin-left: 4px;
}

.available-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.stock-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 50px;
  min-height: 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: normal;
  border: 0;
  margin-left: auto;
}

.stock-badge.in {
  background: #ccedda;
  color: #00a344;
}

.stock-badge.out {
  background: #23232b4d;
  color: white;
}

@media (min-width: 990px) {
  .stock-badge {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .stock-badge {
    min-height: 36px;
  }
}

.product-main-right-wrapper {
  max-width: 515px;
}

.prod-old-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #808080;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.prod-old-price span {
  text-decoration: line-through;
}

.difference-price {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  background: #f1592a;
  border-radius: 50px;
  margin-left: 12px;
  text-decoration: none !important;
}

.prod-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #f1592a;
  margin-bottom: 40px;
}

.product-main-right #review_header .graph {
  display: none;
}

.product-main-right #review_header .stars {
  display: none;
}

.product-main-right #review_header .percentage {
  display: none;
}

.metainfo-wrapper {
  margin-bottom: 20px;
}

.metainfo-wrapper .item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 14px;
}

.metainfo-wrapper .item:last-of-type {
  margin-bottom: 0;
}

.metainfo-wrapper .item__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 20px;
  flex: 0 0 20px;
  color: #808080;
  margin-top: 2px;
}

.metainfo-wrapper .item__icon-wrap svg {
  width: 100%;
  max-height: 20px;
}

.metainfo-wrapper .item__text {
  padding-left: 8px;
  font-size: 14px;
  color: #393940;
}

.metainfo-wrapper .item__text .title {
  margin-right: 4px;
  font-weight: 700;
  color: #000000;
}

.metainfo-wrapper .item__text .more-info {
  margin-left: 5px;
  color: #000000;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
  font-weight: 700;
}

.showroom {
  display: flex;
  align-items: flex-start;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.showroom-text {
  padding-left: 8px;
}

.showroom .img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 20px;
  flex: 0 0 20px;
  margin-top: 2px;
}

.showroom .img-wrap svg {
  width: 100%;
  max-height: 20px;
}

@media (min-width: 1200px) {
  .showroom {
    margin-top: 34px;
    font-size: 16px;
  }

  .showroom .img-wrap {
    max-width: 24px;
    flex: 0 0 24px;
  }

  .showroom .img-wrap svg {
    max-height: 24px;
  }
}

#product_page {
  display: flex;
  flex-direction: column;
}

.options_container .swatch {
  background-color: var(--swatch--background);
  background-image: var(--swatch--background);
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50px;
  background-size: contain;
  position: relative;
}

#option-color label input {
  display: none;
}

.option-name {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.option-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background: #fce6de;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  color: #f1592a;
  margin-right: 8px;
}

#option-color {
  display: flex;
  align-items: center;
  gap: 8px;
}

#option-color input:checked + .swatch:after {
  content: '';
  width: 32px;
  height: 32px;
  border: 1px solid #f3744c;
  position: absolute;
  top: -4px;
  left: -4px;
  border-radius: 50px;
}

.product-options {
  margin-bottom: 40px;
}

.product_price_with_options-contaniner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
}

@media (min-width: 990px) {
  .product_price_with_options-contaniner {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .product_price_with_options-contaniner {
    margin-bottom: 40px;
  }
}

.product_prices {
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 1200px) {
  .product_prices {
    position: relative;
  }
}

.product_price_with_options-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 16px;
}

.product_price_with_options_atc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 1200px) {
  .product_price_with_options_atc {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.product_price_with_options-contaniner .price--large {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: var(--primary-orange);
}

.product_price_with_options_atc .product-form {
  margin: 0 !important;
}

.product_price_with_options_atc .product-form__submit {
  height: 48px;
  padding: 12px 24px 12px 12px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--primary-orange-500, #f1592a) !important;
}

.product_price_with_options_atc .product-form__submit.out-of-stock {
  background: #e5e5e5;
  color: #b3b3b3;
}

.product .price__container,
.product_price_with_options .price__container {
  margin: 0;
}

.product_price_with_options_atc .quantity {
  height: 48px;
  max-width: 63px;
  border: 1.5px solid #e5e5e5;
  border-radius: 8px;
  background-color: #f2f2f2;
  margin-left: auto;
  overflow: hidden;
}

.product_price_with_options_atc .quantity.out-of-stock {
  color: #808080;
}

.quantity:after {
  box-shadow: none;
}

.product__info-container .product-form {
  margin-top: 10px;
}

.product-form__buttons {
  max-width: 100%;
}

.product-form .avp-option.ap-options__select-container {
  padding-bottom: 0 !important;
}

.product-form
  .ap-options__select
  .avp-select:has(select[name^='Full Assembly & Installation']) {
  margin-bottom: 0;
}

.product-form .ap-label-tooltip .avp-option-title {
  margin-bottom: 6px;
}

.product-form .ap-label-tooltip .apo-title {
  font-size: 12px;
  line-height: 18px;
  color: #393940;
}

.product__info-wrapper .avpoptions-container__v2 .avp-option .apo-title {
  font-size: 16px !important;
  line-height: 24px;
}

.customer-location-container {
  margin-top: 20px;
}

.transit-times-container .transit-time-text {
  color: #00a344;
  font-size: 14px;
  font-weight: 400;
}

.transit-times-container .transit-time-text.error {
  color: #e9380d;
}

#review_header .merchantheader {
  display: none;
}

.restock-rocket-button-container {
  width: 200px !important;
  padding-bottom: 40px;
}

.restock-rocket-button-container button {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px !important;
}

.docapp-single-shipping-calculator .docapp-single-shipping-calculator {
  margin-top: 10px;
}

.product__info-wrapper .docapp-shipping-calculator .docapp-country-input {
  display: none;
}

.product__info-wrapper .docapp-shipping-calculator .docapp-province-input {
  display: none;
}

.product__info-wrapper .docapp-shipping-calculator .docapp-city-input {
  display: none;
}

.product__info-wrapper .docapp-shipping-calculator--rates {
  display: none;
}

.docapp-shipping--message-container {
  display: none;
}

.product-details-container .product-details__product-image {
  height: auto;
}

.product-details-container {
  width: 100%;
}

.product-details__product-image {
  width: 100%;
  padding: 0;
}

.product-details__product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

@media (max-width: 750px) {
  .customer-location-container .location-form {
    flex-direction: column;
  }
  .customer-location-container #postalCode {
    margin-bottom: 0px;
  }
  .customer-location-container .location-form button {
    width: 100%;
  }
  .product-details-container {
    flex-direction: column;
  }
  .main-slider .slick-track {
    width: 400px;
  }
  .main-slider .item {
    width: 400px;
  }
}

.product-details-container,
.product-details-description-body {
  display: none;
}

.paylater-container {
  display: none;
  gap: 5px;
  flex-direction: column;
}

.paylater-container .paylater-text {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 'Lato';
  font-size: 16px;
  color: #808080;
  margin-bottom: 5px;
}

.paylater-container .paylater-text svg {
  cursor: pointer;
}

.paylater-container .paylater-logo {
  margin-top: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.paylater-container .paylater-logo svg {
  max-width: 110px;
  cursor: pointer;
}

.affirm-as-low-as {
  display: none;
}

.thumbnail-custom {
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  transition: opacity 500ms;
}

.thumbnail-custom img {
  width: 100%;
  height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
}

.thumbnail-custom.active img {
  border-radius: 4px;
  box-shadow: 0 0 0 1px #f1592a;
}

.main-slider-wrapper {
  position: relative;
  /* width: 500px;
    height: 500px; */
}

.main-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

.main-slide.active {
  opacity: 1;
  z-index: 1;
}

.main-slide img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.main-slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-slider-arrow--left {
  left: 10px;
}

.main-slider-arrow--right {
  right: 10px;
}

.product-main-left-container {
  width: 100%;
  margin-bottom: 24px;
  z-index: 2;
}

@media (min-width: 990px) {
  .product-main-left-container {
      width: calc(100% - 450px);
    max-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .product-main-left-container {
    width: calc(100% - 450px);
    max-width: 100%;
  }
}

.product-main-left {
  max-width: 800px;
  margin: auto;
  display: flex;
  gap: 20px;
  /* padding-left: 20px; */
}

@media (min-width: 1200px) {
  .product-main-left {
    flex-wrap: wrap;
    padding-top: 36px;
  }
}

.sticky-add-to-cart {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f2f2f2;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 26px;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
}

.sticky-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 140px;
}

.sticky-product-image {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.sticky-product-info {
  flex-grow: 1;
  margin-right: 20px;
}

.sticky-product-title {
  font-family: 'Lato';
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #000000;
}

.sticky-product-price {
  font-family: 'Lato';
  font-size: 32px;
  color: #f1592a;
  margin: 0 20px 0 0;
  font-weight: bold;
}

.sticky-product-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sticky-quantity-container {
  position: relative;
  display: inline-block;
}

.sticky-quantity {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  height: 48px;
  width: 63px;
  text-align: left;
}

.sticky-quantity:focus {
  outline: none;
  border-color: #aaa;
}

.sticky-quantity::-ms-expand {
  display: none;
}

.sticky-arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}

.sticky-arrow svg {
  display: block;
}

.sticky-add-to-cart-btn {
  cursor: pointer;
  width: 155px;
  padding: 11px 14px !important;
}

@media (max-width: 991.98px) {
  .sticky-add-to-cart {
    display: none !important;
  }
}

.product__info-wrapper--mobile {
  display: block;
  width: 100%;
  padding-top: 24px;
}

.product__info-container {
  position: relative;
  margin-top: 24px;
  z-index: 1;
}

.product__info-container.product__info-container--mobile {
  padding: 0;
  margin: 0;
}

.free-shipping-badge {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 12px;
  max-width: 100%;
  justify-content: unset;
  background: #fce6de;
  padding: 5px 20px;
  margin-bottom: 30px;
}
.free-shipping-badge .shipping-icon {
  font-size: 2rem;
  color: #e63946;
}
.free-shipping-badge .shipping-text {
  font-family: 'Lato';
  color: black;
}
.free-shipping-badge .shipping-text .highlight {
  color: #f1592a;
  font-weight: bold;
}
.free-shipping-badge .subtext {
  font-size: 12px;
  font-family: 'Lato';
  color: #393940;
}

@media (min-width: 750px) {
  .product__info-container {
    padding: 0;
  }
}

@media (min-width: 990px) {
  .product__info-wrapper--mobile {
    display: none;
  }

  .hidden.lg\:block {
    display: block !important;
  }

  .hidden.lg\:flex {
    display: flex !important;
  }
}

.product__info-wrapper .ap-label-tooltip {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.product__info-wrapper .ap-label-tooltip > svg {
  margin-right: 8px;
}

.product__info-wrapper
  .avp-option:not(
    .ap-options__heading-container,
    .ap-options__select-container
  ) {
  padding: 12px !important;
}

.product__info-wrapper .ap-label-tooltip svg {
  display: inline-block;
}

.product__info-wrapper .ap-options__swatch {
  gap: 12px;
  margin-top: 0 !important;
  transition: margin-top 0.3s linear 0s, max-height 0.3s ease, opacity 0.3s ease;
}

.product__info-wrapper .ap-options__swatch.show {
  margin-top: 16px !important;
}

.product__info-wrapper .selected_options_container {
  width: 100%;
}

.product__info-wrapper .option_selected-container {
  margin-left: 0 !important;
}

@media (min-width: 990px) {
  .product__info-wrapper .selected_options_container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .product__info-wrapper .option_selected-container:not(:first-of-type) {
    /* margin-top: 8px; */
  }

  .product__info-wrapper .option_selected-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.product__info-wrapper
  .avp-productoptionswatchwrapper
  + .avp-productoptionswatchwrapper {
  margin-top: 0 !important;
}

.product__info-wrapper
  .docapp-single-shipping-calculator
  .docapp-shipping-calculator--body
  .docapp-shipping-calculator--rates {
  margin-bottom: 12px !important;
}

.avpoptions-container__v2
  div[role='group']
  span
  > label:not(label.avp-hiddenvarianttitleswatch),
.avpoptions-container__v2
  fieldset
  > label:not(label.avp-hiddenvarianttitleswatch):not(:last-child),
.avpoptions-container__v2
  label.avp-productoptionswatchwrapper:not(label.avp-hiddenvarianttitleswatch) {
  margin-right: 0;
}
