@media (min-width: 990px) {
    .product-main-left-container {
        width: calc(100% - 32px - 515px);
    }
    .product.grid {
        gap: 32px;
    }
    .product--large:not(.product--no-media) .product__info-wrapper {
        max-width: 515px;
        padding: 36px 40px;
        padding-bottom: 80px;
    }
}

.metainfo-wrapper .item__text .showroom-visit {
    margin-left: 5px;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}

.metainfo-wrapper .item__text {
    color: #808080;
}

.product_prices {
    position: relative;
}

.product__tax {
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
    color: #808080;
}

.product-options {
    margin-bottom: 4px;
}

 @media screen and (max-width: 749px) {
    .product__info-wrapper--mobile {
        order:2;
    }
    .product-main-left-container {
        order: 1;
    }
    .product__info-wrapper {
        order: 3;
    }
}