.section-padding{
    padding: 80px 0px;
}
html {
  scroll-behavior: smooth;
}
@media (max-width: 749px){
    .section-padding{
        padding: 40px 0px;
    }
}
/* BLOCKS WITH ICONS GRID SECTION */
.blocks-grid__title{
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
}

.blocks-grid__text{
    font-size: 16px;
    text-align: center;
    max-width: 842px;
    margin: 0 auto;
    margin-top: 24px;
}
.blocks-grid__wrapper {
    margin-top: 52px;
    justify-content: center;
}
.blocks-grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    border: 1px solid var(--greyscale-grey-border-90, #E5E5E5);
    background: var(--greyscale-white, #FFF);
    padding: 24px;
}
.blocks-grid__item > img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 24px;
}
.blocks-grid__item > h4{
    font-family: var(--font-body-family);
    margin-top: 0px;
    margin-bottom: 8px;
    color: #000;
}
@media (max-width: 749px){
    .blocks-grid__wrapper{
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .blocks-grid__title.h0,
    .blocks-grid__title {
      font-size: 24px;
      text-align: start;
    }

    .blocks-grid__text{
      text-align: start;
      margin: 0 auto;
      margin-top: 16px;
  }

  .blocks-grid__item {
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;
  }

  .blocks-grid__item > img {
    width: 52px;
    height: 52px;
    margin-bottom: 0;
  }

  .blocks-grid__item h4 {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 4px;
  }

  .blocks-grid__item-text {
    text-align: start;
  }
}

/* END BLOCKS WITH ICONS GRID SECTION */



/* INFO GRID SECTION */
.info-grid {
    background: var(--greyscale-grey-background-light, #FAF9F9);
}
.info-grid__item img{
    display: block;
    width: 100%;
    aspect-ratio: 1.6;
    border-radius: 12px;
}
.info-grid__item {
    border-radius: 12px;
    border: 1px solid var(--greyscale-grey-border-90, #E5E5E5);
    background: var(--greyscale-white, #FFF);
    padding: 24px;
    display: flex;
    flex-direction: column;
}
.info-grid__title{
    max-width: 740px;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
}
.info-grid__text{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 16px;
}
.info-grid__link{
    width: fit-content;
    margin: 0 auto;
    margin-top: 16px;
}
.info-grid__wrapper {
    margin-top: 52px;
}
.info-grid__item > h4{
    font-family: var(--font-body-family);
    margin-top: 24px;
    margin-bottom: 8px;
}
.info-grid__item a{
    margin-top: auto;
}
.info-grid__item:has(a) .info-grid__item-text{
    margin-bottom: 16px;
}

@media screen and (max-width: 750px) {
  .info-grid__title {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }

  .info-grid__wrapper {
    margin-top: 20px;
  }

  .info-grid__item {
    padding: 16px;
  }

  .info-grid__text {
    text-align: start;
  }

  .info-grid__item > h4 {
    margin-top: 12px;
    font-size: 18px;
    line-height: 24px;
  }

  .info-grid__item-text p {
    margin: 0;
  }

  .info-grid__item a.link-style {
    margin-bottom: 0;
  }
}

/* END INFO GRID SECTION */


/* STEP SECTION */
.steps-section__title{
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
}
.steps-section__text{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 842px;
    margin: 0 auto;
    margin-top: 16px;
}
.steps-section__text.larger-text{
    font-size: 24px;
    line-height: 32px;
}
.steps-section__items{
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 52px;
}
.steps-section__item-wrapper{
    display: flex;
    align-items: center;
    gap: 32px;
}
.steps-section__item-img{
    width: calc(50% - 16px);
    padding-right: 24px;
}
.steps-section__item-img img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 24px;
}
.steps-section__item-content{
    width: calc(50% - 16px);
}
.steps-section__items > .steps-section__item:nth-child(2n) .steps-section__item-img{
    order: 1;
    padding-right: 0px;
    padding-left: 24px;
}
.steps-section__item-title{
    font-family: var(--font-body-family);
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}
.steps-section__item-title .count{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #FCE6DE;
    color: #F1592A;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps-section__item-title > h3{
    font-family: var(--font-body-family);
    font-weight: 700;
    margin: 0px;
}
.steps-section__item-text ul{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.steps-section__item-text li::marker{
    color: #3E77AA;
}

@media (max-width: 749px){
    .steps-section__item-wrapper{
        flex-direction: column;
        gap: 12px;
    }
    .steps-section__item-img{
        width: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;
        order: 0 !important;
    }
    .steps-section__item-content{
        width: 100%;
    }
    .steps-section__items{
        margin-top: 32px;
        gap: 32px;
    }
    .steps-section__text.larger-text{
        font-size: 16px;
        line-height: 24px;
    }
    .steps-section__title {
      font-size: 24px;
      line-height: 32px;
      text-align: left;
    }

    .steps-section__text {
      text-align: start;
    }

    .steps-section__item-img img {
      height: 208px;
    }

    .steps-section__item-title .count {
      width: 32px;
      height: 32px;
      font-size: 14px;
    }

    .steps-section__item-title>h3 {
      font-size: 18px;
      line-height: 24px;
    }

    .steps-section__item-title {
      margin-bottom: 12px;
    }

    .steps-section__item-text ul {
      gap: 4px;
    }
}
/* END STEP SECTION */


/* IMAGE WITH TEXT */
.image-with-text__media{
    border: 0px;
}
.image-with-text__grid {
    gap: 32px;
}

.image-with-text__heading.uppercase-true {
  text-transform: uppercase;
}

.image-with-text__heading.uppercase-false {
  text-transform: none;

}

.image-with-text__grid--column {
  flex-direction: column-reverse;
}

@media screen and (max-width: 750px) {
  .image-with-text__grid--column {
    flex-direction: column;
  }  
}

a.link-style{
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    color: #F1592A;
    text-decoration: none;
}
.image-with-text__media-item img{
    border-radius: 24px;
}

.image-with-text__media-item--full-screen {
  padding: 0;
} 

@media screen and (max-width: 750px) {
  .image-with-text__media-item img{
    border-radius: 16px;
  }

  .image-with-text__media-item--full-screen > div {
    min-height: 208px;
  } 
}

.image-with-text__media-item{
    padding-right: 24px;
}

@media screen and (max-width: 750px) {
  .image-with-text__media-item img{
    border-radius: 16px;
  }
}

.image-with-text__grid--reverse .image-with-text__media-item{
    padding-right: 0px;
    padding-left: 24px;
}
.image-with-text__media-item.original-proportions{
    padding-left: 0px;
    padding-right: 0px;
}
.image-with-text__icons-item[data-scroll-to-section]{
    cursor: pointer;
}
.image-with-text__icons-item[data-scroll-to-section]:hover svg > rect:first-child{
    fill: #EDEFF3;
    stroke: #000;
}
.image-with-text__scroll-btn{
    background: transparent;
    border: none;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #F1592A;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    margin-top: 24px;
}
.image-with-text__icons-item{
    display: flex;
    height: fit-content;
}

.image-with-text__text.subtitle{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: normal;
}
.image-with-text__icons{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.image-with-text__icons::-webkit-scrollbar {
  display: none;
}

.image-with-text__icons img,
.image-with-text__icons svg{
    width: auto;
    height: 60px;
}

.heading-block {
  display: flex;
  align-items: center;
  gap: 12px;
}

.heading-block .number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #FCE6DE;
  color: var(--primary-orange);
}

.tiny.image-with-text__heading {
  font-size: 28px;
  line-height: 36px;
  margin: 0;
}

.hxl.image-with-text__heading {
  font-size: 72px;
}

@media screen and (max-width: 750px) {
  .hxl.image-with-text__heading {
    font-size: 24px;
    line-height: 32px;
  }
}

.image-with-text__text.large p {
  font-size: 24px;
  line-height: 32px;
}

.image-with-text__text ul li{
  position: relative;
  margin-bottom: 12px;
}

.image-with-text__text ul li:before{
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: -14px;
  background: #3E77AA;
}

.image-with-text__text a {
  color: var(--primary-orange);
  text-decoration: underline;
}

.image-with-text__text p:has(a) {
  margin-top: 24px;
}

@media screen and (max-width: 750px) {
  .image-with-text__heading {
    margin-bottom: 16px !important;
  }

  .tiny.image-with-text__heading {
    font-size: 18px;
    line-height: 24px;
  }

  .heading-block .number {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }

  .image-with-text__grid {
    gap: 12px;
  }

  a.link-style {
    text-align: start;
    margin-bottom: 12px;
  }

}

.image-with-text__heading .accent{
  color: var(--primary-orange);
}

@media screen and (min-width: 750px) {
  .heading-block.half-screen-size,
  .image-with-text__text.half-screen-size {
    max-width: 50%;
    padding-inline: 8px;
  }
}

@media (max-width: 749px){
    .image-with-text__media-item{
        padding-right: 0px;
    }
    .image-with-text__grid--reverse .image-with-text__media-item{
        padding-left: 0px;
    }
    .image-with-text__text.subtitle{
        font-size: 18px;
        line-height: 24px;
    }
    .image-with-text__icons img,
    .image-with-text__icons svg{
        height: 40px;
    }
}

.image-with-text__content-list {
  margin-top: 12px !important;
}

.image-with-text__content-list-item {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.image-with-text__content-icon-block {
  display: flex;
  gap: 10px;
  margin: 0 !important;
}

.image-with-text__content-icon-block p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 750px) {
  .image-with-text__media {
    min-height: 208px !important;
  }
}
/* END IMAGE WITH TEXT */




/* RICH TEXT */
.rich-text-custom .rich-text__wrapper{
    padding: 80px 32px;
    border-radius: 24px;
    background: var(--secondary-light-blue, #EDEFF3);
}
.rich-text-custom .rich-text__text *{
    font-size: 24px;
    line-height: 32px;
}
.rich-text-custom .rich-text__text{
    margin-top: 16px;
}
.rich-text-custom .rich-text__text.small-text *{
    font-size: 16px;
    line-height: 24px;
}
.rich-text__buttons {
    margin-top: 52px !important;
}

.rich-text__text.rte a {
  color: var(--primary-orange);
  text-decoration: underline;
}

@media (max-width: 749px){
    .rich-text-custom .rich-text__wrapper{
        margin: 0px auto !important;
        width: calc(100% - 30px) !important;
        padding: 24px 16px;
        border-radius: 16px;
    }

    .rich-text__buttons {
      margin-top: 20px !important;
  }

  .rich-text-custom .rich-text__text * {
    font-size: 16px;
    line-height: 24px;
  }
}


/* TIMELINE SECTION */

.steps__item-wrapper{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    padding-bottom: 80px;
    position: relative;
}
.steps__item-text{
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 12px 30px 0px #35353529;
    position: relative;
    width: -webkit-fill-available;
}
.steps__item-text svg{
    position: absolute;
    right: -8px;
    top: 24px;
}
.steps__item-title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.steps__item-title-wrapper span{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
.steps__item-title-wrapper .point{
    width: 24px;
    height: 24px;
    background: #F1592A;
    display: block !important;
    border-radius: 50%;
    margin-top: 4px;
}
.steps__item-title-wrapper .line{
    position: absolute;
    display: block !important;
    width: 1.5px;
    height: calc(100% - 68px);
    background: #FBD1C3;
    top: 60px;
}
.steps__item-title{
    margin-right: -20.735px;
}
.steps__item:last-child .line{
    display: none !important;
}
.steps__item:nth-child(even){
    display: flex;
    justify-content: flex-end;
}
.steps__item:nth-child(even) .steps__item-wrapper{
    flex-direction: row-reverse;
}
.steps__item:nth-child(even) .steps__item-title{
    margin-right: 0px;
    margin-left: -20.735px;
}
.steps__item:nth-child(even) .steps__item-text svg{
    transform: rotate(180deg);
    right: auto;
    left: -8px;
}
.steps h2{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}
.steps{
    padding: 60px 0px;
}

@media (max-width: 749px){
  .steps{
    padding: 24px 0px;
  }

  .steps h2 {
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: start;
    margin-bottom: 20px;
  }
    .steps__item-wrapper{
        width: 100%;
        flex-direction: row-reverse;
    }
    .steps__item-title{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .steps__item-text svg{
        transform: rotate(180deg);
        right: auto;
        left: -8px;
    }
    .steps__item-wrapper{
      gap: 16px;
      padding-bottom: 16px;
    }

    .steps__item-title-wrapper .point {
      width: 20px;
      height: 20px;
    }
}

/* END TIMELINE SECTION */


/* CUSTOM BREADCRUMBS */
.custom-breadcrumbs__navigation{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    padding: 24px 0px;
}
.custom-breadcrumbs__navigation a{
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #23232B;
}
.custom-breadcrumbs__navigation a:last-child{
    color: #F1592A;
}

@media screen and (max-width: 750px) {
  .custom-breadcrumbs__navigation {
    padding-top: 16px;
    padding-bottom: 0;
  }
}
/* END CUSTOM BREADCRUMBS */


/* TABS SECTION */
.tabs__buttons{
    display: flex;
}
.tabs__buttons button{
    width: 50%;
    height: 52px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0px;
    position: relative;
    font-family: var(--font-body-family);
    cursor: pointer;
}
.tabs__buttons button::after{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    background: #E5E5E5;
    border-radius: 6px;
    bottom: -4px;
    transition: all 0.3s ease;
}
.tabs__buttons button.active::after{
    background: #F1592A;
}
.tabs__content{
    margin-top: 28px;
}
.tabs__item-text ul{
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.tabs__item-text ul li::marker{
    color: #3E77AA;
}

.tabs__item-text a {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--primary-orange);
  font-weight: 700;
}

.tabs__item-text a::after {
  content: "";
  display: inline-block;
  width: 7.5px; 
  height: 13.5px;
  margin-left: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L7.53033 6.46967C7.82322 6.76256 7.82322 7.23744 7.53033 7.53033L1.53033 13.5303C1.23744 13.8232 0.762563 13.8232 0.46967 13.5303C0.176777 13.2374 0.176777 12.7626 0.46967 12.4697L5.93934 7L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967Z' fill='%23F1592A'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.tabs_contact-info{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tabs__title{
    margin-top: 0px;
    margin-bottom: 16px;
}
.tabs__description{
    text-align: center;
    max-width: 842px;
    margin: 0 auto;
    margin-bottom: 52px;
}
.tabs_contact-info > div,
.tabs_contact-info > div > div{
    display: flex;
    gap: 12px;
}
.tabs__item {
    display: none;
    opacity: 0;
    transition: all 0.3s ease;
}
.tabs__item.visible{
    opacity: 1;
}
.tabs__item.active{
    display: block;
}
.tabs__item-wrapper{
    display: flex;
    gap: 56px;
}
.tabs__item-wrapper > div{
    width: 50%;
}

.tabs__item-content {
  margin: auto;
}

.tabs__item-img img{
    width: 100%;
    min-height: 208px;
    max-height: 364px;
    max-width: 600px;
    object-fit: cover;
    border-radius: 24px;
    aspect-ratio: 16/9;
}
.tabs__item-content h3{
    font-family: var(--font-body-family);
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 24px;
}
.tabs__item-list-items{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.tabs__item-list-item{
    display: flex;
    gap: 10.5px;
}
.tabs__item-list-item a{
    color: #31639A;
    text-decoration: none;
}
.tabs__item-content img{
    width: 100%;
    max-width: 100%;
}
.tabs__item-list-icon-tick{
    width: 24px;
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1.5px solid var(--secondary-bright-blue, #3E77AA);
    background: var(--secondary-light-blue, #EDEFF3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs__item-list-icon-tick svg{
    width: 13.17px;
}
.tabs__item-contact-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}
.tabs__item-contact-adresses-item{
    display: flex;
    gap: 0px 12px;
}
.tabs__item-contact-adresses-item svg{
    width: 24px;
    min-width: 24px;
    height: 24px;
}
.tabs__item-contact-adresses{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.tabs__item-contact-adresses-item-numbers{
    display: flex;
    flex-wrap: wrap;
    gap: 0px 12px;
}
.tabs__item-contact-text-wrapper {
  display: flex;
  gap: 12px;
}
.tabs__item-contact-adresses-item-numbers .point{
    width: 10px;
    height: 10px;
    background: var(--secondary-blue, #D3D9E5);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 7px;
}
.tabs__item-contact-btn{
    width: fit-content;
    margin-top: 24px;
}
.blocks-grid__item-text-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    line-height: 20px;
    gap: 12px;
}
.blocks-grid__item-text-bottom span{
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    color: #F1592A;
}
.tabs__item.image-second .tabs__item-img{
    order: 2;
}
.tabs__item-list-icon-number{
    width: 24px;
    min-width: 24px;
    height: 24px;
    background: #FCE6DE;
    border-radius: 50%;
    font-size: 10.67px;
    font-weight: 700;
    color: #F1592A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-arrow {
  display: none;
}

.tabs__item-img-dropdown {
  display: none;
}

.desktop--hidden {
  display: none;
}

@media (max-width: 749px){
  .desktop--hidden {
    display: none;
  }

  .tabs__header {
    width: calc(100vw - 30px);
  }

  .tabs__buttons {
    height: 56px;
    overflow-x: auto;
  }

  .tabs__buttons::-webkit-scrollbar {
    display: none;
  }

  .tabs__buttons button {
    width: max-content;
    padding-inline: 12px;
    text-wrap: nowrap;
    flex-grow: 1;
  }

    .tabs__item-wrapper{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .tabs__item-wrapper>div{
        width: 100%;
    }
    .tabs__item-img{
        order: -1 !important;
    }

    .tabs__title {
      font-size: 20px;
      line-height: 26px;
      text-align: start;
    }

    .tabs__text {
      text-align: start;
    }

    .tabs__description {
      margin-bottom: 20px;
    }

    .tabs__content {
      margin-top: 24px;
    }

    .tabs__item-content h3 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 16px;
    }

  .tabs__item-content img{
    width: 437px;
    max-width: none;
  }

  .tabs__item-image-container {
    width: calc(100vw - 15px);
    overflow-x: auto;
    margin-right: -15px;
  }

    .tabs__item-list-icon-tick {
      width: 20px;
      min-width: 20px;
      height: 20px;
    }

    .tabs__item-list-item {
      gap: 12px;
  }

  .blocks-grid__item-text-bottom {
    justify-content: start;
  }

  .tabs__item-contact-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  .tabs__item-contact-title {
    font-size: 16px;
    line-height: 24px;
  }

  .tabs__item-contact-adresses {
    gap: 12px;
  }

  .tabs__item-contact-adresses-item {
    flex-wrap: nowrap;
    gap: 0px 10px;
  }

  .tabs__item-contact-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .tabs__item-contact-adresses-item-numbers {
    flex-direction: column;
  }

  .tabs__item-contact-adresses-item-numbers .point{
    display: none;
  }

  .mobile--hidden {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .dropdown-layout .tabs__item {
    display: block;
    opacity: 1;
  }

  .dropdown-layout .tabs__item-img {
    display: none;
  }

  .dropdown-layout .tabs__item-img-dropdown {
    display: block;
  }

  .tabs__item-content.dropdown-content .dropdown-content-wrapper {
    height: 0;
    visibility: hidden;
    transition: height .3s ease;
  }
  
  .tabs__item-content.dropdown-content .dropdown-content-wrapper.visible {
    visibility: visible;
    margin-top: -8px;
    margin-bottom: 16px;
  }

  .tabs__item-content.dropdown-content .dropdown-btn {
    padding: 8px 0;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .tabs__item-content.dropdown-content h3 {
    margin-bottom: 0;
  }

  .tabs__item-content.dropdown-content .dropdown-btn svg {
    display: block;
    transition: transform .3s ease;
  }

  .tabs__item-content.dropdown-content .visible .dropdown-btn svg {
    transform: rotate(180deg);
  }

  .dropdown-layout .tabs__item-content img{
    width: 100%;
    margin-top: 20px;
  }
}
/* END TABS SECTION */


/* MAP SECTION */
.image-with-text__location-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
    color: #000;
}
.image-with-text__location-address,
.image-with-text__location-time {
    display: flex;
    gap: 10px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
}

.image-with-text__location-address {
  color: #000;
}

.image-with-text__location-address p {
  margin-block: 0;
}

.image-with-text__contacts-column {
  display: flex;
  flex-direction: column;
}

.image-with-text__contacts-column h6 {
  font-size: 16px;
  color: #393940;
  margin-top: 0;
  margin-bottom: 4px;
}
/* END MAP SECTION */


/* MATERIAL SECTION */
.material h2{
    margin-top: 0px;
    margin-bottom: 52px;
    text-align: center;
}
.material__wrapper{
    display: flex;
    gap: 32px;
}
.material__wrapper .block-row{
    width: calc(33.3333333% - 32px * 2 / 3);
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.material__wrapper .block{
    display: flex;
    gap: 8px;
    line-height: 24px;
}
.material__wrapper .block span{
    display: block;
    width: 8px;
    min-width: 8px;
    height: 8px;
    background: #3E77AA;
    border-radius: 50%;
    position: relative;
    top: 8px;
}

.rich-text__buttons a.small-btn{
  display: flex;
  justify-content: center;
}

@media (max-width: 749px){
    .material__wrapper{
        flex-direction: column;
    }
    .material__wrapper .block-row{
        width: 100%;
    }
    .material h2{
        margin-bottom: 32px;
    }

    .rich-text__buttons a {
      width: 100%;
      display: flex;
      justify-content: center;
    }
}
/* END MATERIAL SECTION */




/* COMPARING TABLE */
.comparing-table h2{
    margin-top: 0px;
    margin-bottom: 52px;
    text-align: center;
}
.comparing-table__table-item,
.comparing-table__table-header{
    display: flex;
}
.comparing-table__table-item > div,
.comparing-table__table-header > div{
    padding: 16px 12px;
    display: block;
}
.comparing-table__table-item > div:first-child,
.comparing-table__table-header > div:first-child{

}
.comparing-table__table-item.show-background{
    background-color: #EDEFF3;
}
.comparing-table__table-item > div{
    font-size: 16px;
    line-height: 24px;
    color: #000;
    display: flex;
    align-items: center;
    border-top: 1px solid #E5E5E5;
    word-break: break-word;
}
.comparing-table__table-item > div > div{
    max-width: 100%;
}
.comparing-table__table-item a{
    color: #3E77AA;
    text-decoration: none;
}
.comparing-table__table-header > div,
.comparing-table__table-item > div:first-child{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #000;
}
.comparing-table__table{
    border: 1px solid #E5E5E5;
    border-radius: 12px;
}
.comparing-table__table-header > div{
    padding: 24px 12px;
}
.comparing-table__table-wrapper{
    min-width: 1000px;
}
.comparing-table__table{
    overflow-x: auto;
}
.comparing-table__table::-webkit-scrollbar{
    display: none;
}

.comparing-table__container .h2 {
  text-transform: uppercase;
}

@media screen and (max-width: 750px) {
  .comparing-table__container .h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    text-align: start;
  }

  .comparing-table__table-wrapper {
    min-width: 100%;
    max-width: 100%;
  }
  
  .comparing-table__table-header>div, .comparing-table__table-item>div:first-child {
    font-size: 16px;
  }
}
/* END COMPARING TABLE */



/* LOGIN */
    .login-wrapper{
        display: flex;
        gap: 32px;
        padding: 80px 0px;
    }
    .login-wrapper.register-wrapper{
        flex-direction: row-reverse;
    }
    .login-wrapper > div{
        width: calc(50% - 16px);
    }
    .login__image img{
        width: 100%;
        max-width: 100%;
        border-radius: 24px;
    }
    h1#login,
    h1.register-title{
        font-family: Oswald;
        font-size: 72px;
        font-weight: 600;
        line-height: 84px;
        text-align: left;
        margin-bottom: 32px;
        text-transform: uppercase;
    }
    .login__form-wrapper > div{
        max-width: 440px;
        margin: 0 auto;
    }
    .login__form-wrapper > div form{
        max-width: 406px;
    }
    .login__form-wrapper .field{
        flex-direction: column-reverse;
    }
    .login__form-wrapper .field label{
        position: static;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: #393940;
        margin-bottom: 6px;
        letter-spacing:normal;
    }
    .login__form-wrapper .field::after,
    .login__form-wrapper .field::before{
        display: none;
    }
    .login__form-wrapper .field input{
        border: 1.5px solid #E5E5E5;
        border-radius: 8px;
        padding: 12px !important;
        font-size: 16px;
        margin: 0px !important;
    }
    .login__form-wrapper .field input:focus{
        padding: 12px;
        box-shadow: none;
        border: 1.5px solid #E5E5E5;
        border-radius: 8px;
    }
    .login__form-wrapper .field input:focus ~ label{
        font-size: 12px;
        letter-spacing:normal;
    }
    .login__form-wrapper .field input::placeholder{
        opacity: 1;
        color: #B3B3B3;
    }
    .login a[href="#recover"]{
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        color: #3E77AA;
        text-decoration: none;
        margin-left: auto;
        margin-top: 16px !important;
    }
    .login-wrapper .customer button{
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 24px;
    }
    .to-sign-up{
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: #393940;
        text-align: center;
    }
    .to-sign-up a{
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        color: #F1592A;
        text-decoration: none;
        display: inline-block !important;
        margin-left: 12px !important;
    }
    .password-wrapper{
        position: relative;
    }
    .show-password{
        position: absolute;
        width: 24px;
        height: 24px;
        right: 12px;
        top: 50%;
        transform: translate(0%, -50%);
    }
    #show-password:after{
        content: '';
        display: none;
        position: absolute;
        width: 2px;
        height: 100%;
        background: #C1C1C1;
        transform: rotate(45deg) translateX(-50%);
        top: 1px;
        left: 50%;
        border-radius: 12px;
    }
    #show-password.text-type:after{
        display: block;
    }
    #error-message{
        margin-top: 0px;
        font-size: 14px;
    }
    .checkbox-field{
        display: flex;
        flex-direction: row !important;
        align-items: center;
        gap: 8px;
    }
    .checkbox-field input{
        display: none;
    }
    .checkbox-field input:checked ~ label .custom-checkbox{
        background: #F1592A;
    }
    .checkbox-field input:checked ~ label .custom-checkbox svg{
        display: block;
    }
    .custom-checkbox{
        width: 18px;
        min-width: 18px;
        height: 18px;
        border: 1px solid #F1592A;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .custom-checkbox svg{
        display: none;
    }
    .checkbox-field label{
        margin-bottom: 0px !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        text-align: left !important;
        color: #000 !important;
        pointer-events: all !important;
        display: flex !important;
        align-items: center !important;
        gap: 8px !important;
    }

    @media (max-width: 768px){
        .login-wrapper,
        .login-wrapper.register-wrapper{
            flex-direction: column-reverse;
            padding: 40px 0px;
        }
        .login-wrapper > div{
            width: 100%;
        }
        h1#login,
        h1.register-title{
            font-size: 48px;
            line-height: normal;
        }
    }
/* END LOGIN */

/* SEARCH */
#rapid-search-results {
  margin-left: 108px;
}

#rapid-search-results .rps_container {
  margin-top: 0;
  padding: 5px;
  border-radius: 12px !important;
}

#rapid-search-results ._1rHq2J8-B1xVzp56F4LBNx {
  padding: 24px;
}

#rpsViewAllResults {
    cursor: pointer;
    text-align: start;
    justify-content: start;
    align-items: center;
    padding-bottom: 0; 
    color: var(--primary-orange);
    background-color: transparent;
}

#rpsViewAllResults::after {
  content: "";
  display: inline-block;
  width: 7.5px; 
  height: 13.5px;
  margin-left: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L7.53033 6.46967C7.82322 6.76256 7.82322 7.23744 7.53033 7.53033L1.53033 13.5303C1.23744 13.8232 0.762563 13.8232 0.46967 13.5303C0.176777 13.2374 0.176777 12.7626 0.46967 12.4697L5.93934 7L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967Z' fill='%23F1592A'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.rps_predictive_keyword ._1LnmltgS_J5Y2AHAeEvmje {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rps_predictive_keyword ._1LnmltgS_J5Y2AHAeEvmje {
  font-size: 16px;
  color: #393940;
}

.rps_predictive_keyword ._1LnmltgS_J5Y2AHAeEvmje:hover {
  color: #fff;
}

.rps_predictive_keyword ._1LnmltgS_J5Y2AHAeEvmje::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  flex-grow: 1;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.89997 1C2.89997 0.723858 3.12383 0.5 3.39997 0.5H13C13.2761 0.5 13.5 0.723858 13.5 1V10.6C13.5 10.8761 13.2761 11.1 13 11.1C12.7239 11.1 12.5 10.8761 12.5 10.6V2.20711L1.35355 13.3536C1.15829 13.5488 0.841709 13.5488 0.646447 13.3536C0.451184 13.1583 0.451184 12.8417 0.646447 12.6464L11.7929 1.5H3.39997C3.12383 1.5 2.89997 1.27614 2.89997 1Z" fill="%23808080"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.rps_predictive_stock_status {
  display: none;
}

#rapid-search-results ._1s_NwBbwBV8Xt_Fkh5qBlY {
  padding-left: 12px;
}

#rapid-search-results .rps_predictive_product {
  padding: 16px 0 !important;
}

#rapid-search-results .rps_product_name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

#rapid-search-results .rps_final_price::before {
  content: 'Price USD:';
  color: #000;
  padding-right: 8px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#rapid-search-results .TZb7enkgSewGcmT7PqIGk {
  align-items: start;
}

#rapid-search-results .vkYv2gIp_DxKfE-H98iiq svg {
  display: none;
}

.rps-csb-container .rps-csb-form-container {
  background-color: #34343C;
  border: 1.5px solid #404048;
  border-radius: 8px;
}

.rps-csb-container ._input_12vbd_32 {
  box-shadow: none;
  outline-offset: 0;
}

.rps-csb-container .rps-csb-form-container {
  position: relative;
}

.rps-csb-container ._input_12vbd_32:focus-visible {
  padding-left: 44px;
  background-color: #fff !important;
}

.rps-csb-container .rps-csb-form-container::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  display: none; /* Hide by default */
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 11C3.75 6.99594 6.99594 3.75 11 3.75C15.0041 3.75 18.25 6.99594 18.25 11C18.25 15.0041 15.0041 18.25 11 18.25C6.99594 18.25 3.75 15.0041 3.75 11ZM11 2.25C6.16751 2.25 2.25 6.16751 2.25 11C2.25 15.8325 6.16751 19.75 11 19.75C13.1462 19.75 15.112 18.9773 16.6342 17.6949L19.4697 20.5303C19.7626 20.8232 20.2374 20.8232 20.5303 20.5303C20.8232 20.2374 20.8232 19.7626 20.5303 19.4697L17.6949 16.6342C18.9773 15.112 19.75 13.1462 19.75 11C19.75 6.16751 15.8325 2.25 11 2.25Z" fill="%23B3B3B3"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.rps-csb-form-container:has(input:focus-visible)::after {
  display: block;
}

.rps-csb-container ._searchIcon_12vbd_54 {
  display: none;
}

.rps-csb-container ._searchButton_12vbd_41 {
  padding: 0 24px;
}

@media screen and (max-width: 1120px) {
  .rps-csb-container {
    margin-left: 40px !important;
  }

  .rps-csb-form-container {
    width: 380px !important;
  }
}

@media screen and (max-width: 1000px) {
  .rps-csb-container {
    margin-left: 20px !important;
  }
}

@media (min-width: 770px) and (max-width: 950px) {
  .rps-csb-container {
    margin-left: 0 !important;
  }

  .rps-csb-form-container {
    width: 200px !important;
  }
}

@media (max-width: 800px) {
  .rps-csb-form-container {
    width: 180px !important;
  }
}

@media screen and (max-width: 769px) {
  ._2JhaoiMkccvqE7XEPYA_J2 {
    padding: 6px;
  }

  .rps_trademark_mobile {
    display: none !important;
  }

  .rps-csb-container .rps-csb-form-container {
    background-color: #34343C;
    border: 1.5px solid #404048;
    border-radius: 8px;
  }

  .rps-csb-container {
    margin-left: 0 !important;
  }

  #rapid-search-results .rps_mov_search_header {
    position: relative;
    padding: 16px;
    background-color: #23232B;
  }

  #rapid-search-results ._1WFp3qQF8Xl06EzUM5SpVO[type='search'] {
    border: none;
    background-color: #fff;
    height: 48px;
    padding: 12px;
    padding-left: 44px;
    border-radius: 8px;
  }

  #rapid-search-results ._1WFp3qQF8Xl06EzUM5SpVO[type='search']:focus-visible {
    outline-offset: 0;
    box-shadow: none;
  }

  #rapid-search-results ._25fD8cT3wgKhw00FSAZa_Y::after {
    content: "";
    position: absolute;
    left: 28px;
    top: 50%;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 11C3.75 6.99594 6.99594 3.75 11 3.75C15.0041 3.75 18.25 6.99594 18.25 11C18.25 15.0041 15.0041 18.25 11 18.25C6.99594 18.25 3.75 15.0041 3.75 11ZM11 2.25C6.16751 2.25 2.25 6.16751 2.25 11C2.25 15.8325 6.16751 19.75 11 19.75C13.1462 19.75 15.112 18.9773 16.6342 17.6949L19.4697 20.5303C19.7626 20.8232 20.2374 20.8232 20.5303 20.5303C20.8232 20.2374 20.8232 19.7626 20.5303 19.4697L17.6949 16.6342C18.9773 15.112 19.75 13.1462 19.75 11C19.75 6.16751 15.8325 2.25 11 2.25Z" fill="%23B3B3B3"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%);
  }

  #rapid-search-results .rps_mov_search_button,
  .no4kEQ7b8AmhNPabQxw08,
  #rapid-search-results .rps_mov_back_button {
    display: none;
  }

  .rps_mov_clear_button {
    margin-right: 0;
  }

  #rapid-search-results {
    margin-left: 0;
  }
  
  #rapid-search-results .rps_container {
    margin-top: 0;
    padding: 24px;
    border-radius: 12px !important;
  }
  
  .rps_predictive_keyword ._1LnmltgS_J5Y2AHAeEvmje::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 11C3.5 6.85786 6.85786 3.5 11 3.5C15.1421 3.5 18.5 6.85786 18.5 11C18.5 15.1421 15.1421 18.5 11 18.5C6.85786 18.5 3.5 15.1421 3.5 11ZM11 2.5C6.30558 2.5 2.5 6.30558 2.5 11C2.5 15.6944 6.30558 19.5 11 19.5C13.1673 19.5 15.1451 18.6889 16.6465 17.3536L19.6464 20.3536C19.8417 20.5488 20.1583 20.5488 20.3536 20.3536C20.5488 20.1583 20.5488 19.8417 20.3536 19.6464L17.3536 16.6465C18.6889 15.1451 19.5 13.1673 19.5 11C19.5 6.30558 15.6944 2.5 11 2.5Z" fill="%23808080"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 6px;
  }
  
  .rps_predictive_product_image {
    width: 60px !important;
    height: 60px !important;
  }

  #rapid-search-results .rps_bottom_content {
    padding: 16px 10px !important;
  }

  #rapid-search-results .rps_bottom_content > * {
    margin: 0 !important;
    padding: 0 !important;
  }
}
/* END SEARCH */
