.dc-article-compare-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    text-transform: uppercase;
    color: #23232B;
    max-width: 890px;
    margin: 0 auto;
  }
  .dc-article-compare-bottom{
    margin-top: 52px;
  }
  .dc-article-compare-subtitle{
    max-width: 890px;
    margin: 0 auto;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #393940;
  }