.dc-blog-header-content {
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    max-height: 408px;
}

.dc-blog-header-content img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: cover;
    max-height: 400px;
}

.dc-blog-header-content-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(0deg, rgba(35, 35, 43, 0.6), rgba(35, 35, 43, 0.6));
}

.dc-blog-header-content-text-title {
    margin: 0 auto 16px auto;
    max-width: 842px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 68px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.dc-blog-header-content-text-subtitle {
    margin: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F2F2F2;
    max-width: 710px;
}

.dc-blog-header {
    margin-bottom: 80px;
}

@media (max-width: 749px) {
    .dc-blog-header-content-text {
        position: static;
        background: none;
        align-items: flex-start;
    }

    .dc-blog-header-content-text-title {
        color: #23232B;
        font-size: 28px;
        line-height: 34px;
        text-align: left;
        margin: 0 0 16px 0;
    }

    .dc-blog-header {
        padding-top: 8px !important;
        margin-bottom: 48px;
    }

    .dc-blog-header-content-text-subtitle {
        color: #393940;
        margin-bottom: 24px;
        text-align: left;
    }

    .dc-blog-header-content {
        border-radius: 0;
        max-height: 100%;
    }

    .dc-blog-header-content img {
        border-radius: 16px;
        min-height: 210px;
        height: 100%;
    }
}