.dc-warranty-title{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 117%;
  text-align: center;
  text-transform: uppercase;
  color: #23232B;
  margin: 0;
}
.dc-warranty-content{
  margin-top: 16px;
}
.dc-warranty-content ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dc-warranty-content ul li{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #393940;
  position:relative
}
.dc-warranty-content ul li:before{
  width: 20px;
  height: 20px;
  content:'';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.25' y='1.25' width='21.4999' height='21.4999' rx='10.7499' fill='%23EDEFF3'/%3E%3Crect x='1.25' y='1.25' width='21.4999' height='21.4999' rx='10.7499' stroke='%233E77AA' stroke-width='1.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.3414 7.07214C18.6467 7.35203 18.6673 7.82646 18.3874 8.1318L10.3666 16.8818C10.2284 17.0325 10.0346 17.1203 9.83008 17.1248C9.62556 17.1292 9.4281 17.0499 9.28345 16.9053L5.63764 13.2595C5.34475 12.9666 5.34475 12.4917 5.63764 12.1988C5.93053 11.9059 6.40541 11.9059 6.6983 12.1988L9.79023 15.2907L17.2817 7.11821C17.5616 6.81287 18.036 6.79224 18.3414 7.07214Z' fill='%233E77AA'/%3E%3C/svg%3E%0A");
  background-size: cover;
  left: -32px;
  top: 2px;
}
.dc-warranty-content ul li:not(:first-child){
  margin-top: 12px;
}
.dc-warranty-bottom{
  margin-top: 52px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 56px;
}
.dc-warranty-bottom-left img{
  display: block;
  width: 100%;
  border-radius: 24px;
}
.right-item{
  padding: 24px;
  box-sizing: border-box;
  gap: 24px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 12px;
  display: flex;
  align-items:center;
}
.right-item:not(:first-child){
  margin-top: 32px;
}
.right-item-icon span{
  display: flex;
  width: 72px;
  height: 72px;
  background: #FCE6DE;
  border-radius: 51px;
  justify-content:center;
  align-items: center;
}
.right-item-text{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #393940;
}
@media(max-width: 999px){
  .dc-warranty-title{
    font-size: 52px;
  }
  .dc-warranty-bottom{
    grid-template-columns: 1fr;
  }
  .dc-warranty-content ul{
    padding-left: 40px;
  }
}