.dc-witems-title{
  max-width: 842px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  text-transform: none;
}
.dc-witems-bottom{
  margin-top: 40px;
  gap: 32px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.dc-witems-bottom-one{
  padding: 24px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dc-witems-bottom-one-icon{
  width: 72px;
  height: 72px;
  background: #FCE6DE;
  border-radius: 50%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 24px;
}
.dc-witems-bottom-one-title{
  margin: 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
.dc-witems-bottom-one-text{
  margin-top: 8px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #393940;
}
@media(max-width: 999px){
  .dc-witems-bottom{
    grid-template-columns: 1fr;
  }
}