.dc-wtext-bottom{
  max-width: 842px;
  margin: auto;
}
.dc-wtext-item-title{
  margin: 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #23232B;
  margin-bottom: 24px;
}
.dc-wtext-item-title p{
  margin: 0;
}
.dc-wtext-num-body{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #393940;
}
.dc-wtext-item-subtitle{
  margin-bottom: 16px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #393940;
}
.dc-wtext-num-body ol,
.dc-wtext-num-body ul{
  margin: 0;
}
.dc-wtext-num-body ol{
  padding-left: 21px;
  counter-reset: my-counter;
}
.dc-wtext-num-body ol li {
  counter-increment: my-counter;
  position:relative
}
.dc-wtext-num-body ol li:before{
  content: counter(my-counter) ". ";
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #F1592A;
  position: absolute;
  left: -21px;
  top: 0;
}
.dc-wtext-num-body ol li:not(:first-child){
  margin-top:16px;
}
.dc-wtext-num-body ul{
  padding-left: 16px;
}
.dc-wtext-item:not(:first-child){
  margin-top: 32px;
}
.dc-wtext-num-body ul > li{
  position:relative;
}
.dc-wtext-num-body ul > li:before{
  content:'';
  width: 8px;
  height: 8px;
  display:block;
  position:absolute;
  background: #F1592A;
  border-radius: 50%;
  left: -16px;
  top: 8px;
}
.dc-wtext-num-body ul > li:not(:first-child){
  margin-top: 12px;
}
