.delivery-first-acc, .delivery-second-acc, .delivery-third-acc {
    padding: 80px 0;
}

.delivery-first-acc__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 20px;
}

.delivery-first-acc__content {
    max-width: 515px;
}

.delivery-first-acc__title {
    font-size: 48px;
    text-transform: uppercase;
    margin: 0 0 24px 0;
    color: #23232B;
    font-weight: 600;
}

.delivery-first-acc__copy p {
    font-size: 16px;
    line-height: 24px;
    color: #393940;
    margin-top: 0;
}


.delivery-first-acc__copy a {
    font-weight: 700;
    color: #F1592A;
}

.delivery-first-acc__copy p:not(:last-child) {
    margin-bottom: 12px;
}

.delivery-first-acc__copy p + p:has(strong) {
    margin-bottom: 8px !important;
}

.delivery-first-acc__copy p + p em {
    font-style: normal;
    padding-left: 34px;
    position: relative;
    color: #000;
}

.delivery-first-acc__copy p + p:has(em), .delivery-first-acc__copy p + p:has(a) {
    margin-bottom: 0 !important;
}

.delivery-first-acc__accordions {
    max-width: 624px;
    width: 100%;
}


.delivery-accordion-item {
    border: 1px solid #E5E5E5;
    border-radius: 8px;
}

.delivery-accordion-item:has( > .accordion-header[aria-expanded="true"]) {
    border-color: #F1592A;
}

.delivery-accordion-item:not(:last-child) {
    margin-bottom: 12px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
    font-size: 16px;
    transition: background-color 0.3s ease;
    padding: 12px;
    background-color: transparent;
    column-gap: 20px;
}


.accordion-title {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
}

.accordion-chevron {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.accordion-content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}

.delivery-first-acc .accordion-content-image {
    max-height: 220px;
}

.delivery-second-acc .accordion-content-image {
    max-height: 365px;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}


.accordion-content-inner {
    padding: 0 12px 12px 12px;
    margin-top: 4px;
}

.accordion-content-inner p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 0;
    color: #393940;
}

.delivery-second-acc .accordion-content-inner p:last-child {
    margin-bottom: 0;
}

.accordion-header[aria-expanded="true"] .accordion-chevron {
    transform: rotate(180deg);
}

#accordion-content-2 .accordion-content-inner p:first-child {
    margin-bottom: 12px;
}

.accordion-content-inner ol {
    margin-top: 0;
    margin-bottom: 8px;
    padding-left: 35px;
}

.accordion-content-inner ul {
    margin-bottom: 16px;
    padding-left: 45px;
}

.accordion-content-inner ol li, .accordion-content-inner ul li {
    list-style: inherit;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 0;
    color: #393940;
}

.accordion-content-inner ul li {
    position: relative;
}

.accordion-content-inner ul li:before {
    position: absolute;
    content: '';
    top: 8px;
    left: -12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3E77AA;
}

.accordion-content-inner ul li:not(:last-child) {
    margin-bottom: 8px;
}

.accordion-content-inner ol li:not(:last-child) {
    margin-bottom: 12px;
}

.accordion-content-inner p strong {
    display: block;
    font-weight: 400;
    color: #000;
    margin-bottom: 16px;
}

.install-table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 12px;
}

.install-table {
    border: 1px solid #E5E5E5;
    border-radius: 12px;
}

.install-table th {
    padding: 12px;
}

.install-table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 0 0 1px #edeff3;
    margin: 0 auto;
    text-align: center;
}

.install-table thead th[colspan='2'] {
    background-color: #FAF9F9;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 24px;
    text-align: center;
}

.install-table thead th {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    line-height: 24px;
}

.install-table th,
.install-table td {
    border: 1px solid #E5E5E5;
    padding: 12px;

}

.install-table tbody tr th {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

}

.install-table td {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.install-table tbody tr {
    background-color: #edeff3;
}

.install-table tbody tr:nth-child(even) {
    background-color: #fff;
}

.accordion-content-inner p a {
    color: #F1592A;
    font-weight: 700;
}

.delivery-second-acc .delivery-first-acc__copy p strong {
    color: #000;
}

.delivery-third-acc .delivery-first-acc__copy li {
    position: relative;
    margin: 0;
    padding: 12px 12px 12px 42px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #FAF9F9;
    border-radius: 12px;
}

.delivery-accordion-item .delivery-accordion-item:has(.accordion-header[aria-expanded="true"]) {
    border: 1px solid #E5E5E5;
}

.delivery-accordion-item .delivery-accordion-item .accordion-header {
    justify-content: flex-start;
    column-gap: 2px;
}

.delivery-accordion-item .delivery-accordion-item .accordion-header .accordion-title {
    color: #DF633A;
    font-size: 9px;
    line-height: 11px;
}

.accordion-content[aria-hidden="false"] {
    max-height: 100%;
}

.delivery-accordion-item .delivery-accordion-item .accordion-header .accordion-chevron {
    transform: rotate(180deg);
}

.delivery-accordion-item .delivery-accordion-item .accordion-header[aria-expanded="true"] .accordion-chevron {
    transform: rotate(0);
}

.delivery-accordion-item .delivery-accordion-item .accordion-content-image {
    border-radius: 0;
}

.delivery-accordion-item .delivery-accordion-item + p {
    margin-bottom: 12px;
}

.delivery-third-acc .delivery-accordion-item p strong {
    font-weight: 700;
    color: #000;
    padding-left: 35px;
}

.delivery-third-acc .accordion-content-inner ul {
    padding-left: 70px;
}

.delivery-third-acc .accordion-content-inner ul li {
    color: #000;
}

.delivery-third-acc .accordion-content-inner ul li:not(:last-child) {
    margin-bottom: 12px;
}

.delivery-third-acc .accordion-content-inner p:last-child {
    margin-bottom: 0;
}

.delivery-accordion-item .delivery-accordion-item {
    margin-bottom: 12px;
}

@media (max-width: 1366px) {
    .delivery-first-acc__accordions {
        max-width: 500px;
    }
}

@media (max-width: 992px) {
    .delivery-first-acc, .delivery-second-acc, .delivery-third-acc {
        padding: 40px 0;
    }

    .delivery-first-acc__wrapper {
        flex-direction: column;
        row-gap: 20px;
    }

    .delivery-first-acc__content {
        max-width: 100%;
    }

    .delivery-first-acc__accordions {
        max-width: 100%;
    }
}

@media (max-width: 749px) {
    .delivery-first-acc, .delivery-second-acc, .delivery-third-acc {
        padding: 24px 0;
    }

    .delivery-first-acc__title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 16px;
    }

    .accordion-title {
        font-size: 16px;
    }

    .accordion-content-inner ol {
        padding-left: 15px;
    }

    .accordion-content-inner ul {
        padding-left: 25px;
    }

    .accordion-content-inner p {
        margin-bottom: 12px;
    }

    .accordion-content-inner {
        margin-top: 0;
    }

    #accordion-content-2 .accordion-content-inner p:first-child {
        margin-bottom: 8px;
    }

    .delivery-accordion-item .delivery-accordion-item {
        margin-bottom: 16px;
    }

    .delivery-accordion-item .delivery-accordion-item + p {
        margin-bottom: 16px;
    }

    .delivery-third-acc .delivery-accordion-item p strong {
        padding-left: 0;
    }

    .delivery-third-acc .accordion-content-inner ul {
        padding-left: 36px;
    }

    .accordion-content-image {
        border-radius: 6px;
    }

    .accordion-header {
        column-gap: 8px;
    }

    .install-table th:first-child,
    .install-table td:first-child,
    .install-table thead th[rowspan="2"]:first-child {
        position: sticky;
        left: 0;
        background-color: #fff;
        z-index: 2;
        box-shadow: 0px 0px 12px 0px #0000001A;
    }

    .install-table {

        min-width: 482px;
        border-collapse: separate;
        border-spacing: 0;
    }
    .install-table thead th:first-child {
        position: static;
        box-shadow: none;
    }
    .install-table thead th[rowspan="2"]:first-child {
        border-radius: 12px 0 0 0;
    }
    #accordion-content-2 > div > div > div > table > tbody > tr:nth-child(4) > th {
        border-radius: 0 0 0 12px;
    }
    #accordion-content-2 > div > div > div > table > tbody > tr:nth-child(4) > td:nth-child(5) {
        border-radius: 0 0 12px 0;
    }
    #accordion-content-2 > div > div > div > table > thead > tr:nth-child(1) > th:nth-child(3) {
        border-radius: 0 12px 0 0;
    }
    .install-table-wrapper {
        border-bottom: none;
        border-radius: 12px 12px 0 0;
        padding-bottom: 10px;
        border: none;
    }
    .install-table thead th {
        min-width: 94px;
    }
    .delivery-accordion-item .delivery-accordion-item .accordion-content-image {
        min-height: 180px;
        object-fit: contain;
    }
}