.product__extra_info-wrap {
  max-width: 624px;
}

.extra-info-width iframe {
  /* margin-top: 24px; */
  border-radius: 24px;
  overflow: hidden;
}

.yt-video {
  margin-bottom: 24px;
}

.product__extra_info > div {
  /* margin-bottom: 52px; */
}

.product__extra_info {
  font-size: 16px;
  line-height: 24px;
}

.product__extra_info ul {
  /* margin-left: 14px; */
}

.product__extra_info h4,
h5 {
  font-family: 'Lato';
  color: #000;
  margin-bottom: 16px;
  margin-top: 0;
  text-transform: capitalize;
}

.product__extra_info h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
}

@media (min-width: 990px) {
  .product__extra_info h4 {
    font-size: 28px;
    line-height: 36px;
  }
}

.product__extra_info h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.product__extra_info li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 16px;
}

.product__extra_info li strong {
  display: block;
}

.product__extra_info li:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 0;
  background: #3e77aa;
}

.product__extra_warning_text {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.product__extra_warning_text a {
  color: var(--primary-orange);
}

.product__extra_info img {
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.product__extra_accessories-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

@media (min-width: 750px) {
  .product__extra_accessories-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-right: 55px;
  }
}

.product__extra_accessories-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  text-align: left;
  font-size: 10px;
  line-height: 14px;
}

@media (min-width: 750px) {
  .product__extra_accessories-item {
    text-align: center;
  }
}

.product__extra_overview-list ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  -moz-column-gap: 16px;
  column-gap: 16px;
}

@media (min-width: 990px) {
  .product__extra_overview-list ul {
    -moz-column-gap: 14px;
    column-gap: 14px;
    row-gap: 16px;
  }
}

.product__extra_overview-list li {
  width: calc(50% - 8px);
  padding-left: 28px;
}

@media (min-width: 990px) {
  .product__extra_overview-list li {
    width: auto;
  }
}

.product__extra_overview-list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  /* transform: translateY(-50%); */
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220%200%2024%2024%22 fill%3D%22none%22%3E%3Crect x%3D%221.25%22 y%3D%221.25%22 width%3D%2221.4999%22 height%3D%2221.4999%22 rx%3D%2210.7499%22 fill%3D%22%23EDEFF3%22/%3E%3Crect x%3D%221.25%22 y%3D%221.25%22 width%3D%2221.4999%22 height%3D%2221.4999%22 rx%3D%2210.7499%22 stroke%3D%22%233E77AA%22 stroke-width%3D%221.5%22/%3E%3Cpath fill-rule%3D%22evenodd%22 clip-rule%3D%22evenodd%22 d%3D%22M18.3399 7.07214C18.6452 7.35203 18.6659 7.82646 18.386 8.1318L10.3652 16.8818C10.227 17.0325 10.0331 17.1203 9.82861 17.1248C9.6241 17.1292 9.42664 17.0499 9.28199 16.9053L5.63617 13.2595C5.34328 12.9666 5.34328 12.4917 5.63617 12.1988C5.92907 11.9059 6.40394 11.9059 6.69683 12.1988L9.78876 15.2907L17.2802 7.11821C17.5601 6.81287 18.0346 6.79224 18.3399 7.07214Z%22 fill%3D%22%233E77AA%22/%3E%3C/svg%3E');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.extra-info-accordion {
  margin-bottom: 24px;
}

.extra-info-accordion .extra-info-accordion-content {
  height: 0;
  visibility: hidden;
  transition: height 0.3s ease;
}

.extra-info-accordion-content iframe {
  width: 100%;
  border-radius: 24px;
  margin-top: 16px;
  margin-bottom: 12px;
  overflow: hidden;
}

.extra-info-accordion .extra-info-accordion-content--second-level {
  max-height: 0;
  visibility: hidden;
  transition: max-height 0.3s ease;
}

.extra-info-accordion .extra-info-accordion-content.visible {
  visibility: visible;
}

.extra-info-accordion .extra-info-accordion-content--second-level.visible {
  visibility: visible;
  padding: 12px;
}

.extra-info-accordion .accordion-item,
.accordion-item--second-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}

.extra-info-accordion .accordion-item {
  background: #faf9f9;
}

.extra-info-accordion .accordion-item h4 {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin: 0;
}

.extra-info-accordion .accordion-item .arrow,
.accordion-item--second-level .arrow {
  transition: transform 0.3s ease;
}

.accordion-item--second-level {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  cursor: pointer;
}

.extra-info-accordion-content--second-level:hover {
  color: var(--primary-orange);
}

.extra-info-accordion li:before {
  display: none;
}

.extra-info-accordion-content .menu--second-level {
  margin: 0;
}

.extra-info-accordion .menu--second-level li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  border-bottom: 1px solid #e5e5e5;
}

.extra-info-accordion .menu--second-level li:hover {
  color: var(--primary-orange);
}

.extra-info-accordion .menu--second-level li:hover svg path {
  fill: var(--primary-orange);
}

.extra-info-width {
  width: 100%;
  margin-bottom: 24px;
}

@media (min-width: 990px) {
  .extra-info-width {
    margin-bottom: 50px;
  }
}

/* @media screen and (min-width: 750px) {
  .product__extra_info {
    max-width: 94%;
  }
} */
