.featured-collection {
    .collection {
        position: relative;
    }

    .image-wrap {
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        aspect-ratio: 1 / 1;
    }
}

.featured-collection__slider {
    padding: 12px;
    margin: -12px -12px 0;
}

.featured-collection__slider .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (min-width: 990px) {
    .featured-collection {
        .collection__title.title-wrapper--self-padded-tablet-down {
            padding: 0;
        }
    }
}

@media (min-width: 750px) {
    .featured-collection {
        .collection__title {
            margin: 0 0 40px;
        }
    }

    .featured-collection__item {
        width: calc(100% / 4 - 14px);
    }

    /*
    .featured-collection__slider-controls .swiper-button-prev {
        left: -28px;
    }

    .featured-collection__slider-controls .swiper-button-next {
        right: -28px;
    }
     */
}

@media (max-width: 749px) {
    .featured-collection {
        .product-item {
            overflow: unset;
        }
    }

    .featured-collection__slider-controls {
        position: relative;
    }

    .featured-collection__item {
        width: calc(50% - 8px);
    }
}
