#rapid-search-results,
#rps_search_overlay,
.search-results-mobile {
    display: none !important;
}

body .ui-menu.ui-widget-content.ui-autocomplete {
    width: 100% !important;
    max-width: 567px;
    border: 0;
    z-index: 99999;
    box-shadow: 0 0 0 1px rgba(39, 44, 48, 0.05),
    0 1px 5px 1px rgba(39, 44, 48, 0.16);
    background: #fff;
    border-radius: 12px;
    color: #393940;
}



body .ui-menu.ui-widget-content.ui-autocomplete > li > .gf-search-header {
    display: block;
    font-weight: 400;
    padding: 0 !important;
    box-shadow: 0 0 0 !important;
    background: #fff !important;
    color: #808080;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px !important;
}

body li.gf-search-suggestions.ui-menu-item,
body li.gf-search-products.ui-menu-item {
    padding: 24px;
    border-bottom: 1px solid #e5e5e5;
}

body .gf-search-item.gf-search-item-product.gf-search-viewall.ui-menu-item {
    padding: 24px;
}

body .ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 0px 30px !important;
    display: flex !important;
    color: #393940;
    font-size: 16px;
    line-height: 24px;
}

body .ui-menu #ui-id-3.ui-menu-item-wrapper {
    display: flex !important;
}

body
  .ui-menu
  .gf-search-suggestions.ui-menu-item
  .ui-menu
  .ui-menu-item-wrapper:before,
body
  .ui-menu
  .gf-search-suggestions.ui-menu-item
  .ui-menu
  .ui-menu-item-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

body
  .ui-menu
  .gf-search-suggestions.ui-menu-item
  .ui-menu
  .ui-menu-item-wrapper:before {
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.5 11C3.5 6.85786 6.85786 3.5 11 3.5C15.1421 3.5 18.5 6.85786 18.5 11C18.5 15.1421 15.1421 18.5 11 18.5C6.85786 18.5 3.5 15.1421 3.5 11ZM11 2.5C6.30558 2.5 2.5 6.30558 2.5 11C2.5 15.6944 6.30558 19.5 11 19.5C13.1673 19.5 15.1451 18.6889 16.6465 17.3536L19.6464 20.3536C19.8417 20.5488 20.1583 20.5488 20.3536 20.3536C20.5488 20.1583 20.5488 19.8417 20.3536 19.6464L17.3536 16.6465C18.6889 15.1451 19.5 13.1673 19.5 11C19.5 6.30558 15.6944 2.5 11 2.5Z' fill='%23808080'/%3E%3C/svg%3E%0A");
}

body
  .ui-menu
  .gf-search-suggestions.ui-menu-item
  .ui-menu
  .ui-menu-item-wrapper:after {
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.89997 6C7.89997 5.72386 8.12383 5.5 8.39997 5.5H18C18.2761 5.5 18.5 5.72386 18.5 6V15.6C18.5 15.8761 18.2761 16.1 18 16.1C17.7239 16.1 17.5 15.8761 17.5 15.6V7.20711L6.35355 18.3536C6.15829 18.5488 5.84171 18.5488 5.64645 18.3536C5.45118 18.1583 5.45118 17.8417 5.64645 17.6464L16.7929 6.5H8.39997C8.12383 6.5 7.89997 6.27614 7.89997 6Z' fill='%23808080'/%3E%3C/svg%3E%0A");
}

body .ui-menu .gf-search-suggestions.ui-menu-item .ui-menu .ui-menu-item {
    margin-bottom: 12px !important;
}

body
  .ui-menu
  .gf-search-suggestions.ui-menu-item
  .ui-menu
  .ui-menu-item:last-of-type {
    margin-bottom: 0px !important;
}

body .ui-menu .gf-search-products.ui-menu-item .ui-menu .ui-menu-item:not(:first-of-type) {
    padding-top: 16px;
    border-top: 1px solid #F2F2F2;
}

body
  .ui-menu
  .gf-search-suggestions.ui-menu-item
  .ui-menu
  .ui-menu-item-wrapper.ui-state-active {
    text-decoration: underline;
}

body
  .ui-menu
  .gf-search-suggestions.ui-menu-item
  .ui-menu
  .ui-menu-item-wrapper.ui-state-active,
body
  .ui-menu
  .gf-search-products.ui-menu-item
  .ui-menu
  .ui-menu-item-wrapper.ui-state-active {
    background: #fff;
    box-shadow: 0 0 0 0 !important;
    position: relative;
    z-index: 2;
}

body
  .ui-menu
  .gf-search-products.ui-menu-item
  .ui-menu
  .ui-menu-item-wrapper.ui-state-active .gf-search-item-product-title {
    text-decoration: underline;
}

body .ui-menu.ui-widget .gf-search-products.ui-menu-item ul li a {
    padding: 0 !important;
}

body .ui-menu .gf-search-products.ui-menu-item .ui-menu .ui-menu-item {
    margin-bottom: 12px !important;
}
  
body
.ui-menu
.gf-search-products.ui-menu-item
.ui-menu
.ui-menu-item:last-of-type {
    margin-bottom: 0px !important;
}

body .gf-search-left {
    flex: 0 0 110px;
    margin-right: 12px;
    max-width: 110px;
    min-width: 90px;
}

body .gf-search-left img {
    width: 100%;
    height: 100%;
    max-height: 90px;
    -o-object-fit: contain;
       object-fit: contain;
}

body .gf-search-item-product-title {
    font-size: 16px;
    font-weight: 700;
    color: #23232B;
}

body .ui-menu.ui-widget .gf-search-item-product-price {
    padding-top: 8px;
    font-size: 18px !important;
    color: #F1592A !important;
}

body .ui-menu .gf-search-viewall a.ui-menu-item-wrapper {
    display: flex;
    align-items: center;
    padding: 0 !important;
    font-size: 16px;
    border: 0 !important;
    text-align: left !important;
    text-transform: inherit !important;
    color: #F1592A !important;
}

body .ui-menu .gf-search-viewall a.ui-menu-item-wrapper.ui-state-active {
    background: #fff;
    box-shadow: 0 0 0 0 !important;
    position: relative;
    text-decoration: underline;
    z-index: 2;
}

body .ui-menu .gf-search-viewall a.ui-menu-item-wrapper:after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.46967 5.46967C9.76256 5.17678 10.2374 5.17678 10.5303 5.46967L16.5303 11.4697C16.8232 11.7626 16.8232 12.2374 16.5303 12.5303L10.5303 18.5303C10.2374 18.8232 9.76256 18.8232 9.46967 18.5303C9.17678 18.2374 9.17678 17.7626 9.46967 17.4697L14.9393 12L9.46967 6.53033C9.17678 6.23744 9.17678 5.76256 9.46967 5.46967Z' fill='%23F1592A'/%3E%3C/svg%3E%0A");
}

body .gl-filter-search-fullscreen {
    z-index: 99999;
}

body .gl-filter-search-fullscreen .gl-fullscreen-layer {
    background-color: #fff;
}

body .gl-fullscreen-layer .gl-d-searchbox {
    padding: 0 16px 0 0;
}

/* @media screen and (max-width: 767px) { */
    body .gl-fullscreen-layer .gl-fullscreen-header {
        padding: 16px;
        background-color: #393942;
    }

    body .gl-fullscreen-layer .gl-d-searchbox-input {
        height: 48px;
        line-height: 48px;
        font-size: 16px;
        border-radius: 8px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    body .gl-fullscreen-layer .gl-fullscreen-initial-content {
        padding: 0 !important;
    }

    body .gl-fullscreen-layer .gl-d-searchbox-icon {
        width: 48px;
        height: 48px;
        padding: 12px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.75 11C3.75 6.99594 6.99594 3.75 11 3.75C15.0041 3.75 18.25 6.99594 18.25 11C18.25 15.0041 15.0041 18.25 11 18.25C6.99594 18.25 3.75 15.0041 3.75 11ZM11 2.25C6.16751 2.25 2.25 6.16751 2.25 11C2.25 15.8325 6.16751 19.75 11 19.75C13.1462 19.75 15.112 18.9773 16.6342 17.6949L19.4697 20.5303C19.7626 20.8232 20.2374 20.8232 20.5303 20.5303C20.8232 20.2374 20.8232 19.7626 20.5303 19.4697L17.6949 16.6342C18.9773 15.112 19.75 13.1462 19.75 11C19.75 6.16751 15.8325 2.25 11 2.25Z' fill='%23808080'/%3E%3C/svg%3E%0A");
        border-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    body .gl-fullscreen-layer .gl-d-searchbox-icon svg {
        display: none !important;
    }

    body .gl-fullscreen-layer .gl-d-close-btn svg path {
        fill: #fff !important;
    }

    body .gl-col-left, body .gl-col-right {
        padding: 0;
        margin-bottom: 0;
    }

    body .gl-fullscreen-layer .gl-fullscreen-top-clicked {
        padding: 16px;
    }

    body .gl-fullscreen-layer .gl-fullscreen-results__meta {
        padding: 0;
        margin-bottom: 16px;
    }

    body .gl-fullscreen-layer .gl-fullscreen-results__meta a {
        color: #F1592A;
        font-weight: 700;
    }

    body .gl-fullscreen-layer .gl-fullscreen-results__content {
        grid-template-columns: 1fr;
    }
/* } */

body .gl-fullscreen-suggestions > div{
  padding: 16px !important;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
}

body .gl-row {
    margin-right: 0;
    margin-left: 0;
}

body .gl-fullscreen-layer .gl-card {
    padding: 0;
    flex-direction: row;
    font-size: 16px;
}

body .gl-card-media {
    flex: 0 0 60px;
    width: 60px;
}

body .gl-fullscreen-layer .gl-card-content {
    margin: 0;
    text-align: left;
    padding-left: 12px;
}

body .gl-fullscreen-layer .gl-card-content .gl-card-title a {
    color: #23232B;
    font-weight: 700;
}

body .gl-fullscreen-layer .gl-card-pricing {
    color: #F1592A;
}

body .gl-filter-search-fullscreen .gl-fullscreen-layer .gl-fullscreen-top-searches {
    padding: 16px;
    border-bottom: 1px solid #E5E5E5;
}

body .gl-filter-search-fullscreen .gl-fullscreen-layer .gl-list__title {
    font-size: 16px;
    font-weight: 400;
    color: #808080;
}

body .gl-filter-search-fullscreen .gl-fullscreen-layer .gl-fullscreen-top-searches ul li {
    margin-bottom: 12px !important;
}

body .gl-filter-search-fullscreen .gl-fullscreen-layer .gl-fullscreen-top-searches ul li:last-of-type {
    margin-bottom: 0 !important;
}

body .gl-fullscreen-layer .gl-fullscreen-top-searches ul li a {
    position: relative;
    font-size: 16px;
    padding: 0px 24px 0 28px !important;
    border-radius: 4px;
    color: #393940;
}

body .gl-fullscreen-layer .gl-fullscreen-top-searches ul li a:before,
body .gl-fullscreen-layer .gl-fullscreen-top-searches ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

body .gl-fullscreen-layer .gl-fullscreen-top-searches ul li a:before {
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.5 11C3.5 6.85786 6.85786 3.5 11 3.5C15.1421 3.5 18.5 6.85786 18.5 11C18.5 15.1421 15.1421 18.5 11 18.5C6.85786 18.5 3.5 15.1421 3.5 11ZM11 2.5C6.30558 2.5 2.5 6.30558 2.5 11C2.5 15.6944 6.30558 19.5 11 19.5C13.1673 19.5 15.1451 18.6889 16.6465 17.3536L19.6464 20.3536C19.8417 20.5488 20.1583 20.5488 20.3536 20.3536C20.5488 20.1583 20.5488 19.8417 20.3536 19.6464L17.3536 16.6465C18.6889 15.1451 19.5 13.1673 19.5 11C19.5 6.30558 15.6944 2.5 11 2.5Z' fill='%23808080'/%3E%3C/svg%3E%0A");
}

body .gl-fullscreen-layer .gl-fullscreen-top-searches ul li a:after {
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.89997 6C7.89997 5.72386 8.12383 5.5 8.39997 5.5H18C18.2761 5.5 18.5 5.72386 18.5 6V15.6C18.5 15.8761 18.2761 16.1 18 16.1C17.7239 16.1 17.5 15.8761 17.5 15.6V7.20711L6.35355 18.3536C6.15829 18.5488 5.84171 18.5488 5.64645 18.3536C5.45118 18.1583 5.45118 17.8417 5.64645 17.6464L16.7929 6.5H8.39997C8.12383 6.5 7.89997 6.27614 7.89997 6Z' fill='%23808080'/%3E%3C/svg%3E%0A");
}


body .rps_body_child_visibility {
    display: initial !important;
}

body .data-heatmap-unmask {
    display: none !important;
}
.modal-wrapper.rps_body_child_visibility { display: none !important }
.gl-search-open .__pt-iframe-container.rps_body_child_visibility { display: none !important}