.homepage-hero__wrapper {
    position: relative;
}

.homepage-hero__banner {
    color: rgb(var(--color-background));
    background: rgba(var(--color-foreground));
    margin: 0 0 16px;
    overflow: hidden;

    @media (min-width: 749px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.homepage-hero__banner__item {
    position: relative;
    padding: 15px 20px;
    font-family: Lato;
    line-height: 1;
    text-transform: uppercase;

    @media (max-width: 750px) {
        text-align: center;
        font-size: 11px;
    }
    @media (min-width: 749px) {
        font-size: 20px;
        letter-spacing: 1px;
    }
}

.homepage-hero__banner__item:first-child {
    background: var(--primary-orange);
    @media (max-width: 750px) {
        display: none;
    }
}

.homepage-hero__banner__item:first-child:after {
    @media (min-width: 749px) {
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        bottom: 0;
        right: -30px;
        transform: rotate(135deg);
        background: var(--primary-orange);
        clip-path: polygon(0 0, 0 100%, 100% 0);
    }
}

.homepage-hero__img-wrapper {
    width: 100%;
    height: auto;
}

.homepage-hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-height: 440px;
}

.homepage-hero__img.homepage-hero__img--mob {
    display: none;
}

@media (max-width: 576px) {
    .homepage-hero__img.homepage-hero__img--mob {
        display: block;
        min-height: 240px;
    }

    .homepage-hero__img.homepage-hero__img--desk {
        display: none;
    }
}
