.homepageHeroSection .copyText{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  margin: 0;
}

 @media screen and (min-width: 990px) {
     .homepageHeroSection{
    margin-right: -4px;
  }
  }
  
 
.homepageHeroSection .hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 2px 24px 12px;
  width: 100%;
  max-width: 1044px;
  margin: 0 auto;
}


  .homepageHeroSection .bannerBtn{
    order: 2;
    margin-top: 10px;
  }

  .homepageHeroSection .bannerBtn.desktop{
    display: inline-flex;
  }

  .homepageHeroSection .bannerBtn.mobile{
    display: none;
  }
  

.homepageHeroSection .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.homepageHeroSection .description {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 4px;

  background: rgba(171, 171, 171, 0.51);
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.homepageHeroSection .rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 80px;
  height: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.homepageHeroSection .star {
  position: relative;
  width: 16px;
  height: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.homepageHeroSection .star div {
  position: absolute;
  width: 14.67px;
  height: 14.67px;
  left: 0.67px;
  top: 0.67px;
  border-radius: 0.533333px;
}

.homepageHeroSection .description span {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.homepageHeroSection .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  max-width: 800px;
  margin: 0;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.homepageHeroSection .title h1 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 68px;
  margin: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.homepageHeroSection .simple-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 12px 12px 24px;
  gap: 8px;
  
  background: #F1592A;
  border-radius: 8px;
  text-decoration: none;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.homepageHeroSection .simple-button span {
  width: 74px;
  height: 24px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.homepageHeroSection .chevron {
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.homepageHeroSection .chevron div:first-child {
  position: absolute;
  width: 7.5px;
  height: 13.5px;
  left: 9.25px;
  top: 5.25px;
  background: #FFFFFF;
}

.homepageHeroSection .chevron div:last-child {
  position: absolute;
  left: 41.67%;
  right: 33.33%;
  top: 25%;
  bottom: 25%;
  border: 1.5px solid #000000;
}

.homepageHeroSection .questions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: flex-start;
  padding: 30px 16px;
  gap: 24px;
  background: #53565A;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.homepageHeroSection .benefit-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 12px;
  flex: none;
  align-self: stretch;
  flex-grow: 1;
}

.homepageHeroSection .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.homepageHeroSection .text h2 {
  font-family: Lato;
font-weight: 700;
font-size: 20px;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
margin: 0;
    width: 100%;

}

.homepageHeroSection .text p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #393940;
  text-align: center;
    margin: 0;
}

 .homepageHeroSection .ratingBlock{
   display: flex;
    gap: 4px;
    align-items: center;
 }

.homepageHeroSection .benefit-card .text a{
  color: #f1592a;
    text-decoration: underline;
}

@media (max-width: 1024px) {
  .homepageHeroSection .image {
    width: 100%;
    height: auto;
    padding: 32px 16px;
  }

  .homepageHeroSection .content {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .homepageHeroSection .description {
   
    max-width: 100%;
  }

  .homepageHeroSection .title {
    width: 100%;
    
  }

  .homepageHeroSection .title h1 {
    width: 100%;
    max-width: 100%;
    font-size: 36px;
    line-height: 48px;
    height: auto;
  }

  .homepageHeroSection .questions {
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    padding: 40px 16px;
    align-items: center;
  }

  .homepageHeroSection .benefit-card {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

  .homepageHeroSection .text {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .homepageHeroSection .text h5 {
    width: 100%;
    max-width: 100%;
  }

  .homepageHeroSection .text p {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {

  .homepageHeroSection .content{
    gap: 15px;
  }

  .homepageHeroSection .copyText{
    text-align: center;
  }

  .homepageHeroSection .hero-section{
        padding: 0;
  }

      .homepageHeroSection .questions {
        gap: 16px;
        padding: 24px 16px;
    
    }

  .homepageHeroSection .ratingBlock{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homepageHeroSection .bannerBtn.desktop{
    display: none;
  }

  .homepageHeroSection .bannerBtn.mobile{
    display: inline-flex;
    width: 100%;
        text-align: center;
        justify-content: center;
    margin-top: 0;
  }

  
      .homepageHeroSection .title {
        width: 100%;
        max-width: 100%;
        order: 0;
    }

  .homepageHeroSection .content {
        width: 100%;
        max-width: 100%;
        height: 100%;
        justify-content: space-between;
    }

  .homepageHeroSection .description{
    flex-direction: column-reverse;
    background: none;
        backdrop-filter: none;
        border: none;
    order: 1;
    width: 100%;
    gap: 20px;
  }
  .homepageHeroSection .image {
    padding: 24px 16px!important;
    height: 440px;
  }

  .homepageHeroSection .title h1 {
    font-family: Oswald;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
    justify-content: center;
  }

  .homepageHeroSection .simple-button {
    padding: 8px 12px;
    width: 120px;
    height: 40px;
  }

  .homepageHeroSection .benefit-card {
    margin: 0 8px;
    margin-bottom: 0px;
  }

  .homepageHeroSection .text h2 {
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
    width: 100%;
}
}


@media (max-width: 480px) {
  .homepageHeroSection .image {
    height: 440px;
  }

  .homepageHeroSection .text h2{
    min-height: 48px;
  }

  .homepageHeroSection .title h1 {
    font-family: Oswald;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
    max-width: 100%;
        margin: 0 auto;
  }

  .homepageHeroSection .simple-button {
    width: 100px;
    height: 36px;
  }

  .homepageHeroSection .benefit-card {
    padding: 16px;
  }
}