.homepage-reviews__tab-btn {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 8px 8px 8px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    position: relative;
    font-family: Lato;
}

.homepage-reviews__tab-btn.active {
    font-weight: 700;
}

.homepage-reviews__tab-btn.active::after {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #F1592A;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    content: '';
}

.homepage-reviews__title {
    margin: 0 0 24px 0;
}

.homepage-reviews {
    background-color: #FAF9F9;
    padding: 60px 0;
}

.homepage-reviews__copy {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 24px;
    max-width: 492px;
}

.homepage-reviews__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 52px;
}

.homepage-reviews__tab {
    display: none;
    position: relative;
}

.homepage-reviews__tab.homepage-reviews__tab-active {
    display: block;
}

.swiper-slide.homepage-reviews__item {
    max-width: 323px;
    padding: 24px;
    border-radius: 24px;
    background-color: #fff;
    min-height: 300px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    height: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.homepage-reviews__btn.homepage-reviews__btn--mobile {
    display: none;
    padding: 0;
    background: none;
    border: none;
    color: #F1592A;
    align-items: center;
    column-gap: 4px;
}

.homepage-reviews__btn.homepage-reviews__btn--mobile svg path {
    fill: #F1592A;
}

.homepage-reviews__item-rating {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    column-gap: 4px;
}

.homepage-reviews__item-author {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    margin-bottom: 4px;
    display: inline-block;
}

.homepage-reviews__item-label-text {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #00A344;
}

.homepage-reviews__item-copy {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0 0 4px 0;
}
.homepage-reviews__item-rating svg {
    width: 24px;
    height: 24px;
}

.homepage-reviews__item-copy.hide {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homepage-reviews__item-title {
    margin: 0 0 8px 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #000;
}

.homepage-reviews__item-copy-btn {
    margin-bottom: 12px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #F1592A;
    display: none;
}

.homepage-reviews__item-copy-btn.active {
    display: block;
}

.homepage-reviews__item-label {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.homepage-reviews .swiper-button-prev, .homepage-reviews .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.homepage-reviews__tabs-header {
    display: flex;
    column-gap: 24px;
}

@media (max-width: 1440px) {
    .homepage-reviews .page-width {
        padding-right: 0;
    }

    .homepage-reviews .swiper-button-next {
        right: calc(5rem - 16px);
    }

    .homepage-reviews__header {
        margin-right: 5rem;
    }
    .homepage-reviews__tab .swiper {
        padding-right: 5rem;
    }
}

@media (max-width: 749px) {
    .homepage-reviews .swiper-button-next {
        right: 16px;
    }
    .homepage-reviews__tab .swiper {
        padding-right: 16px;
    }
    .homepage-reviews .swiper-button-prev {
        left: calc(16px - 1.5rem);
    }

    .homepage-reviews__header {
        margin-right: 1.5rem;
    }

    .homepage-reviews__title {
        text-transform: uppercase;
    }

    .homepage-reviews {
        padding: 24px 0;
    }
}

@media (max-width: 576px) {
    .homepage-reviews__title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 16px;
    }

    .homepage-reviews__btn {
        display: none;
    }

    .homepage-reviews__copy {
        margin-bottom: 20px;
    }

    .homepage-reviews__header {
        justify-content: center;
        margin-bottom: 20px;
    }
    .homepage-reviews .swiper-button-prev, .homepage-reviews .swiper-button-next {
        display: none;
    }
    .homepage-reviews  .page-width {
        padding: 0 1.5rem;
    }
    .homepage-reviews__header {
        margin-right: 0;
    }
    .homepage-reviews__tabs .swiper-wrapper {
        flex-direction: column;
        row-gap: 16px;
    }
    .swiper-slide.homepage-reviews__item {
        max-width: 100%;
        min-height: auto;
    }
    .homepage-reviews__btn.homepage-reviews__btn--mobile {
        display: flex;
        margin-top: 20px;
        min-height: auto;
        min-width: auto;
    }
    .swiper-slide.homepage-reviews__item {
        padding: 16px;
        border-radius: 12px;
    }
    .homepage-reviews__item-rating svg {
        width: 20px;
        height: 20px;
    }
}