.homepage-cards {
    color: rgb(var(--color-background));
    background: rgba(var(--color-foreground));
    border-top: 4px solid var(--primary-orange);
}

.homepage-cards__wrapper {
    position: relative;
    height: 100%;

    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background: rgba(255, 255, 255, 0.6);
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: rgba(255, 255, 255, 1);
    }
}

.homepage-cards__slider {
    height: 100%;
}

.homepage-cards__slide {
    min-width: 100%;
}

.homepage-cards__card {
    height: 100%;
    box-sizing: border-box;

    @media (max-width: 750px) {
        padding: 10px 20px 0;
    }
    @media (min-width: 749px) {
        padding: 20px 60px 30px;
    }
}

.homepage-cards__card-title {
    text-align: center;
    margin: 0 0 8px;
    color: inherit;
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

.homepage-cards__card-copy {
    font-family: Lato;
    font-weight: 700;
}

.homepage-cards__card-copy p {
    text-align: center;
    margin: 0;
}

.homepage-cards__card-copy a {
    color: #F1592A;
    text-decoration: underline;
}

.homepage-cards__card-copy li {
    background: url('Check.svg') no-repeat 0 50%;
    background-size: 16px 16px;
    padding-left: 24px;
}

@media (min-width: 749px) {
    .homepage-cards__wrapper {
        .swiper-controls {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
        }
    }
}
@media (max-width: 749px) {
    .homepage-cards__card-title {
        font-size: 18px;
        line-height: 20px;
    }
}