.homepage-brands {
    padding: 60px 15px;
    background-color: #FAF9F9;

    @media (max-width: 750px) {
        padding: 24px 1.5rem;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    @media (min-width: 749px) {
        padding-left: 2.4rem;
        margin-left: -2.4rem;
    }
}

.homepage-brands__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 52px;
}

.homepage-brands__slide-img {
    width: 183px;
    height: 183px;
    object-fit: contain;
    display: block;

}

.homepage-brands__button {
    font-family: Lato, sans-serif;
}

.homepage-brands__title {
    margin: 0;
    text-transform: uppercase;
}

.homepage-brands__slide {
    border: 1px solid #E5E5E5;
    border-radius: 24px;
    padding: 24px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 16px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    height: auto;

    @media (max-width: 750px) {
        width: calc(100% / 2 + 2px) !important;
    }
    @media (min-width: 749px) {
        width: calc(100% / 5 - 16px) !important;
    }
}

.homepage-brands__slide-link {
}

.homepage-brands__slide-link:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
}

.homepage-brands__slide-link-logo {
    width: 183px;
    height: 60px;
    object-fit: contain;
}

.homepage-brands__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.homepage-brands__inner {
    position: relative;
}

@media (max-width: 749px) {
    .homepage-brands__slider {
        padding-right: 16px;
    }
    .homepage-brands__header {
        margin-bottom: 20px;
        margin-right: 16px;
    }

    .homepage-brands__title {
        font-size: 20px;
        line-height: 26px;
    }

    .button.homepage-brands__button {
        padding: 0;
        background-color: transparent;
        column-gap: 4px;
        color: #F1592A;
        font-weight: 700;
        min-height: auto;
        min-width: auto;
    }

    .homepage-brands__button svg path {
        fill: #F1592A;
    }

    .homepage-brands__slide {
        row-gap: 12px;
        padding: 16px;
        border-radius: 12px;
    }

    .homepage-brands__slide-img {
        width: 80px;
        height: 80px;
    }

    .homepage-brands__slide-link-logo {
        width: 124px;
        height: 36px;
    }

    .swiper-button-prev, .swiper-button-next {
        position: static;
        width: 36px;
        height: 36px;
        transform: none;
        flex-shrink: 0;
    }

    .homepage-brands__slider-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        column-gap: 24px;
        margin-right: 16px;
    }
}