.homepage-faqs {
    padding: 60px 0;
}

.homepage-faqs__title {
    text-align: center;
    margin: 0 0 52px 0;
}

.homepage-faqs__accordions {
    margin: 0 auto 32px auto;
    max-width: 812px;
}

.homepage-faqs__link {
    color: #F1592A;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
}

.homepage-faqs__link svg path {
    fill: #F1592A;
}

@media (max-width: 749px) {
    .homepage-faqs {
        padding: 24px 0;
    }

    .homepage-faqs__title {
        font-size: 20px;
        line-height: 26px;
        text-align: left;
        margin-bottom: 20px;
    }
}