.homepage-categories {
    padding: 60px 15px;
    background-color: #FAF9F9;

    @media (max-width: 750px) {
        padding: 24px 1.5rem;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    @media (min-width: 749px) {
        padding-left: 2.4rem;
        margin-left: -2.4rem;
    }
}

.homepage-categories__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.homepage-categories__tabs-header {
    display: flex;
    column-gap: 24px;
}

.homepage-categories__tab-btn {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 8px 8px 8px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    position: relative;
    font-family: Lato;
}

.homepage-categories__tab-btn.active {
    font-weight: 700;
}

.homepage-categories__tab-btn.active::after {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #F1592A;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    content: '';
}

.homepage-categories__title {
    margin: 0;
}

.homepage-categories__tab {
    display: none;
}

.homepage-categories__tab.homepage-categories__tab-active {
    display: block;
}

.swiper-slide.homepage-categories__item {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    border-radius: 24px;
    padding: 24px;
    background-color: #EDEFF3;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    text-align: center;
    height: auto;

    @media (max-width: 750px) {
        width: calc(100% / 2 - 5px) !important;
    }
    @media (min-width: 749px) {
        width: calc(100% / 5 - 16px) !important;
    }
}

.homepage-categories__item-img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    display: block;
    max-width: 120px;
    max-height: 120px;
}

.homepage-categories__item-img-wrapper {
    max-width: 120px;
    max-height: 120px;
    width: 100%;
    height: auto;
}

.homepage-categories__item-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #000;
    font-family: Lato, sans-serif;
}

.homepage-categories__item-link:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    position: absolute;
}

.homepage-categories__swiper-1,
.homepage-categories__swiper-2 {
    position: relative;
}

@media (max-width: 992px) {
    .homepage-categories__item-img {
        width: 100px;
        height: 100px;
    }

    .homepage-categories__item-img-wrapper {
        max-width: 100px;
    }

    .swiper-slide.homepage-categories__item {
        padding: 16px;
        align-items: center;
    }

    .homepage-categories {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .homepage-categories__header {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .homepage-categories__title {
        width: 100%;
    }

    .homepage-categories__tabs-header {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 749px) {
    .homepage-categories__title {
        text-transform: uppercase;
    }
    .homepage-categories__header {
        margin-bottom: 20px;
    }

    .swiper-slide.homepage-categories__item {
        padding: 12px;
        border-radius: 12px;
        row-gap: 12px;
    }

    .homepage-categories__item-img {
        width: 80px;
        height: 80px;
    }

    .homepage-categories__item-img-wrapper {
        max-width: 80px;
    }

    .homepage-categories__item-link {
        font-size: 16px;
        line-height: 24px;
    }

    .homepage-categories .page-width {
        padding-right: 0;
    }
    .homepage-categories__header {
        padding-right: 16px;
    }

}

@media (max-width: 576px) {
    .homepage-categories__item-link {
        font-size: 14px;
        line-height: 18px;
    }
}