.homepage-subscription {
    padding: 60px 0;
    background-color: #FAF9F9;
  margin-bottom: 80px;
}
.homepage-subscription:has(.page-subscription__wrapper) {
    padding: 80px 0;
}
.homepage-subscription__title, .homepage-subscription__message-title {
    text-transform: uppercase;
    margin: 0 0 52px 0;
    text-align: center;
}

.homepage-subscription__form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 522px;
    margin: 0 auto 12px auto;
    position: relative;
}

.page-subscription__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.homepage-subscription__content {
    width: 100%;
    max-width: 522px;
}

.page-subscription__wrapper .homepage-subscription__title {
    max-width: 630px;
    text-align: left;
    margin-bottom: 0;
}

.error-message {
    position: absolute;
    bottom: -24px;
    font-size: 12px;
    color: red;
}

.homepage-subscription__form-copy, .homepage-subscription__message-copy {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 522px;
    margin: 0 auto;
    column-gap: 8px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.homepage-subscription__message-copy {
    justify-content: center;
}

.homepage-subscription__message {
    display: none;
}

.homepage-subscription__input {
    border: 1px solid #E5E5E5;
    border-radius: 8px 0 0 8px;
    padding: 12px;
    color: #393940;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
}

.homepage-subscription__input::placeholder {
    opacity: 1;
    color: #B3B3B3;
}

.homepage-subscription__button {
    padding: 12px 12px 12px 24px;
    border-radius: 0 8px 8px 0;
    background-color: #F1592A;
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.homepage-subscription__input:focus-visible {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}

.homepage-subscription__form:has(.homepage-subscription__input.error) {
    margin-bottom: 24px;
}

.homepage-subscription__input.error {
    border-color: #F1592A;

}

.homepage-subscription__original-form {
    display: none;
}

@media (max-width: 1200px) {
    .page-subscription__wrapper .homepage-subscription__title {
        max-width: 500px;
    }

    .page-subscription__wrapper {
        column-gap: 20px;
    }
}

@media (max-width: 992px) {
    .page-subscription__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .page-subscription__wrapper .homepage-subscription__title {
        max-width: 100%;
        margin: 0 auto 24px auto;
        text-align: center;
    }
}

@media (max-width: 749px) {

  .homepage-subscription{
    margin-bottom: 0;
  }
    .homepage-subscription:has(.page-subscription__wrapper) {
        padding: 0;
        margin: 0 1.5rem 24px 1.5rem;
        border-radius: 12px;
    }
    .homepage-subscription:has(.page-subscription__wrapper) .page-width {
        padding: 0;
    }

    .page-subscription__wrapper {
        padding: 24px 16px;
    }
}

@media (max-width: 576px) {
    .homepage-subscription {
        padding: 24px 0;
    }

    .homepage-subscription__title, .homepage-subscription__message-title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .homepage-subscription__form {
        flex-direction: column;
    }

    .homepage-subscription__input {
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .homepage-subscription__button {
        border-radius: 8px;
        width: 100%;
        justify-content: center;
    }
}