.buy-now-pay-later {
  max-width: 600px;
  margin: -30px 20px auto;
  text-align: center;
  position: relative;
  border-radius: 8px;
  background: #fff;
  }
 
  .buy-now-pay-later .title {
    font-size: clamp(2.20rem, 5vw, 5rem);
    font-weight: 600;
    font-family: 'Oswald';
    margin-bottom: 10px;
    color: #23232B;
    text-align: left;
    letter-spacing: normal;
  }
  
  .buy-now-pay-later .price {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    color: #808080;
    text-align: left;
    letter-spacing: normal;
  }
  
  .buy-now-pay-later .description {
    font-size: 16px;
    margin-bottom: 20px;
    color: #393940;
    text-align: left;
  }
  
  .buy-now-pay-later .steps-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 20px 0;
    position: relative;
  }
  
  .buy-now-pay-later .step {
    text-align: center;
    flex: 1;
    position: relative;
  }
  
  .buy-now-pay-later .step-circle {
    width: 28px;
    height: 28px;
    background-color: #ffe5e0;
    color: #f1592a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    box-shadow: none;
  }
  
  .buy-now-pay-later .step-text {
    margin-top: 8px;
    font-size: 16px;
    color: #666;
    line-height: 1.4;
    padding: 0px 19px;
  }
  
  .buy-now-pay-later .step-connector {
      height: 2px;
      background-color: #ddd;
      position: absolute;
      top: 12%;
      left: 50%;
      transform: translateX(-50%);
      width: 75%;
      z-index: 1;
  }
  
  .buy-now-pay-later .steps-container .step:first-child .step-connector {
    display: none;
  }
  
  .buy-now-pay-later .steps-container .step:last-child .step-connector {
    display: none;
  }
  
  .buy-now-pay-later .payment-options {
    display: flex;
    flex-direction: column;
  }
  
  .buy-now-pay-later .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .buy-now-pay-later .options .option:first-child  {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 0px;
  }

  .buy-now-pay-later .options .option:not(:first-child)  {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  .buy-now-pay-later .options .option:not(:first-child):not(:last-child) {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 0px;
  }
  
  .buy-now-pay-later .option-details {
    flex: 1;
    text-align: left;
  }
  
  .buy-now-pay-later .payment-info {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #393940
  }
  
  .buy-now-pay-later .apr {
    font-size: 15px;
    color: #808080;
    margin-bottom: 5px;
    margin-top: 12px;
  }
  
  .buy-now-pay-later .total {
    font-size: 15px;
    font-weight: bold;
    color: #808080;
    margin-top: 12px;
  }
  
  .buy-now-pay-later .terms-link {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 12px;
    color: #888;
    text-decoration: none;
    gap: 50px;      
}

.buy-now-pay-later .terms-link img {
  width: 40px;           
  height: auto;
}

.buy-now-pay-later .terms-link span {
  font-size: 15px;
  color: #808080;
}

.buy-now-pay-later .terms-link strong {
  color: #808080;          
  font-weight: bold;
}