
.product-index-item {
    display: flex;
    column-gap: 32px;
}

.product-index-item__sku {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #393940;
    max-width: 187px;
    width: 100%;
    text-transform: uppercase;
    flex-shrink: 0;
}

.product-index-item__price {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #F1592A;
}

.product-index-item__title {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #3E77AA;
    max-width: 592px;
    flex-grow: 1;
    margin-left: auto;
    width: fit-content;
}

.product-index-item__scrollable {
    display: flex;
    align-items: center;
    width: 100% ;
}

@media (max-width: 1100px) {
    .product-index-item__sku {
        padding: 12px;
        border-left: 1px solid rgba(229, 229, 229, 1);
        border-bottom: 1px solid rgba(229, 229, 229, 1);
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    }

    .product-index-item__price {
        padding: 12px;
        min-width: 120px;
    }

    .product-index-item__title {
        padding: 12px;
        white-space: nowrap;
    }

    .product-index-item {
        column-gap: 0;
    }

    .product-grid-wrapper {
        overflow-x: auto;
        border-radius: 12px;
        border: 1px solid rgba(229, 229, 229, 1);
    }
    .collection-wrapper {
        justify-content: flex-start;
    }
    .product-index-item {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        border-bottom: 1px solid #ddd;
    }
    .product-index-item__price {
        border-right: 1px solid #ddd;
    }
    .product-index-item__sku {
        position: sticky;
        left: 0;
        background: #fff;
        z-index: 1;
        white-space: nowrap;
        min-width: 180px;
    }

    .product-index-item__content {
        overflow: hidden;
        white-space: nowrap;
    }
    .product-index-item__title {
        max-width: 100%;
    }

}

@media (max-width: 749px) {
    .product-index-item {
        display: grid;
        grid-template-columns: 190px 1fr;
    }

    #product-grid li {
        min-width: 900px;
    }
}