.remanufactured-brands-section {
    background-color: #FAF9F9;
    text-align: center;
    padding-bottom: 80px;
}

.custom-breadcrumbs {
    background-color: #FAF9F9;
}



.container {
    max-width: 1280px;
    margin: 0 auto;
}

.brand-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 32px;
    background: white;
    border-radius: 12px;
    border: 1px solid #E5E5E5;
    row-gap: 16px;
}

.brand-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 10px;
    flex-grow: 1;
    width: calc(100% / 4 - 64px);
    margin-left: 64px;
}

.brand-item img {
    width: 40px;
    height: 32px;
    object-fit: contain;
}

.brand-item span {
    font-size: 16px;
    font-weight: 700;
    color: #0056b3;
    font-family: 'Lato';
}

.brand-item a {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

@media (max-width: 992px) {
    .brand-item {
        margin-left: 24px;
        width: calc(100% / 3 - 24px);
    }
}

@media (max-width: 768px) {
    .remanufactured-brands-section {
        padding: 24px 0;
    }
    .brand-item {
        margin-left: 0;
        width: calc(100% / 3);
    }
    .brand-item a {
        flex-direction: column;
        align-items: flex-start;
    }
}


@media (max-width: 576px) {
    .brand-item {
        width: 50%;
    }
    .brand-grid {
        padding: 16px;
    }
    .section-description2 {
        margin-bottom: 16px;
        text-align: left;
    }
}
