  .remanufactured-brands-section {
    padding: 40px 20px;
    background-color: #FAF9F9;
    text-align: center;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .brand-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background: white;
    border-radius: 12px;
    border: 1px solid #E5E5E5;
  }
  .brand-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 10px;
    flex-grow: 1;
    width: 22%;
  }
  .brand-item img {
    width: 42px;
    height: auto;
  }
  .brand-item span {
    font-size: 16px;
    font-weight: 700;
    color: #0056b3;
    font-family: 'Lato';
  }
  .brand-item a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 65px;
  }

  @media (max-width: 768px) {
    .remanufactured-brands-section {
        padding: 10px 20px;
    }
    .brand-item {
        flex-direction: column;
    }
    .brand-item a {
        margin-left: 0px;
        flex-direction: column;
    }
  }