.warranty_page_links ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  padding-bottom: 80px;
}

.warranty_page_links ul li {
  padding: 8px 12px;
  color: #000;
}

.warranty_page_links ul li:hover {
  font-weight: 700;
  background-color: #EDEFF3;
  border-radius: 8px;
}

.warranty_page_links ul li a {
  display: block;
  width: 100%;
}

.warranty_page_links ul li:hover a {
  color: var(--primary-orange);
}

.warranty_badges_info-wrapper {
  background-color: #FAF9F9;
}

.warranty_badges_info {
  display: flex;
  gap: 32px;
  align-items: center;
  padding-block: 80px;
}

.warranty_badges_info h2 {
  font-size: clamp(2.20rem, 5vw, 5rem);
  font-weight: 600;
  line-height: 68px;
  margin-bottom: 24px;
  margin-top: 0;
}

.warranty_badges_info p {
  margin-block: 0;
}

.warranty_badges_buttons {
  display: flex;
  margin-top: 24px;
}

.warranty_badges_info a {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  margin-right: 16px;
  border-radius: 8px;
  font-weight: 700;
}

.warranty_badges_accent-link {
  background-color: var(--primary-orange);
  color: #fff;
}

.warranty_badges_link {
  border: 1.5px solid #D3D9E5
}

.warranty_badges_info img {
  width: 600px;
  margin-left: 24px;
  border-radius: 24px;
}

.warranty_badges-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;
  padding: 0px 60px;
}

.warranty_badges-wrapper {
  padding-block: 80px;
}

.warranty_badge {
  display: flex;
  justify-content: center;
  background-color: #EDEFF3;
  border-radius: 12px;
}

.warranty_badge img {
  width: 120px;
  height: 120px;
  margin-block: 55px;
  margin-inline: auto;
}

.warranty_badge:hover img {
  transform: scale(1.05);
  transition: transform .3s ease;
}

.warranty_badges_title {
  font-size: 48px;
  font-weight: 600;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 52px;
  margin-top: 0;
}

.warranty_badges_title.mobile {
  display: none;
}

@media (max-width: 1047px) { 
  .warranty_badges_info {
    flex-direction: column;
  }
  .warranty_badges_info img {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .warranty_page_links ul {
    display: flex;
    flex-direction: column;
  }
  .warranty_page_links ul li {
    padding: 8px 0px;
  }
  .warranty_page_links ul {
    padding: 0;
  }
  .warranty_badges_info {
    flex-direction: column;
  }
  .warranty_badges_info img {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .warranty_badges-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .warranty_badges_buttons {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .warranty_badges_info a {
    justify-content: center;
    width: 100%;
  }
  .warranty_badges_info {
    padding-block: 20px;
    background: #FFFFFF;
  }
  .warranty_badges-wrapper {
    padding-block: 20px;
  }
  .warranty_badges_info h2 {
    margin-bottom: 0px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .warranty_badges_title.desktop {
    display: none;
  }  
  .warranty_badges_title.mobile {
    display: block;
    font-size: clamp(2.20rem, 5vw, 5rem);
    margin-bottom: 0px;
  }  
  .warranty_badges-container {
    padding: 0px 21px;
  }
  
  .warranty_badge {
    max-height: 192px;
    align-items: center;
  }
}
