.brand-category-section {
    background-color: #fff;
    padding: 80px 0;
}

.section-description2 {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 24px;
    margin-top: 0;
    color: #393940;
}


.brand-category-container {
    columns: 2;
    column-gap: 52px;
}

.brand-category {
    height: auto;
    break-inside: avoid;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.brand-category.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.brand-category + .brand-category {
    margin-top: 32px;
}

.brand-category h3 {
    font-family: 'Lato';
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: #393940;
    margin: 0 0 16px 0;
}

.brand-category ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.brand-category ul li:not(:last-child) {
    margin-bottom: 16px;
}

.brand-category ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #3E77AA;
    font-family: 'Lato';
    font-weight: 700;
    line-height: 24px;
}

@media (max-width: 749px) {
    .brand-category-section {
        padding: 24px 0;
    }
    .brand-category-container {
        columns: 1;
    }
    .brand-category + .brand-category {
        margin-top: 24px;
    }

    .brand-category h3 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 16px;
    }
    .brand-category ul li:not(:last-child) {
        margin-bottom: 8px;

    }
}