.feature-block-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 50%));
  gap: 32px;
}

.feature-block-slider {
  position: relative;
  max-width: 600px;
  height: 364px;
  margin-right: 24px;
}

.feature-block-slider.slider-reversed {
  order: 2;
  margin-left: 24px;
}

.feature-block-arrow-prev,
.feature-block-arrow-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.feature-block-arrow-prev.slick-disabled rect,
.feature-block-arrow-next.slick-disabled rect {
  fill: #E5E5E5;
}

.feature-block-arrow-prev.slick-disabled path,
.feature-block-arrow-next.slick-disabled path {
  fill: #B3B3B3;
}

.feature-block-arrow-prev {
  left: -20px;
  transform: translateY(-50%) scaleX(-1);
}

.feature-block-arrow-next {
  right: -20px;
  transform: translateY(-50%);
}

.feature-block-slider-wrapper .slick-dots {
  bottom: 14px;
}

.feature-block-slider-wrapper .slick-dots li button {
  width: 12px;
  height: 12px;
  background-color: #34343C;
  opacity: 20%;
}

.feature-block-slider-wrapper .slick-dots li button::before,
.feature-block-slider-wrapper .slick-dots li {
  width: 12px;
  height: 12px;
}

.feature-block-slider-wrapper .slick-dots li {
  margin-inline: 2.5px;
}

.feature-block-slider-wrapper .slick-dots li button {
  background-color: #34343C;
  border-radius: 50%;
  opacity: 20%;
}

.feature-block-slider-wrapper .slick-dots li.slick-active button {
  opacity: 100%;
}

.feature-block-slide {
  height: 364px;
  border-radius: 24px;
  border: 1px solid #E5E5E5;
  background-color: #FAF9F9;
  overflow: hidden;
  box-sizing: border-box;
}

.feature-block-slide img {
  max-width: 100%;
  max-height: 100%;
  padding: 14px;
  object-position: center;
  object-fit: contain;
  margin: auto;
}

.feature-block-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 68px;
  margin-top: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.feature-block-description p {
  font-family: 'Lato';
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.feature-block-description a {
  font-weight: 700;
  color: var(--link-color);
}

.feature-block-description li {
  position: relative;
  margin-left: 51px;
  margin-bottom: 12px;
}

.feature-block-description li:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: -14px;
  background: #3e77aa;
}

.feature-accent-blocks-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

.feature-accent-block {
  padding: 24px;
  background-color: #EDEFF3;
  border-radius: 12px;
}

.feature-accent-block h6 {
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 8px;
  color: #000;
}

.feature-accent-block p {
  margin: 0;
}

.feature-files-wrapper {
  display: flex;
}

.feature-block-link {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  margin-right: 16px;
  border: 1.5px solid #D3D9E5;
  border-radius: 8px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.feature-block-button {
  background-color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
  border-radius: 8px;
  padding: 12px 24px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

@media screen and (max-width: 750px) {
  .feature-block-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
  }

  .feature-block-description p {
    margin-bottom: 12px;
  }

  .feature-block-description {
    margin-bottom: 20px;
  }

  .feature-block-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
  }

  .feature-accent-blocks-wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }

  .feature-accent-block {
    padding: 16px;
  }

  .feature-accent-block h6 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .feature-files-wrapper {
    flex-direction: column;
    gap: 12px;
  }

  .feature-block-description li {
    margin-left: 24px;
  }

  .feature-block-link {
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .bottom-wrapper a {
    text-align: start;
    margin-top: 4px;
  }

  .bottom-wrapper {
    margin-top: 0;
  }

  .feature-block-slider.slider-reversed {
    flex-direction: column;
    margin-left: 0;
  }

  .feature-block-slide {
    height: 208px;
  }

  .feature-block-slider {
    width: 100%;
    height: 208px;
  }

  .feature-block-slider .slick-arrow svg {
    width: 36px;
    height: 36px;
  }

  .feature-block-slider .slick-arrow {
    top: auto;
    bottom: -80px;
  }

  .feature-block-slider-wrapper .slick-dots {
    bottom: -42px;
  }

  .feature-block-slider-wrapper .slick-dots li button::before,
  .feature-block-slider-wrapper .slick-dots li {
    width: 8px;
    height: 8px;
  }

  .feature-block-slider-wrapper .slick-dots li button {
    width: 8px;
    height: 8px;
    padding: 4px;
  }

  .feature-block-arrow-next {
    right: 0px;
  }

  .feature-block-arrow-prev {
    left: 0px;
  }

  .content-section .feature-block-title {
    display: none;
  }

  .content-section .feature-block-description p:first-child {
    margin-top: 0;
  }

  .content-section .feature-block-slider {
    margin-bottom: 76px;
  }

  .content-section.feature-block-container {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
  }

  .content-section.feature-block-container.active {
    visibility: visible;
    opacity: 1;
  }

  .info-grid__item .link-style.active svg {
    transform: rotate(270deg) !important;
    transition: transform 0.3s ease;
  }
}

/* Form customization */

.calculate_order_form .globo-form-app.popup-layout {
  background-color: #fff;
  border-radius: 12px;
}

.contact_form_input .globo-form-input select,
.contact_form_input .globo-form-input input,
.contact_form_input .globo-form-input textarea {
  background-color: #fff;
  border: 1.5px solid #E5E5E5;
  border-radius: 8px;
}

.contact_form_input .globo-form-input input {
  height: 48px;
}

.calculate_order_form .title.globo-heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 68px;
  color: #23232B !important;
  text-transform: uppercase;
}

.calculate_order_form .description.globo-description {
  font-size: 14px;
  line-height: 20px;
  color: #393940 !important;
}

.calculate_order_form .globo-label {
  font-size: 12px;
  line-height: 18px;
}

.contact_form_input .globo-form-input select:focus,
.contact_form_input .globo-form-input input:focus,
.contact_form_input .globo-form-input textarea:focus {
  border: 1.5px solid #F1592A;
}

.calculate_order_form .globo-form-input .gfb__dropzone {
  background-color: #fff;
  border: 1px dashed #E5E5E5;
  min-height: 144px;
  height: 144px;
}

.calculate_order_form .gfb__dropzone--placeholder--description {
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #808080;
}

.gfb__dropzone--placeholder--title {
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.calculate_order_form .gfb__dropzone--placeholder--description i {
  color: var(--primary-orange);
  font-style: normal;
}

.calculate_order_form .gfb__dropzone--placeholder--button {
  color: var(--primary-orange);
}

.calculate_order_form .text-danger {
  display: none;
}

.calculate_order_form .globo-form-input .gfb__dropzone[data-area-previewing="true"] {
  height: fit-content;
  min-height: 66px;
  border: none;
  padding-inline: 0;
  overflow: visible;
}

.globo-form-control .gfb__dropzone--preview--list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.globo-form-control .gfb__dropzone--preview--item-thumb,
.globo-form-control .gfb__dropzone--preview--item-title {
  border: none;
}

.globo-form-control .gfb__dropzone--preview--item-thumb {
  max-height: 60px;
  border-radius: none;
}

.globo-form-control .gfb__dropzone--placeholder--button {
  border: none;
  font-family: 'Lato';
  font-size: 16px;
  line-height: 24px;
}

.globo-form-control .gfb__dropzone--preview--item {
  position: relative;
  width: 260px;
  height: 66px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 8px;
  border-radius: 8px;
  background: #F2F2F2;
}

.gfb__footer .action, .gfb__footer [type=button], .gfb__footer [type=submit], .globo-form-app .footer .action, .globo-form-app .footer [type=button], .globo-form-app .footer [type=submit] {
  height: 48px;
  background-color: var(--primary-orange)!important;
  border: 1px solid var(--primary-orange)!important;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
}

.globo-form-control .gfb__dropzone--preview--item-remove {
  position: absolute;
  top: 0;
  right: -10px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 50%;
}

.globo-form-control .gfb__dropzone--preview--item-remove svg path{
  fill: #fff;
}


.calculate_order_form .globo-form-control .flat-label.globo-label {
  position: relative;
}

.calculate_order_form .globo-form-control .flat-label.globo-label .label-content {
  display: flex;
  align-items: center;
  gap: 5.5px;
}

.calculate_order_form .globo-form-control .help-text.globo-description {
  position: absolute;
  top: 18px;
  width: 280px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 12px 30px 0px #35353529;
  font-family: 'Lato';
  font-size: 12px;
  line-height: 18px;
  display: none;
}

.calculate_order_form .globo-form-control label {
  cursor: default;
}

.label-content.hint-visible {
  width: fit-content;
  cursor: pointer
}

.label-content.hint-visible::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 1.5C3.96243 1.5 1.5 3.96243 1.5 7C1.5 10.0376 3.96243 12.5 7 12.5C10.0376 12.5 12.5 10.0376 12.5 7C12.5 3.96243 10.0376 1.5 7 1.5ZM0.5 7C0.5 3.41015 3.41015 0.5 7 0.5C10.5899 0.5 13.5 3.41015 13.5 7C13.5 10.5899 10.5899 13.5 7 13.5C3.41015 13.5 0.5 10.5899 0.5 7ZM7 5.83333C7.27614 5.83333 7.5 6.05719 7.5 6.33333V9.66667C7.5 9.94281 7.27614 10.1667 7 10.1667C6.72386 10.1667 6.5 9.94281 6.5 9.66667V6.33333C6.5 6.05719 6.72386 5.83333 7 5.83333ZM7 5C7.36819 5 7.66667 4.70152 7.66667 4.33333C7.66667 3.96514 7.36819 3.66667 7 3.66667C6.63181 3.66667 6.33333 3.96514 6.33333 4.33333C6.33333 4.70152 6.63181 5 7 5Z' fill='%23808080'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
}

@media screen and (max-width: 750px) {
  .calculate_order_form .globo-form-app.popup-layout .g-container {
    padding: 24px;
  }

  .calculate_order_form .title.globo-heading {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
  }

  .calculate_order_form .description {
    font-size: 16px;
  }

  .gfb__footer .action, .gfb__footer [type=submit] {
    width: 100%;
    margin-top: 5px;
  }

  .calculate_order_form .globo-form-input .gfb__dropzone {
    height: 48px;
    min-height: 48px;
    overflow: visible;
  }

  .gfb__dropzone--placeholder--title {
    display: none;
  }

  .calculate_order_form .gfb__dropzone--placeholder--button {
    color: #000;
  }

  .calculate_order_form .calculate-dropzone {
    height: 116px;
    position: relative;
  }

  .calculate_order_form .gfb__dropzone--placeholder--description {
    position: absolute;
    bottom: -44px;
    left: 0;
    text-align: start;
  }

  .globo-form-control .gfb__dropzone--placeholder--button:before {
    content:"";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('paperclip.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: middle;
  }

  .button.btn.globo-formbuilder-open {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
