.banner {
  text-align: center;
  border-radius: 24px;
}
.banner__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(3rem, 5vw, 7rem);
  line-height: 84px;
  color: #fff;
  margin: 0;
}
