.product-set {
}
.product-set__wrap {
}
.product-set__header {
  margin-bottom: 2rem;
}
.product-set__title {
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #23232b;
  margin: 0;
}
.product-set__subheading {
  margin: 0;
  padding-top: 1.8rem;
}
.product-set__body {
}

.product-set__list {
  display: grid;
  align-items: stretch;
  gap: 1.2rem;
  row-gap: 2.4rem;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 750px) {
  .product-set__list {
    gap: 3.2rem;
    row-gap: 4.8rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 990px) {
  .product-set__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-set__item {
  min-width: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.product-set__item .comparable-custom-action {
  display: none;
}

.product-set__item--span-1 {
  grid-column: span 1;
}

.product-set__item--span-2 {
  grid-column: span 2;
}

.product-set__item--span-3 {
  grid-column: span 1;
}

.product-set__item--span-4 {
  grid-column: span 2;
}

@media (min-width: 750px) {
  .product-set__item--span-1 {
    grid-column: span 2;
  }

  .product-set__item--span-1 .collection-grid-helper__title {
    font-size: 2.6rem;
  }

  .product-set__item--span-1 .collection-grid-helper__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 3.2rem;
  }

  .product-set__item--span-2 .collection-grid-helper__title {
    font-size: 3rem;
    line-height: 3.2rem;
  }

  .product-set__item--span-2 .collection-grid-helper__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 3.2rem;
  }

  .product-set__item--span-2 .collection-grid-helper {
    padding: 3.6rem 4rem;
    align-items: flex-end;
    border-radius: 24px;
    gap: 8.4rem;
  }

  .product-set__item--span-2 .collection-grid-helper__content {
    width: calc(60% - 4.2rem);
    padding-bottom: 2.4rem;
  }

  .product-set__item--span-2 .collection-grid-helper__image-wrapper {
    display: block;
  }

  .product-set__item--span-2 {
    grid-column: span 3;
  }

  .product-set__item--span-3 .collection-grid-helper__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .product-set__item--span-4 {
    grid-column: span 2;
  }
}

@media (min-width: 990px) {
  .product-set__item--span-1 {
    grid-column: span 1;
  }

  .product-set__item--span-1 .collection-grid-helper__title {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .product-set__item--span-1 .collection-grid-helper__text {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .product-set__item--span-2 .collection-grid-helper__title {
    font-size: 2.4rem;
    text-align: left;
  }

  .product-set__item--span-2 .collection-grid-helper__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 3.2rem;
    text-align: left;
  }

  .product-set__item--span-2 .collection-grid-helper {
    padding: 3rem;
    align-items: center;
    border-radius: 24px;
    gap: 4.4rem;
  }

  .product-set__item--span-2 .collection-grid-helper__content {
    width: calc(50% - 2.2rem);
    height: 100%;
    padding-bottom: 2.4rem;
  }

  .product-set__item--span-2 .collection-grid-helper__image-wrapper {
    width: calc(50% - 2.2rem);
  }

  .product-set__item--span-2 {
    grid-column: span 2;
  }

  .product-set__item--span-3 .collection-grid-helper {
    padding: 3rem 4rem;
    align-items: center;
    border-radius: 24px;
    gap: 8.4rem;
  }

  .product-set__item--span-3 .collection-grid-helper__content {
    width: calc(60% - 4.2rem);
    padding-bottom: 2.4rem;
  }

  .product-set__item--span-3 .collection-grid-helper__title {
    font-size: 3rem;
    line-height: 3.2rem;
  }

  .product-set__item--span-3 .collection-grid-helper__image-wrapper {
    display: block;
  }

  .product-set__item--span-3 {
    grid-column: span 3;
  }

  .product-set__item--span-4 {
    grid-column: span 4;
  }
}

@media (min-width: 1200px) {
  .product-set__item--span-1 .collection-grid-helper {
    padding: 2.4rem 2.4rem;
    align-items: flex-start;
    border-radius: 12px;
    gap: inherit;
  }

  .product-set__item--span-1 .collection-grid-helper__content {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
  }

  .product-set__item--span-1 .collection-grid-helper__title {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  .product-set__item--span-1 .collection-grid-helper__button {
    margin-top: auto;
  }

  .product-set__item--span-1 .collection-grid-helper__image-wrapper {
    display: none;
  }

  .product-set__item--span-2 .collection-grid-helper__content {
    padding-top: 2rem;
  }

  .product-set__item--span-2 .collection-grid-helper__title {
    font-size: 3rem;
    line-height: 3.2rem;
  }

  .product-set__item--span-3 .collection-grid-helper {
    padding: 3.6rem 6rem;
    align-items: flex-end;
  }
}

.collection-grid-helper {
  padding: 2.4rem 1.6rem;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  border-radius: 12px;
  background-color: #edeff3;
}

@media (min-width: 1200px) {
  .collection-grid-helper {
    padding: 3.6rem 6rem;
    align-items: flex-end;
    border-radius: 24px;
    gap: 8.4rem;
  }
}

.collection-grid-helper__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .collection-grid-helper__content {
    width: calc(60% - 4.2rem);
    padding-bottom: 2.4rem;
  }
}
.collection-grid-helper__title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1.6rem;
}

@media (min-width: 1200px) {
  .collection-grid-helper__title {
    font-size: 3rem;
    line-height: 3.2rem;
  }
}

.collection-grid-helper__text {
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0;
  margin-bottom: 3.2rem;
}

@media (min-width: 1200px) {
  .collection-grid-helper__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0;
    margin-bottom: 3.2rem;
  }
}

.collection-grid-helper__button {
  font-size: 1.4rem;
  padding: 0.5rem !important;
  justify-content: center;
  min-height: 4rem;
  margin-top: auto;
  max-width: 150px;
}

@media (min-width: 750px) {
  .collection-grid-helper__button {
    font-size: 1.6rem;
    min-height: 4.8rem;
  }
}

.collection-grid-helper__image-wrapper {
  display: none;
  margin: 0;
  padding: 0;
  width: calc(40% - 4.2rem);
  max-width: 280px;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .collection-grid-helper__image-wrapper {
    display: block;
  }
}

.collection-grid-helper__image-wrapper img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 990px) {
  .product-set__header {
    text-align: center;
    margin-bottom: 5.2rem;
  }

  .product-set__title {
    font-size: 3.8rem;
    line-height: 4.4rem;
  }

  .product-set__subheading {
    padding-top: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .product-set__title {
    font-size: 4.8rem;
    line-height: 6.8rem;
  }
}

.product-set .image-item,
.product-set .image-wrap {
  background-color: #edeff3;
}
