.delivery-banner {
    margin-top: 56px;
    margin-bottom: 80px;
}

.delivery-banner__wrapper {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 24px;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.delivery-banner__title {
    position: absolute;
    font-size: 72px;
    line-height: 84px;
    margin: 0 auto;
    max-width: 842px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.delivery-banner__img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 24px;
}

@media (max-width: 1366px) {
    .delivery-banner__title {
        font-size: 62px;
        line-height: 72px;
    }
}

@media (max-width: 992px) {
    .delivery-banner__title {
        font-size: 48px;
        line-height: 54px;
    }

    .delivery-banner {
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

@media (max-width: 749px) {
    .delivery-banner__title {
        position: static;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 20px;
        color: #000;
        transform: none;
        text-align: left;
        font-weight: 600;
    }

    .delivery-banner__wrapper:after {
        display: none;
    }

    .delivery-banner {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .delivery-banner__img {
        border-radius: 16px;
        min-height: 210px;
        object-fit: cover;
    }
}