.sitemap-container h2 {
  font-size: 72px;
  font-weight: 600;
  line-height: 84px;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-top: 0;
}

.sitemap_links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sitemap_link {
  padding: 8px 12px;
  margin-bottom: 8px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: underline;
  color: #3E77AA;
}

.sitemap_links div {
  padding-block: 8px;
}

.sitemap_link:hover {
  background-color: #EDEFF3;
  border-radius: 8px;
}

.sitemap_link:visited {
  color: #23232B;
}

.home-link {
  width: 100%;
  font-weight: 700;
  color: #3E77AA !important;
}

.sitemap_search_wrapper {
  position: relative;
  width: 248px;
  height: 48px;
  border: 1.5px solid #E5E5E5;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.sitemap_search_wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 11C3.75 6.99594 6.99594 3.75 11 3.75C15.0041 3.75 18.25 6.99594 18.25 11C18.25 15.0041 15.0041 18.25 11 18.25C6.99594 18.25 3.75 15.0041 3.75 11ZM11 2.25C6.16751 2.25 2.25 6.16751 2.25 11C2.25 15.8325 6.16751 19.75 11 19.75C13.1462 19.75 15.112 18.9773 16.6342 17.6949L19.4697 20.5303C19.7626 20.8232 20.2374 20.8232 20.5303 20.5303C20.8232 20.2374 20.8232 19.7626 20.5303 19.4697L17.6949 16.6342C18.9773 15.112 19.75 13.1462 19.75 11C19.75 6.16751 15.8325 2.25 11 2.25Z" fill="%23B3B3B3"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

.sitemap_search {
  position: relative;
  width: calc(100% - 44px);
  height: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-left: 44px;
  padding-block: 12px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #B3B3B3;
}

.sitemap_search:focus-visible {
  outline: none;
  box-shadow: none;
}
