.category-index__title {
    margin: 0 0 32px 0;
    font-weight: 600;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0px;
}

.category-index {
    padding: 80px 0 40px 0;
}

.index_sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 32px;
}

.index_products_number {
    font-family: 'Lato';
    font-size: 16px;
    line-height: 24px;
}

.index_products_number b {
    font-weight: 700;
}

.index-select {
    position: relative;
    display: inline-block;
    font-family: 'Lato';
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.index-select .dropdown-label {
    height: 48px;
    width: 294px;
    border: 1.5px solid #E5E5E5;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    user-select: none;
}

.selected-option {
    flex-grow: 1;
    font-weight: 700;
    padding-left: 4px;
}

.dropdown-label svg {
    transition: all .3s ease;
}

.index-select.active .dropdown-label svg {
    transform: rotate(180deg);
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 1000;
}

.dropdown-options li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-options li:hover {
    background-color: #f0f0f0;
}

.index-select.active .dropdown-options {
    display: block;
}

.category-index__item-title {
    font-family: Lato;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0px;
    margin: 0 0 16px 0;
}

.category-index__item {
    margin-bottom: 32px;
}

.category-index__item-list > li > a:not(:last-child) {
    margin-bottom: 16px;
}

.category-index__item-list > li + li {
    margin-top: 16px;
}

.category-index__item-sublist > li > a {
    margin-bottom: 12px;
}

.category-index__item-sublist > li > ul > li > a:not(:last-child) {
    margin-bottom: 8px;
}

.category-index__item-link {
    display: block;
    width: fit-content;
}

.category-index__item-sublist > li > ul {
    margin-bottom: 12px;
}

.category-index__item-link.category-index__item-link--first {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #3E77AA;
}

.category-index__item-link.category-index__item-link--second,
.category-index__item-link.category-index__item-link--third,
.category-index__item-link.category-index__item-link--four,
.category-index__item-link.category-index__item-link--fifth {
    font-family: Lato;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    padding-left: 32px;
    position: relative;
    color: #3E77AA;
}

.category-index__item-link.category-index__item-link--four {
    padding-left: 64px;
    margin-bottom: 8px;

}

.category-index__item-link.category-index__item-link--third {
    padding-left: 48px;
    margin-bottom: 8px;
}

.category-index__item-link.category-index__item-link--fifth {
    padding-left: 80px;
    margin-bottom: 8px;
}

.category-index__item-link.category-index__item-link--second:after,
.category-index__item-link.category-index__item-link--third:after,
.category-index__item-link.category-index__item-link--four:after,
.category-index__item-link.category-index__item-link--fifth:after {
    width: 8px;
    height: 8px;
    position: absolute;
    content: '';
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #F1592A;
}

.category-index__item-link.category-index__item-link--third:after {
    background-color: #F58E6E;
    left: 32px;
}

.category-index__item-link.category-index__item-link--four:after {
    background-color: #FAC3B2;
    left: 48px;
}

.category-index__item-link.category-index__item-link--fifth:after {
    left: 60px;
    background-color: #FCE6DE;
}

.category-index__items {
    columns: 2;
    column-gap: 32px;
}

.category-index__navigation.category-index__navigation--mobile {
    display: none;
}

@media (max-width: 749px) {
    .category-index {
        padding: 24px 0;
    }

    .category-index__title {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 20px;
    }

    .index_sorting {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 12px;
        margin-bottom: 48px;
    }

    .index-select {
        display: block;
        width: 100%;
    }

    .index-select .dropdown-label {
        width: 100%;
    }

    .category-index__navigation.category-index__navigation--mobile {
        display: flex;
        gap: 3px;
        flex-wrap: wrap;
    }

    .category-index__navigation.category-index__navigation--mobile > a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Lato;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    .category-index__items {
        columns: 1;
    }

    .category-index__item-list > li + li {
        margin-top: 12px;
    }

    .category-index__item {
        margin-bottom: 24px;
    }

    .category-index__item-title {
        font-size: 20px;
        line-height: 26px;
    }
    .category-index__item:last-child {
        margin-bottom: 0;
    }
}