.alert {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 16px;
  border: 1px solid #E5E5E5;
  border-radius: 8px;

  &__icon {
    display: flex;
    align-self: flex-start;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 4px;
  }

  &__text {
    &, p {
      font-size: 14px;
      line-height: 20px;
      margin: 0;
    }
  }

  &__buttons {
    display: flex;
    column-gap: 12px;
    margin-top: 16px;
  }
}