.banner {
    text-align: center;
    border-radius: 24px;
}

.banner-section{
  padding: 24px 12px;
}

.banner__heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 48px;
    line-height: 68px;
    color: #fff;
    margin: 0;
}

@media (max-width: 749px) {
    .banner__heading {
        font-size: 28px;
        line-height: 34;
    }
}
