.text {
  font-size: 16px;
  line-height: 24px;

  p {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  a {
    text-decoration: none;
    color: var(--link-color);
  }
}