.footer {
  background-color: var(--dark-blue);
}
.footer__top {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.footer__logo img {
  max-width: 100%;
  height: auto;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.footer__address {
  color: var(--grey);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.footer__phone, .footer__email {
  color: var(--grey-medium);
  font-size: 16px;
  text-decoration: none;
}
.footer__menu {
  display: flex;
  column-gap: 64px;
  row-gap: 64px;
  flex-wrap: wrap;
}
.footer__menu-label {
  display: block;
  color: #fff;
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 16px;
}
.footer__menu-links {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.footer__menu-link {
  font-size: 14px;
  color: #E5E5E5;
}
.footer__menu-link:hover {
  color: #c4c0c0;
}
.footer__bottom {
  border-top: 1px solid var(--grey-dark);
}
.footer__copyright {
  padding: 32px 0;
  text-align: center;
  font-size: 14px;
}
.footer__copyright, .footer__copyright * {
  color: var(--grey-medium);
}
.footer__copyright a {
  text-decoration: none;
}

@media screen and (max-width: 989px) {
  .footer__top {
    flex-direction: column;
    row-gap: 40px;
  }
}
@media screen and (max-width: 749px) {
  .footer__menu {
    flex-direction: column;
  }
}
