.image-with-points {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}
.image-with-points__points {
  display: flex;
  flex-direction: column;
}
.image-with-points__heading {
  margin: 0;
}
.image-with-points__image img {
  max-width: 100%;
  border-radius: 24px;
}
.image-with-points__label {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 700;
}
.image-with-points__point {
  margin-top: 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: var(--grey-dark);
}
.image-with-points__point:before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.25' y='1.25' width='21.4999' height='21.4999' rx='10.7499' fill='%23EDEFF3'/%3E%3Crect x='1.25' y='1.25' width='21.4999' height='21.4999' rx='10.7499' stroke='%233E77AA' stroke-width='1.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.3394 7.07214C18.6448 7.35203 18.6654 7.82646 18.3855 8.1318L10.3647 16.8818C10.2265 17.0325 10.0326 17.1203 9.82812 17.1248C9.62361 17.1292 9.42615 17.0499 9.2815 16.9053L5.63569 13.2595C5.34279 12.9666 5.34279 12.4917 5.63569 12.1988C5.92858 11.9059 6.40345 11.9059 6.69635 12.1988L9.78827 15.2907L17.2798 7.11821C17.5597 6.81287 18.0341 6.79224 18.3394 7.07214Z' fill='%233E77AA'/%3E%3C/svg%3E%0A");
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media screen and (max-width: 750px) {
  .image-with-points {
    grid-template-columns: 1fr;
  }

  .image-with-points__left {
    margin-bottom: 20px;
  }

  .image-with-points__heading {
    font-size: 20px;
    line-height: 26px;
  }

  .image-with-points__label {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  .image-with-points__point {
    align-items: start;
  }

  .image-with-points__point:before {
    width: 20px;
    height: 20px;
  }
}
