.footer {
  background-color: var(--dark-blue);

  &__top {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__logo {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__address {
    color: var(--grey);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  &__phone, &__email {
    color: var(--grey-medium);
    font-size: 16px;
    text-decoration: none;
  }

  &__menu {
    display: flex;
    column-gap: 64px;
    row-gap: 64px;
    flex-wrap: wrap;
  }

  &__menu-label {
    display: block;
    color: #fff;
    font-family: Lato, sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 0;
    font-size: 16px;
  }

  &__menu-links {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__menu-link {
    font-size: 14px;
    color: #E5E5E5;

    &:hover {
      color: #c4c0c0;
    }
  }

  &__bottom {
    border-top: 1px solid var(--grey-dark);
  }

  &__copyright {
    padding: 32px 0;
    text-align: center;
    font-size: 14px;

    &, * {
      color: var(--grey-medium)
    }

    a {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 989px) {
  .footer {
    &__top {
      flex-direction: column;
      row-gap: 40px;
    }
  }
}

@media screen and (max-width: 749px) {
  .footer {
    &__menu {
      flex-direction: column;
    }
  }
}
