.collection-intro {
}

.collection-intro__wrap {
}
.collection-intro__content {
}
.collection-intro__title {
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #23232b;
  margin: 0;
  margin-bottom: 1.6rem;
}
.collection-intro__description p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.1px;
  margin: 0;
}

.collection-intro__description p:last-of-type,
.collection-intro__description div:last-of-type {
  margin: 0;
}

.collection-intro__description {
  /* max-height: 176px; */
  /* overflow: hidden; */
  transition: max-height 0.4s ease;
}

.collection-intro__description,
.collection-intro__description p,
.collection-intro__description div,
.collection-intro__description .expanded {
  margin-bottom: 0.8rem;
}

.collection-intro__description div.expanded {
  margin-bottom: 1.6rem;
}

.collection-intro__description-wrapper {
  margin-bottom: 2rem;
}

.collection-intro__description--expanded {
  max-height: 1000px;
}

.collection-intro__read-more-btn {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-orange);
}

[data-description-hidden] {
  transition: max-height 0.4s ease;
  overflow: hidden !important;
}

.collection-intro__image-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}
.collection-intro__image {
  width: 100%;
  height: auto;
  border-radius: 24px;
  object-fit: contain;
}

@media (min-width: 990px) {
  .collection-intro__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 3.6rem;
  }

  .collection-intro__content {
    width: calc(51% - 1.8rem);
  }

  .collection-intro__title {
    font-size: 3.8rem;
    line-height: 4.4rem;
    margin-bottom: 2.4rem;
  }

  .collection-intro__description p,
  .collection-intro__description div,
  .collection-intro__description .expanded {
    margin-bottom: 1.2rem;
  }

  .collection-intro__description,
  .collection-intro__description-wrapper {
    margin-bottom: 0;
  }

  .collection-intro__image-wrapper {
    width: calc(49% - 1.8rem);
  }

  .collection-intro__image {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  [data-read-more-btn] {
    display: none !important;
  }

  [data-description-hidden] {
    max-height: none !important;
    overflow: visible !important;
  }
}

@media (min-width: 1200px) {
  .collection-intro__wrap {
    gap: 5.6rem;
  }

  .collection-intro__content {
    width: calc(51% - 2.8rem);
  }

  .collection-intro__image-wrapper {
    width: calc(49% - 2.8rem);
  }

  .collection-intro__title {
    font-size: 4.8rem;
    line-height: 6.8rem;
  }
}
