.sa-section{
  padding: 24px 12px;
}

@media screen and (min-width: 990px) {
    .sa-section {
        margin-right: -4px;
    }
}

#shopper_review_page {
  /* max-width: 1920px; */
  /* padding: 0 98px; */
  width: 100%;
  /* overflow: hidden; */
}
#shopper_review_page .review-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  text-transform: none;
}

@media (min-width: 990px) {
  #shopper_review_page {
    margin-top: 20px;
  }

  #shopper_review_page .review-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
  }
}

#shopper_review_page .review-title {
  max-width: 100%;
  font-family: 'Lato';
}

#shopper_review_page .sa-reviews-dropdown-container {
  max-width: 100%;
}

#shopper_review_page #sa_review_section .product_review {
  max-width: 100%;
}

#sa_review_section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
}
#sa_review_section .product-review {
  max-width: 100%;
}
#sa_review_paging {
  order: 1;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
#sa_review_paging .arrow:not(.custom) {
  display: none;
}
#product_page .paging .arrow {
  text-align: center;
}
#product_page #sa_sort {
  display: none;
}
#sa_review_paging .custom {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #393940;
  background: none;
}
.product-review__wrap .product_review {
  box-sizing: border-box !important;
  padding: 16px;
  /* border-top: 1px solid #e5e5e5; */
}

.product-review__wrap .product_review:last-of-type {
  border-bottom: 0;
}

@media (min-width: 990px) {
  .product-review__wrap .product_review {
    padding: 24px;
  }
}

.product_review:first-child {
  border-top: 0;
}
#sa_sort {
  width: 244px !important;
  height: 48px;
  border-radius: 8px;
  border: 1.5px solid #e5e5e5;
  padding-left: 12px;
}
#review_image {
  display: none;
}
#sa_review_section {
  min-height: auto !important;
}
#product_page .paging {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px 0 !important;
  padding-left: 0;
  height: auto !important;
}
@media (min-width: 990px) {
  #product_page .paging {
    padding: 32px 0 !important;
  }
}

#product_page .paging .sa_page {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #393940;
}
@media (min-width: 990px) {
  #product_page .paging .sa_page {
    width: 48px;
    height: 48px;
  }
}
#product_page .paging .sa_page.active {
  background: #f1592a;
  color: #fff;
}

#sa_review_paging label {
  display: none;
}

#product_just_stars .on {
  display: none;
}
.sa_jump_to_reviews {
  font-size: 16px;
  color: #3e77aa;
}
.sa-reviews {
  display: none;
  font-size: 16px;
  color: #3e77aa;
}
.outof {
  display: none;
}

.review_header {
  padding: 0;
  line-height: 24px;
  border: 0;
  margin-right: 4px;
}
.review_header {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  padding: 0;
  background: transparent;
}

#review_header {
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #faf9f9;
  max-width: 1280px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  box-sizing: border-box;
}

@media (min-width: 990px) {
  #review_header {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    padding: 24px 60px;
    box-sizing: border-box;
  }

  #review_header .overall {
    position: absolute;
    display: block;
    top: calc(50% - 20px);
    left: calc(30px + (135px / 2));
    transform: translateY(-50%);
    /* display: none; */
  }

  #review_header .graph {
    margin-top: 0;
  }
}

#review_header .overall {
  margin-top: 0;
  width: auto;
  height: auto;
}

#review_header .percentage .numbers {
  font-family: 'Oswald';
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  color: #f1592a;
  margin-bottom: 12px;
  padding-bottom: 0;
}

#review_header .block {
  height: auto;
}

@media (min-width: 990px) {
  #review_header .percentage .numbers {
    font-size: 48px;
    line-height: 68px;
  }

  #review_header .percentage.block {
    margin: 0;
  }
}

#review_header .stars .on {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.2736 2.57493C11.5595 1.95503 12.4405 1.95503 12.7264 2.57493L14.9159 7.32176C15.0325 7.5744 15.2719 7.74836 15.5482 7.78112L20.7393 8.3966C21.4172 8.47698 21.6895 9.31489 21.1883 9.77838L17.3503 13.3276C17.1461 13.5165 17.0546 13.7979 17.1089 14.0708L18.1276 19.198C18.2607 19.8676 17.5479 20.3855 16.9522 20.052L12.3908 17.4987C12.148 17.3628 11.852 17.3628 11.6092 17.4987L7.04779 20.052C6.4521 20.3855 5.73933 19.8676 5.87238 19.198L6.89115 14.0708C6.94537 13.7979 6.85392 13.5165 6.64965 13.3276L2.81174 9.77839C2.31054 9.31489 2.5828 8.47698 3.26071 8.3966L8.4518 7.78112C8.72809 7.74836 8.96752 7.5744 9.08406 7.32176L11.2736 2.57493Z" fill="%23FFC107"/></svg>');
}
.product_review .stars .on {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.2736 2.57493C11.5595 1.95503 12.4405 1.95503 12.7264 2.57493L14.9159 7.32176C15.0325 7.5744 15.2719 7.74836 15.5482 7.78112L20.7393 8.3966C21.4172 8.47698 21.6895 9.31489 21.1883 9.77838L17.3503 13.3276C17.1461 13.5165 17.0546 13.7979 17.1089 14.0708L18.1276 19.198C18.2607 19.8676 17.5479 20.3855 16.9522 20.052L12.3908 17.4987C12.148 17.3628 11.852 17.3628 11.6092 17.4987L7.04779 20.052C6.4521 20.3855 5.73933 19.8676 5.87238 19.198L6.89115 14.0708C6.94537 13.7979 6.85392 13.5165 6.64965 13.3276L2.81174 9.77839C2.31054 9.31489 2.5828 8.47698 3.26071 8.3966L8.4518 7.78112C8.72809 7.74836 8.96752 7.5744 9.08406 7.32176L11.2736 2.57493Z" fill="%23FFC107"/></svg>');
  background-size: contain;
}
#review_header .stars {
  order: -1;
}
#review_header .percentage.block {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px !important;
  color: #000000;
  width: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.product_review .rheading {
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}
.product_review .info {
  font-size: 16px;
  line-height: 24px;
  color: #4f4f55;
}
.product_review .comments {
  font-size: 16px;
  line-height: 24px !important;
  color: #4f4f55;
}

.product_review .sa_media {
  display: flex;
  align-items: stretch;
  white-space: nowrap;
  margin: 16px 0;
  overflow-x: auto;
}

.product_review .sa_media a {
  display: inline-block;
  flex: 0 0 84px;
  width: 84px;
  height: 84px;
  border-radius: 4px;
  margin-right: 12px;
  overflow: hidden;
}

@media (min-width: 990px) {
  .product_review .sa_media a {
    flex: 0 0 148px;
    width: 148px;
    height: 148px;
  }
}

.product_review .sa_media a:last-of-type {
  margin-right: 0;
}

.product_review .sa_media a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0;
}

#sa_review_paging label {
  display: none;
}

#sa_review_section {
  min-height: auto !important;
}
.sa-reviews-dropdown-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

@media (min-width: 990px) {
  .sa-reviews-dropdown-container {
    padding: 10px 0;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sa-reviews-dropdown-container .show-dropdown-container {
  margin-left: 10px;
}

.sa-reviews-dropdown-container .show-label {
  margin-right: 5px;
}

.sa-reviews-dropdown-container select {
  width: calc(100% - 22px);
  margin: 0;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}

@media (min-width: 990px) {
  .sa-reviews-dropdown-container select {
    width: auto;
    margin-right: 10px;
  }
}

.write-review-btn {
  border-radius: 8px;
  cursor: pointer;
  background: white;
  border: 1px solid #e5e5e5;
  color: black;
  padding: 12px 10px;
  font-size: 16px;
  margin-left: auto;
}

@media (max-width: 991.98px) {
  .sa-reviews-dropdown-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .write-review-btn {
    width: calc(100% - 22px);
  }
}

.product-review__wrap .stars.block .desc {
  display: none;
}

.product-review__wrap .stars.block {
  order: 2 !important;
  margin: 0 !important;
  padding: 0 !important;
}

@media (min-width: 990px) {
  .product-review__wrap .stars.block {
    margin-top: 50px !important;
  }
}

.product-review__wrap .overall.block {
  order: 1;
}

.product-review__wrap .graph.block {
  order: 3;
}

.product-review__wrap .percentage.block {
  order: 4;
}

.product-review__wrap .overall.block .numbers {
  font-family: 'Oswald';
  background-color: transparent !important;
  color: #000000 !important;
}

@media screen and (min-width: 990px) {
  .product-review__wrap #review_header .overall.block .numbers {
    font-size: 48px;
    line-height: 67px;
    min-width: 60px;
  }
}
