.contact_form_input .globo-form-input select,
.contact_form_input .globo-form-input input,
.contact_form_input .globo-form-input textarea {
  background-color: #fff;
  border: 1.5px solid #E5E5E5;
  border-radius: 8px;
}

.contact_form_input .globo-form-input select:focus,
.contact_form_input .globo-form-input input:focus,
.contact_form_input .globo-form-input textarea:focus {
  border: 1.5px solid #F1592A;
}

.contact_form_input .globo-form-input textarea {
  height: 144px;
}

.contact_form_input .text-danger {
  display: none;
}

.contact-attachment .globo-form-input .gfb__dropzone {
  background-color: #fff;
  border: 1px dashed #E5E5E5;
  min-height: 56px;
  height: 56px;
}

.contact-attachment .globo-form-input .gfb__dropzone[data-area-previewing="true"] {
  height: fit-content;
  min-height: 66px;
  border: none;
  padding-inline: 0;
  overflow: visible;
}

.globo-form-control .gfb__dropzone--preview--list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.globo-form-control .gfb__dropzone--preview--item-thumb,
.globo-form-control .gfb__dropzone--preview--item-title {
  border: none;
}

.globo-form-control .gfb__dropzone--preview--item-thumb {
  max-height: 60px;
  border-radius: none;
}

.globo-form-control .gfb__dropzone--placeholder {
  flex-direction: row;
}

.globo-form-control .gfb__dropzone--placeholder--button {
  border: none;
  font-family: 'Lato';
  font-size: 16px;
  line-height: 24px;
}

.globo-form-control .gfb__dropzone--placeholder--button:before {
  content:"";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('paperclip.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
  vertical-align: middle;
}

.globo-form-control .help-text.globo-description {
font-size: 14px;
font-weight: 400;
line-height: 20px;
color: #4F4F55;
}

.globo-form-control .gfb__dropzone--preview--item {
  position: relative;
  width: 260px;
  height: 66px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 8px;
  border-radius: 8px;
  background: #F2F2F2;
}

.gfb__footer .action, .gfb__footer [type=button], .gfb__footer [type=submit], .globo-form-app .footer .action, .globo-form-app .footer [type=button], .globo-form-app .footer [type=submit] {
  height: 48px;
  background-color: var(--primary-orange)!important;
  border: 1px solid var(--primary-orange)!important;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
}

.globo-form-control .gfb__dropzone--preview--item-remove {
  position: absolute;
  top: 0;
  right: -10px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 50%;
}

.globo-form-control .gfb__dropzone--preview--item-remove svg path{
  fill: #fff;
}

.contact-form-wrapper.mobile {
  display: none;
}

@media screen and (max-width: 750px) {
  .contact-form-wrapper.mobile {
    display: block;
    margin-top: 28px;
  }

  .contact-form-wrapper.desktop {
    display: none;
  }

  .contact-form-wrapper {
    margin-left: 0;
    padding: 24px 16px;
  }

  .contact-form-heading {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 12px;
  }

  .contact_form_input {
    padding-inline: 0;
  }

  .contact_form_input.globo-form-control label {
    font-size: 12px !important;
    line-height: 18px;
  }

  .contact_form_input.globo-form-control input,
  .contact_form_input.globo-form-control select {
    height: 48px;
  }

  .globo-form-control .gfb__dropzone--preview--list {
    grid-template-columns: 1fr;
  }

  .globo-form-control .gfb__dropzone--content,
  .gfb__dropzone--preview--area, 
  .globo-form-control .gfb__dropzone--preview--item {
    width: 100%;
  }

  .globo-form-control.contact-attachment {
    padding-inline: 0;
  }

  .globo-form-control .gfb__dropzone--placeholder--button {
    min-width: 240px;
    text-wrap: nowrap;
  }

  .gfb__footer .action, .gfb__footer [type=button], .gfb__footer [type=submit], .globo-form-app .footer .action, .globo-form-app .footer [type=button], .globo-form-app .footer [type=submit] {
    width: 100%;
  }

  .gfb__dropzone--content {
    justify-content: center;
  }
}