body {
  counter-reset: numbered-list;
}

.numbered-list {
  &__heading {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: var(--dark-blue);
    margin: 0 0 24px;

    counter-increment: numbered-list;

    &:before {
      content: counter(numbered-list) ". ";
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    list-style: none;

    counter-reset: numbered-list-item;
  }

  &__list-item {
    counter-increment: numbered-list-item;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    column-gap: 8px;

    &:before {
      content: counter(numbered-list) "." counter(numbered-list-item);
      color: var(--primary-orange);
      font-weight: 700;
    }

    p {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: var(--link-color);
    }
  }

  &__list-item-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__list-sub-items {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    counter-reset: numbered-list-sub-item;
  }

  &__list-sub-item {
    display: flex;
    column-gap: 12px;
    counter-increment: numbered-list-sub-item;

    &:before {
      content: counter(numbered-list) "." counter(numbered-list-item) "." counter(numbered-list-sub-item);
      color: var(--primary-orange);
      font-weight: 700;
    }

  }
}