.related-products {
    position: relative;
    display: block;
    padding: 0;
    overflow: hidden;
    /* display: flex; */
    /* height: 0; */
    /* max-width: 1680px; */
    /* margin: 0 auto; */
    /* overflow-y: hidden; */
}

.related-products__heading {
    margin: 0 0 3rem;
}

.related-products__wrap {
    position: relative;
}

.related-products__item {
    box-sizing: border-box;
}

.related-products__list {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 7px));
    align-items: stretch;
    gap: 14px;
    row-gap: 24px;
    width: 100%;

}

.related-products__list .slick-list {
    margin: 0 -16px;
}

.related-products__item {
    height: auto;
}



.related-products__body > .slick-prev,
.related-products__body > .slick-next {
    display: none;
}

@media (min-width: 750px) {
    .related-products__list {
        grid-template-columns: repeat(4, calc(25% - 7px));
    }
}

@media (min-width: 990px) {
    .related-products .product-item {
        position: relative;
        height: 100%;
        display: grid;
    }

    .related-products__list {
        display: block;
        /* display: flex;
        max-width: 89%;
        margin-left: auto;
        margin-right: auto; */
    }

    .related-products__body > .slick-prev,
    .related-products__body > .slick-next {
        display: block;
        position: absolute;
        top: 50%;
        width: 48px;
        height: 48px;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
    }

    .related-products__item {
        margin: 0 16px;
    }

    .related-products__body > .slick-next {
        right: -10px;
    }

    .related-products__body > .slick-prev {
        left: -10px;
    }
}

.related-products__body > .slick-prev:before {
    display: none;
}

.related-products__body > .slick-next:before {
    display: none;
}

.related-products__body > .slick-prev-icon,
.related-products__body > .slick-next-icon {
    transition: fill 0.3s ease;
}

.related-products__body > .slick-disabled rect {
    fill: #e5e5e5;
}

.related-products__body > .slick-disabled rect {
    fill: #e5e5e5;
}

.image-item {
    background-color: #FFF !important;
}

.recommendation-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #23232b;
    margin-top: 0;
    margin-bottom: 24px;
    text-align: left;
}

.related-products__footer {
    padding-top: 24px;
}

.related-products .load-more {
    padding: 0;
    background-color: transparent;
    color: var(--primary-orange-500, #f1592a);
    cursor: pointer;
    margin: 0 auto;
}

@media (min-width: 990px) {
    .recommendation-title {
        font-size: 48px;
        line-height: 68px;
        margin-bottom: 52px;
        text-align: center;
    }

    .related-products .load-more {
        display: none;
    }
}

.related-products .product-item .image-wrap,
.related-products .product-item .image-wrap .image-item {
    height: 158px;
    display: flex;
    justify-content: center;
}

.related-products .product-item .image-wrap .image-item {
    overflow: hidden;
}

@media (min-width: 550px) {
    .related-products .product-item .image-wrap,
    .related-products .product-item .image-wrap .image-item {
        height: 223px;
    }
}

@media (min-width: 750px) {
    .related-products .product-item .image-wrap,
    .related-products .product-item .image-wrap .image-item {
        height: 158px;
    }
}

@media (min-width: 990px) {
    .related-products .product-item .image-wrap,
    .related-products .product-item .image-wrap .image-item {
        height: 283px;
    }
}

@media (max-width: 991px) {
    .related-products .product-item {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .related-products .product-item .image-wrap {
        max-width: 100%;
        order: 1;
    }

    .related-products .product-item .tags-wrapper {
        top: 4px;
        left: 4px;
        z-index: 1;
    }

    .related-products .product-item .title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
        order: 2;
    }

    .related-products .product-item .product-item__price-container {
        display: flex;
        gap: 8px;
        margin-top: auto;
        margin-bottom: 12px;
        order: 3;
    }

    .related-products
    .product-item
    .product-item__price-container
    .price-wrapper {
        order: 1;
    }

    .related-products
    .product-item
    .product-item__price-container
    .old-price-wrapper {
        order: 2;
    }

    .related-products
    .product-item
    .product-item__price-container
    .price-wrapper
    span:first-of-type,
    .related-products
    .product-item
    .product-item__price-container
    .old-price-wrapper
    span:first-of-type {
        display: none;
    }

    .related-products
    .product-item
    .product-item__price-container
    .old-price-wrapper
    span {
        font-size: 14px;
        line-height: 20px;
    }

    .related-products
    .product-item
    .product-item__price-container
    .price-wrapper
    span {
        font-size: 16px;
        line-height: 24px;
    }

    .related-products .product-item .ship-wrapper {
        order: 4;
        font-weight: 400;
    }

    .related-products .product-item .ship-wrapper svg {
        min-width: 16px;
    }

    .related-products .product-item .comparable-custom-action {
        position: relative;
        left: 0;
        top: 0;
        justify-content: flex-start;
        order: 5;
    }
}
