.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.actions .button {
  padding: 12px 24px;
}

@media screen and (max-width: 750px) {
  .actions .button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
