  .section-description2 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #393940;
  }
  .brand-category-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .brand-category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }
  
  .brand-category {
    flex: 1 1 calc(38% - 20px);
  }
  
  .brand-category h3 {
    font-family: 'Lato';
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #393940;
  }
  
  .brand-category ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .brand-category ul li {
    margin-bottom: 5px;
  }
  
  .brand-category ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #3E77AA;
    font-family: 'Lato';
    font-weight: 700;
  }
  
  @media (max-width: 768px) {
    .brand-category {
      flex: 1 1 calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .brand-category {
      flex: 1 1 100%;
    }
  }
  