.heading__heading {
  margin: 0;
  color: var(--dark-blue);
  font-weight: 600;
}
.heading__heading--medium {
  font-size: 48px;
  line-height: 68px;
}
.heading__heading--large {
  font-size: 72px;
}
.heading__caption {
  margin: 16px 0 0;
  color: var(--grey-dark);
  font-size: 24px;
}

.heading__warning {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}

.heading__warning p {
  font-family: 'Lato';
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

@media screen and (max-width: 750px) {
  .heading__heading--medium {
    font-size: 20px;
    line-height: 26px;
    text-align: start;
  }

  .heading__heading--large {
    font-size: 24px;
    line-height: 32px;
    text-align: start !important;
    margin-top: 24px;
  }

  .heading__caption {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 10px;
    text-align: start;
  }

  .heading__warning {
    align-items: start;
    margin-top: 24px;
  }
}
