
.numbered-list__heading {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: var(--dark-blue);
  margin: 0 0 24px;
}

.numbered-list__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style: none;
}

.numbered-list__list-item {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  column-gap: 8px;
}
.numbered-list__list-item-counter {
  color: var(--primary-orange);
  font-weight: 700;
}
.numbered-list__list-item p {
  margin: 0;
}
.numbered-list__list-item a {
  text-decoration: none;
  color: var(--link-color);
}
.numbered-list__list-item-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.numbered-list__list-sub-items {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-left: 35px;
}
.numbered-list__list-sub-item {
  display: flex;
  column-gap: 12px;
}
.numbered-list__list-sub-item-counter {
  color: var(--primary-orange);
  font-weight: 700;
}

.numbered-list__list-item-container {
  display: flex;
  gap: 8px;

}

.numbered-list__list-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-inline: 35px;

}

.numbered-list-btn {
  background-color: var(--primary-orange);
  border-radius: 8px;
  height: 48px;
  width: fit-content;
  padding: 12px 24px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.numbered-list__address {
  display: flex;
  align-items: center;
  gap: 12px;
}

.numbered-list__list-item-company {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.numbered-list__list-item-hours {
  margin-top: 4px;
}

.numbered-list__list-item-container em {
  color: var(--link-color);
}

@media screen and (max-width: 750px) {
  .numbered-list__heading {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .numbered-list__list,
  .numbered-list__list-item-content,
  .numbered-list__list-sub-items {
    gap: 12px;
  }

  .numbered-list__list-item-content {
    max-width: 100%;
  }

  .numbered-list-btn {
    margin-top: 4px;
  }
}
