#shopify-section-template--23870875795772__custom_breadcrumbs_bciXNb {
  background: white;
}

#shopify-section-template--23870992384316__brand_category_section_tYYzAa {
    background: white;
}

#MainContent, #shopify-section-template--23870992384316__custom_breadcrumbs_bciXNb {
    background: #FAF9F9; 
}

.remanufactured-photos-section {
    background: #FAF9F9;
    padding: 0px 20px;
    text-align: center;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-title {
    font-size: 72px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Oswald';
  }
  .section-description {
    font-size: 22px;
    margin-bottom: 50px;
    color: #393940;
  }
  .photo-container {
    border-radius: 26px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .photo-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }