.search-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.service-provider-search {
  max-width: 1278px;
  margin: 0 auto;
  text-align: center;
}

.service-provider-search h1 {
  font-size: 72px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
}

.service-provider-search .description {
  margin-top: 20px;
}

.search-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.search-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.zip-container {
  position: relative;
}

.zip-container span.search svg {
  position: absolute;
  top: 22%;
  left: 4%;
}

.zip-container span.delete-text svg {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 33%;
  right: 4%;
}

.zip-container {
  position: relative;
}

.zip-container span.search svg {
  position: absolute;
  top: 22%;
  left: 4%;
}

.zip-container span.delete-text svg {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 33%;
  right: 4%;
}

.disclaimer-section {
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown {
  position: relative;
}

.dropdown-label input {
  accent-color: #e85d04;
}

.dropdown-button {
  padding: 10px;
  width: 248px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
  z-index: 10;
}

.dropdown-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%; 
  box-sizing: border-box;
}

.dropdown-label span {
  margin-left: 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background: #f1f1f1;
}

.search-button {
  padding: 10px 20px;
  background: #e85d04;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.map-container {
  margin-top: 20px;
}

.map-container img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

#zip-search {
  width: 248px;
  padding: 0px 40px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 8px;
  height: 37px;
}

.validation-error {
  border: 1px solid red !important;
}

.validation-default {
  border: 1px solid #ccc !important;
}

#service-table_wrapper {
  display: none;
  margin-top: 50px;
  margin-bottom: 20px;
}

#service-table {
  display: none;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
}

#service-table_length {
  margin-bottom: 20px;
}

#service-table tbody td {
  text-align: left;
}

#service-table tbody tr.odd-row {
  background-color: #E5E5E5;
}

#service-table_paginate {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#service-table_paginate .paginate_button.current, .paginate_button:active, .paginate_button:hover {
  background: #F1592A !important;
  color: white !important;
  border: none !important; 
  border-radius: 8px !important;
}

#service-table_next, #service-table_previous {
  background: none !important;
  box-shadow: none !important;
}

#service-table .sorting_asc, .sorting_desc {
  background: #FCE6DE;
}

@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    padding: 10px;
  }
  #zip-search {
    width: auto;
    height: 30px;
  }
  .service-provider-search h1 {
    margin-top: 20px;
    font-size: 28px;
  }
  .search-bar {
    flex-wrap: wrap;
  }

  .search-input,
  .dropdown-button,
  .search-button {
    width: 100%;
  }

  .map-container img {
    border-radius: 0;
    width: 100%;
  }
}