.warranty_page_links ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  padding-bottom: 80px;
}

.warranty_page_links ul li {
  padding: 8px 12px;
  color: #000;
}

.warranty_page_links ul li:hover {
  font-weight: 700;
  background-color: #EDEFF3;
  border-radius: 8px;
}

.warranty_page_links ul li:hover a {
  color: var(--primary-orange);
}

.warranty_badges_info-wrapper {
  background-color: #FAF9F9;
}

.warranty_badges_info {
  display: flex;
  gap: 32px;
  align-items: center;
  padding-block: 80px;
}

.warranty_badges_info h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 68px;
  margin-bottom: 24px;
  margin-top: 0;
}

.warranty_badges_info p {
  margin-block: 0;
}

.warranty_badges_buttons {
  display: flex;
  margin-top: 24px;
}

.warranty_badges_info a {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  margin-right: 16px;
  border-radius: 8px;
  font-weight: 700;
}

.warranty_badges_accent-link {
  background-color: var(--primary-orange);
  color: #fff;
}

.warranty_badges_link {
  border: 1.5px solid #D3D9E5
}

.warranty_badges_info img {
  width: 600px;
  margin-left: 24px;
  border-radius: 24px;
}

.warranty_badges-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;
}

.warranty_badges-wrapper {
  padding-block: 80px;
}

.warranty_badge {
  display: flex;
  justify-content: center;
  background-color: #EDEFF3;
  border-radius: 12px;
}

.warranty_badge img {
  width: 120px;
  height: 120px;
  margin-block: 55px;
  margin-inline: auto;
}

.warranty_badge:hover img {
  transform: scale(1.05);
  transition: transform .3s ease;
}

.warranty_badges_title {
  font-size: 48px;
  font-weight: 600;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 52px;
  margin-top: 0;
}
