  #shopify-section-{{ section.id }}{
    background-color: {{ section.settings.bg }};
  }

.related-products .image-container {

    margin: 8px;
  border-radius: 12px;
}

.related-products .image-wrap {
  overflow: hidden !important;
  position: relative;
  border-radius: 12px;
  height: 283px; 
}


  .related-products .slick-track {
  overflow: hidden!important;
}

  .related-products .slick-slide {
  position: relative!important;
}

  .related-products .image-wrap {
  overflow: hidden!important;
  position: relative!important;
}


 .related-products .image-wrap .slick-next:before, .related-products .image-wrap .slick-prev:before{
   content: none!important;
 }

.related-products .product-item:hover .slick-arrow {
    opacity: 1;
}

.related-products .slick-next {
    right: 25px !important;
    z-index: 1;
    background: #616166 !important;
    width: 48px !important;
    height: 48px !important;
    border-radius: 34px;
}

  .related-products .prodInfo{
    padding: 0px 8px;
  }

.related-products .slick-prev {
    left: 25px !important;
    z-index: 1;
    background: #616166 !important;
    width: 48px !important;
    height: 48px !important;
    border-radius: 34px;
}
 
.related-products .product-item .condition-tag, .related-products .product-item .ship-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    gap: 1px;
    width: auto;
    background: #FFFFFF;
    border: 1px solid #F1592A;
    border-radius: 99px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #F1592A;
}

.related-products .image-wrap .slick-arrow{
  width: 24px!important;
    height: 24px!important;
    border-radius: 50%!important;
    border: 1px solid #f1592a!important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear!important;
    background-color: #fff!important;
}
  

  .related-products{
  padding: 60px 16px;
  }

  .related-products .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  .related-products .collection-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  .related-products .collection-product-wrapper {
    max-width: 952px;
    width: 100%;
    gap: 20px;
  }
  .related-products .group-stars {
    display: flex;
    align-items: center;
  }

  .related-products .prodBottom{
    margin: 8px;
  }

  .related-products .condition-tag.blue {
    background: #fff;
    color: #3e77aa;
    border: 1px solid #3e77aa;
  }
  .related-products .condition-tag svg {
    margin-right: 4px;
  }
  .related-products .group-stars .on {
    background-repeat: no-repeat;
    background-position-y: center;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.2736 2.57493C11.5595 1.95503 12.4405 1.95503 12.7264 2.57493L14.9159 7.32176C15.0325 7.5744 15.2719 7.74836 15.5482 7.78112L20.7393 8.3966C21.4172 8.47698 21.6895 9.31489 21.1883 9.77838L17.3503 13.3276C17.1461 13.5165 17.0546 13.7979 17.1089 14.0708L18.1276 19.198C18.2607 19.8676 17.5479 20.3855 16.9522 20.052L12.3908 17.4987C12.148 17.3628 11.852 17.3628 11.6092 17.4987L7.04779 20.052C6.4521 20.3855 5.73933 19.8676 5.87238 19.198L6.89115 14.0708C6.94537 13.7979 6.85392 13.5165 6.64965 13.3276L2.81174 9.77839C2.31054 9.31489 2.5828 8.47698 3.26071 8.3966L8.4518 7.78112C8.72809 7.74836 8.96752 7.5744 9.08406 7.32176L11.2736 2.57493Z" fill="%23FFC107"/></svg>');
    background-size: contain;
    min-width: 24px;
    height: 24px;
  }

  .related-products .group-stars .ind_cnt {
    text-align: left;
    margin-left: 4px;
    font-size: 16px;
    color: #b3b3b3;
  }

  .related-products .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 48px;
  }

  .related-products #verticalTitle {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: #393940;
    text-transform: none;
    margin-bottom: 12px;
  }
  .related-products .heading-filter-count {
    color: #f3744c;
  }
  .related-products .facets__summary-label {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #393940;
  }
  .related-products .facets__summary .icon-caret {
    width: 12px;
  }
  .related-products .facets__selected {
    display: none;
  }
  .related-products .facets-wrap-vertical {
    margin-right: 0;
    padding: 0;
  }
  .related-products .filterSearchInput {
    width: 248px;
    height: 48px;
    border-radius: 8px;
    border: 1.5px solid #e5e5e5;
    background: #ffffff;
    margin-bottom: 12px;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.75 11C3.75 6.99594 6.99594 3.75 11 3.75C15.0041 3.75 18.25 6.99594 18.25 11C18.25 15.0041 15.0041 18.25 11 18.25C6.99594 18.25 3.75 15.0041 3.75 11ZM11 2.25C6.16751 2.25 2.25 6.16751 2.25 11C2.25 15.8325 6.16751 19.75 11 19.75C13.1462 19.75 15.112 18.9773 16.6342 17.6949L19.4697 20.5303C19.7626 20.8232 20.2374 20.8232 20.5303 20.5303C20.8232 20.2374 20.8232 19.7626 20.5303 19.4697L17.6949 16.6342C18.9773 15.112 19.75 13.1462 19.75 11C19.75 6.16751 15.8325 2.25 11 2.25Z" fill="%23B3B3B3"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 44px;
  }
  .related-products #search-input {
    width: 248px;
    height: 48px;
    border-radius: 8px;
    border: 1.5px solid #e5e5e5;
    background: #ffffff;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.75 11C3.75 6.99594 6.99594 3.75 11 3.75C15.0041 3.75 18.25 6.99594 18.25 11C18.25 15.0041 15.0041 18.25 11 18.25C6.99594 18.25 3.75 15.0041 3.75 11ZM11 2.25C6.16751 2.25 2.25 6.16751 2.25 11C2.25 15.8325 6.16751 19.75 11 19.75C13.1462 19.75 15.112 18.9773 16.6342 17.6949L19.4697 20.5303C19.7626 20.8232 20.2374 20.8232 20.5303 20.5303C20.8232 20.2374 20.8232 19.7626 20.5303 19.4697L17.6949 16.6342C18.9773 15.112 19.75 13.1462 19.75 11C19.75 6.16751 15.8325 2.25 11 2.25Z" fill="%23B3B3B3"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 44px;
  }
  .related-products .facet-checkbox__text-label {
    font-size: 16px;
    line-height: 24px;
    color: #393940;
  }
  .related-products #Filter-Price-LTE {
    width: 248px;
    height: 48px;
    border-radius: 8px;
    background: #f2f2f2;
    border: 1.5px solid #e5e5e5;
    padding: 12px;
  }
  .related-products #sel1 {
    width: 76px;
    height: 48px;
    border-radius: 8px;
    border: 1.5px solid #e5e5e5;
    padding: 12px;
    background: #ffffff;
  }
  .related-products #sel1:focus-visible {
    box-shadow: none;
    outline: none;
  }
  .related-products .collection-grid-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .related-products .facets-vertical-sort {
    margin-right: 32px;
  }
  .related-products .facet-filters__sort {
    width: 212px;
    height: 48px;
    border-radius: 8px;
    background: #ffffff;
    border: 1.5px solid #e5e5e5;
    padding-right: 16px;
  }
  .related-products .facet-filters__sort + svg {
    margin-right: 16px;
  }
  .related-products .facet-filters__sort:focus-visible {
    box-shadow: none !important;
    outline: none !important;
  }
  .related-products .sort-per-page .label {
    font-size: 16px;
    line-height: 24px;
    color: #393940;
  }
  .related-products .collection-grid-top .right-side {
    display: flex;
  }
  .related-products .sort-per-page .select {
    width: auto !important;
    margin-left: 8px;
    margin-right: 8px;
  }
  .related-products .sort-per-page .select select {
    appearance: none;
  }
  .related-products .sort-per-page .select:after {
    display: none;
  }
  .related-products .sort-per-page {
    display: flex;
    align-items: center;
  }
  .related-products .active-facets__button-remove span {
    display: flex;
    align-items: center;
  }
  .related-products .collecion-count {
    margin-top: 32px;
    color: #393940;
  }
  .related-products .collecion-count span {
    font-weight: 700;
  }
  .related-products .active-facets__button-remove span {
    font-size: 16px;
    font-weight: 700;
    color: #e9380d;
    line-height: 24px;
  }
  .related-products .active-facets__button-remove span svg {
    margin-left: 4px;
  }
  .related-products .related-products__body {
    position: relative;
  }
  .related-products .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }
  .related-products .pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #393940;
  }
  .related-products .pagination .current {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #f1592a;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
  }
  .related-products .pagination a:first-child {
    margin-right: 24px;
  }
  .related-products .pagination a:last-child {
    margin-left: 24px;
  }
  .related-products .product-item .image-wrap {
    max-width: 296px;
    height: 283px;
    margin-bottom: 16px;
  }
  .related-products .image-item {
    background: #EDEFF3;
   
  }
  .related-products .product-item .image-wrap img {
    max-width: 100%;
    width: 100%;
    padding: 45px;
    padding-bottom: 30px!important;
    height: 100%;
    max-height: 283px;
    min-height: 283px;
    object-fit: contain;
  }

  .related-products .ship-wrapper {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #00a344;
    margin-bottom: 8px;
  }
  .related-products .ship-wrapper svg {
    margin-right: 4px;
    min-width: 20px;
  }
  .related-products .product-item {
    position: relative;
  }
  .related-products .product-item .title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #393940;
    text-decoration: none;
    text-transform: none;
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .related-products .image-wrap {
    position: relative;
    border-radius: 12px;
  }
  .related-products .product-item .tags-wrapper {
    position: absolute;
    top: 14px;
    left: 14px;
    display: flex;
    align-items: center;
  }
  .related-products .condition-tag {
    margin-right: 8px;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    background: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #f1592a;
    border-radius: 100px;
  }
  .related-products .sale-tag {
    padding: 5px 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    background: #feeae8;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #f52419;
    border-radius: 100px;
  }
  .related-products .review-container {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    gap: 5px;
  }
  .related-products .main-review-container {
    display: none;
  }
  .related-products .old-price-wrapper {
    font-size: 16px;
    line-height: 24px;
    color: #b3b3b3;
    text-decoration: line-through;
  }
  .related-products .old-price-wrapper.retail-price-blank {
    height: 20px;
  }
  .related-products .price-wrapper {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  .related-products .price-wrapper .price-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #F1592A;
    width: 100%;
  }
  .related-products .price-wrapper .price-value {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #F1592A;
    width: 100%;
  }
  .related-products .image-wrap img {
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    height: auto;
  }
  .related-products .product-item .slick-dots {
    bottom: 10px;
  }
  .related-products .product-item .slick-dots li button:before {
    display: none;
  }
  .related-products .product-item .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  .related-products .product-item .slick-dots li {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background: #d3d9e5;
    margin: 0;
  }
  .related-products .product-item .slick-dots li button {
    display: none;
  }
  .related-products .product-item .slick-dots li.slick-active {
    background: #23232b;
  }
  .related-products .card__badge span {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.21437 1.54706L8.0026 2C8.21437 1.54706 8.21458 1.54716 8.2148 1.54726L8.21535 1.54752L8.21675 1.54818L8.22084 1.55012L8.234 1.55644C8.24496 1.56175 8.26024 1.56925 8.27955 1.57895C8.31817 1.59836 8.37296 1.62662 8.44161 1.66388C8.57884 1.73835 8.77189 1.849 9.00215 1.99703C9.46184 2.29254 10.0745 2.74001 10.6883 3.34984C11.9163 4.56985 13.1693 6.46277 13.1693 9.09091C13.1693 12.0713 10.8786 14.5 8.0026 14.5C5.12661 14.5 2.83594 12.0713 2.83594 9.09091C2.83594 7.60221 3.38191 6.40198 3.91738 5.58255C4.18567 5.17199 4.45419 4.85242 4.65722 4.63401C4.75891 4.52462 4.84465 4.44009 4.90641 4.38167C4.93731 4.35244 4.96225 4.32971 4.98024 4.31362L5.00191 4.29449L5.00862 4.28869L5.0109 4.28673L5.01177 4.28599L5.01213 4.28568C5.01229 4.28555 5.01245 4.28541 5.33594 4.66667L5.01245 4.28541C5.16099 4.15937 5.36922 4.13109 5.546 4.21294C5.72279 4.29478 5.83594 4.47186 5.83594 4.66667C5.83594 5.69788 5.8406 6.44629 5.98337 6.94597C6.05073 7.18174 6.13522 7.30688 6.21853 7.37631C6.29511 7.44012 6.4222 7.5 6.66927 7.5C6.91624 7.5 7.10476 7.38108 7.27011 7.03464C7.44667 6.6647 7.54636 6.11764 7.58691 5.46881C7.62679 4.83081 7.60715 4.14498 7.57614 3.52497C7.56625 3.32704 7.55487 3.13173 7.54408 2.94629C7.52215 2.56986 7.5026 2.23415 7.5026 2C7.5026 1.82905 7.58994 1.66995 7.73417 1.57817C7.87839 1.48639 8.05951 1.47466 8.21437 1.54706ZM4.85378 5.98226C4.82081 6.02972 4.78765 6.07883 4.7545 6.12957C4.28997 6.84044 3.83594 7.85234 3.83594 9.09091C3.83594 11.5651 5.72394 13.5 8.0026 13.5C10.2813 13.5 12.1693 11.5651 12.1693 9.09091C12.1693 6.80996 11.0889 5.15743 9.98354 4.05925C9.46603 3.54511 8.94752 3.15753 8.5427 2.89109C8.55313 3.06978 8.56439 3.26496 8.5749 3.47503C8.6064 4.10502 8.62842 4.83586 8.58496 5.53119C8.54218 6.2157 8.43354 6.91863 8.1726 7.46537C7.90045 8.03558 7.4223 8.5 6.66927 8.5C6.24968 8.5 5.87677 8.39321 5.57835 8.14453C5.28666 7.90146 5.12115 7.56827 5.02184 7.2207C4.92113 6.86819 4.87494 6.4455 4.85378 5.98226Z" fill="%23F52419"/></svg>');
    background-color: #feeae8;
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 16px;
    font-weight: 700;
    color: #f52419;
    padding: 5px 8px !important;
    padding-left: 28px !important;
    width: fit-content;
    height: 28px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .related-products .comparable-custom-action {
    width: 85px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14px;
    right: 14px;
    background: #ffffff;
    border-radius: 50px;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 1;
  }
  
  .related-products .comparable-custom-action label {
    display: flex !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 18px !important;
    color: #f1592a !important;
    padding-left: 0 !important;
  }
  .comparable-custom-action label:before {
    display: block !important;
    position: static !important;
    margin-right: 4px;
    width: 16px !important;
    height: 16pximportant;
    border-radius: 4px !important;
    border: 1px solid #e5e5e5 !important;
  }
 
  .related-products .review-container {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    gap: 5px;
  }
  .related-products .review-container svg {
    margin-right: 2px;
  }
  .related-products .reviews-rating {
    display: flex;
    gap: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
  }
  .related-products .reviews-rating span {
    font-weight: 400;
    color: #808080;
  }
  .related-products #ProductGridContainer .active-facets {
    margin-top: 24px;
  }

  .related-products .availability p {
  margin: 0;
}

  .related-products .availability {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #00A344;
  width: 100%;
}
  
  .related-products .featured_products_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.related-products .soldout{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #B3B3B3;
  margin-bottom: 8px;
}

.related-products .featured_products_container .product-item .image-wrap{
  margin-bottom: 16px;
}

.related-products .soldout svg{
  margin-right: 4px;
}

.related-products .featured_products_header h2 {
  margin-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
}

.related-products .custom-container{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.related-products img.lazy-load{
  max-width: 100%;
}

.related-products .featured_products_link {
  height: 48px;
  display: flex;
    gap: 8px;
  align-items: center;
  padding: 12px 24px;
  background: #F1592A;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}


@media (max-width: 768px) {

   .related-products .featured_products_header h2{
    margin-left: 0px;
  }

.related-products .featured_products_container > .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; 
  margin-top: 16px; 
  bottom: -50px;
}
.related-products .featured_products_container > .slick-dots li {
 width: auto;
    height: auto;
    margin: 0 3px;
}
.related-products .featured_products_container > .slick-dots li button {
  width: 8px !important;
    height: 8px !important;
    padding: 0 !important;
}

 .related-products .featured_products_container > .slick-dots li.slick-active button:before{
   opacity: .75!important;
    color: #000!important;
   background-color: #000 !important;
 }


.related-products .featured_products_container > .slick-dots li button:before {
    font-size: 34px !important;
    line-height: 8px !important;
    width: 8px !important;
    height: 8px !important;
    content: "" !important;
    display: block !important;
    background-color: #ccc !important;
    border-radius: 50% !important;
}

.related-products .slick-next {
        top: 115% !important;
        right: 5px !important;
    }

      .related-products .slick-prev {
        top: 115% !important;
        left: 5px !important;
    }
  

  .related-products .product-item .title{
    font-family: Lato;
font-weight: 700;
font-size: 14px;
line-height: 20px;
letter-spacing: 0;
  }

  .related-products .price-wrapper .price-value, .related-products .price-wrapper .price-title{
    font-family: Lato;
font-weight: 700;
font-size: 14px;
line-height: 20px;
letter-spacing: 0;

  }

  .related-products .image-item{
     aspect-ratio: 1 / 1;
  }

   .related-products .product-item .image-wrap img {
      padding: 24px;
min-height: auto;
        max-height: unset;
       
    }

  .related-products .product-item .image-wrap{
  max-height: 170px;
  }

      .related-products .slick-prev, .related-products .slick-next {
        width: 36px !important;
        height: 36px !important;
        border-radius: 34px;
    }

.related-products .product-item .condition-tag, .related-products .product-item .ship-tag{
        font-family: Lato;
        font-weight: 700;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0;
        height: auto;
        padding: 2px 8px;
}

  .related-products .product-item .tags-wrapper{
    position: absolute;
    top: 14px;
    left: 14px;
    display: flex;
    align-items: center;
  }

  .related-products .comparable-custom-action{
    display: none;
  }

.related-products .featured_products_header {
        margin-bottom: 20px;
    }
  
    .related-products {
        padding: 24px 16px 50px;
    }
  
  .related-products .featured_products_header {
    padding: 10px;
  }
 .related-products .featured_products_container {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .related-products .featured_products_container .product-item {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

   .related-products .product-item .old-price-wrapper,
  .related-products .product-item .price-wrapper,
  .related-products .availability {
    font-size: 14px;
    line-height: 20px;
  }
}