
 @media screen and (min-width: 990px) {
     .heroSection{
    margin-right: -4px;
  }
  }
  
 
.heroSection .hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 12px;
  width: 100%;
  max-width: 1044px;
  margin: 0 auto;
}


  .heroSection .bannerBtn{
    order: 2;
  }

  .heroSection .bannerBtn.desktop{
    display: inline-flex;
  }

  .heroSection .bannerBtn.mobile{
    display: none;
  }
  
.heroSection .image {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 76px 16px;
  gap: 10px;

  background-image: 
    linear-gradient(180deg, rgba(35, 35, 43, 0) 0%, rgba(35, 35, 43, 0.4) 50%),
    linear-gradient(269.75deg, rgba(35, 35, 43, 0) 1.15%, rgba(35, 35, 43, 0.3) 68.4%),
    url('{{ section.settings.background_image | img_url: 'large' }}');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}


.heroSection .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.heroSection .description {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 4px;

  background: rgba(171, 171, 171, 0.51);
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.heroSection .rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 80px;
  height: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.star {
  position: relative;
  width: 16px;
  height: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.heroSection .star div {
  position: absolute;
  width: 14.67px;
  height: 14.67px;
  left: 0.67px;
  top: 0.67px;
  border-radius: 0.533333px;
}

.heroSection .description span {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.heroSection .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  max-width: 604px;
  margin: 0;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.heroSection .title h1 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 68px;
  margin: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.heroSection .simple-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 12px 12px 24px;
  gap: 8px;
  
  background: #F1592A;
  border-radius: 8px;
  text-decoration: none;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.heroSection .simple-button span {
  width: 74px;
  height: 24px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.heroSection .chevron {
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.heroSection .chevron div:first-child {
  position: absolute;
  width: 7.5px;
  height: 13.5px;
  left: 9.25px;
  top: 5.25px;
  background: #FFFFFF;
}

.heroSection .chevron div:last-child {
  position: absolute;
  left: 41.67%;
  right: 33.33%;
  top: 25%;
  bottom: 25%;
  border: 1.5px solid #000000;
}

.heroSection .questions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: flex-start;
  padding: 60px 16px;
  gap: 24px;
  background: #53565A;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.heroSection .benefit-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 12px;
  flex: none;
  align-self: stretch;
  flex-grow: 1;
}

.heroSection .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.heroSection .text h2 {
  font-family: Lato;
font-weight: 700;
font-size: 20px;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
margin: 0;
    width: 100%;

}

.heroSection .text p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #393940;
  text-align: center;
    margin: 0;
}

 .heroSection .ratingBlock{
   display: flex;
    gap: 4px;
    align-items: center;
 }

.heroSection .benefit-card .text a{
  color: #f1592a;
    text-decoration: underline;
}

@media (max-width: 1024px) {
  .heroSection .image {
    width: 100%;
    height: auto;
    padding: 32px 16px;
  }

  .heroSection .content {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .heroSection .description {
   
    max-width: 100%;
  }

  .heroSection .title {
    width: 100%;
    
  }

  .heroSection .title h1 {
    width: 100%;
    max-width: 100%;
    font-size: 36px;
    line-height: 48px;
    height: auto;
  }

  .heroSection .questions {
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    padding: 40px 16px;
    align-items: center;
  }

  .heroSection .benefit-card {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

  .heroSection .text {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .heroSection .text h5 {
    width: 100%;
    max-width: 100%;
  }

  .heroSection .text p {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {

  .heroSection .hero-section{
        padding: 8px 16px;
  }

      .heroSection .questions {
        gap: 16px;
        padding: 24px 16px;
    
    }

  .heroSection .ratingBlock{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heroSection .bannerBtn.desktop{
    display: none;
  }

  .heroSection .bannerBtn.mobile{
    display: inline-flex;
    width: 100%;
        text-align: center;
        justify-content: center;
  }

  
      .heroSection .title {
        width: 100%;
        max-width: 100%;
        order: 0;
    }

  .heroSection .content {
        width: 100%;
        max-width: 100%;
        height: 100%;
        justify-content: space-between;
    }

  .heroSection .description{
    flex-direction: column-reverse;
    background: none;
        backdrop-filter: none;
        border: none;
    order: 1;
    width: 100%;
    gap: 20px;
  }
  .heroSection .image {
    padding: 24px 16px;
    height: 440px;
  }

  .heroSection .title h1 {
    font-family: Oswald;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
    justify-content: center;
  }

  .heroSection .simple-button {
    padding: 8px 12px;
    width: 120px;
    height: 40px;
  }

  .heroSection .benefit-card {
    margin-bottom: 0px;
  }

  .heroSection .text h2 {
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
    width: 100%;
}
}

@media (max-width: 480px) {
  .heroSection .image {
    height: 440px;
  }

  .heroSection .title h1 {
    font-family: Oswald;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
    max-width: 311px;
        margin: 0 auto;
  }

  .heroSection .simple-button {
    width: 100px;
    height: 36px;
  }

  .heroSection .benefit-card {
    padding: 16px;
  }
}