.banner-with-image__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background: var(--background-color);
  padding: 50px 30px;
  min-height: 376px;
}
.banner-with-image__container--image {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-with-image__heading {
  margin: 0;
}
.banner-with-image__heading {
  text-transform: uppercase;
}
.banner-with-image__text {
  margin: 0;
}
* + .banner-with-image__text {
  margin-top: 16px;
}
* + .banner-with-image__button {
  margin-top: 50px;
}

@media screen and (max-width: 750px) {
  .banner-with-image__container {
    padding: 24px 16px;
    min-height: 208px;
  }

  .banner-with-image__heading {
    font-size: 20px;
    line-height: 26px;
  }

  *+.banner-with-image__button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
}
