.faq__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.faq__left {
  width: calc(50% - 16px);
  max-width: 515px;
}

.faq__right {
  width: calc(50% - 16px);
  max-width: 624px;
}

.faq__left h2,
.faq__right h2 {
  margin: 0px;
  text-transform: uppercase;
}

.faq__text {
  margin-top: 24px;
}

.faq__right .faq__text {
  margin-bottom: 32px;
}

.faq__image {
  margin-top: 24px;
}
.faq__image img {
  max-width: 100%;
  border-radius: 24px;
}

.faq__item-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background: transparent;
  border: none;
  font-family: var(--font-body-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 0px;
  text-align: left;
  color: #000;
}

.faq__item-content {
  height: 0px;
  visibility: hidden;
  transition: height 0.3s ease;
}

.faq__item-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--greyscale-grey-border-90, #E5E5E5);
  padding: 12px;
}

.faq__items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faq__item-btn.opened ~ .faq__item-content {
  visibility: visible;
}

.faq__item-content p {
  margin-block-start: 12px;
  margin-block-end: 12px;
}

.faq__item-content a {
  color: #F1592A;
  text-decoration: none;
}

.faq__item-content p a {
  color: var(--link-color);
  font-weight: 700;
  text-decoration: none;
}

.faq__item-btn svg {
  min-width: 24px;
  transition: all 0.3s ease;
}

.faq__item-btn.opened svg {
  transform: rotate(180deg);
}

@media (max-width: 749px) {
  .faq__wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .faq__left, .faq__right {
    width: 100%;
    max-width: none;
  }

  .faq__left .h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .faq__item-btn {
    font-size: 16px;
  }

  .faq__image img {
    border-radius: 16px;
  }
}

.faq__item-content em {
  color: var(--primary-orange);
  font-style: normal;
  font-weight: 700;
}

.faq__item-content p:has(em > strong) {
  margin-left: 35px;

}
