p, span, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

.address-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

.address-section .address_title {
  font-size: 48px;
  font-weight: 600;
  line-height: 68px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.address-info-container {
  display: flex;
  flex-direction: column;
}

.address-info-container h5 {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}

.address-info-container div {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.address_info_block {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  margin-bottom: 16px;
}

.address_info_block img {
  width: 24px;
  height: 24px;
}

.address_info_link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-orange);
}

.address_info_link svg path {
  fill: var(--primary-orange);
}

.contact-map-container {
  margin-right: 24px;
  border-radius: 24px;
  overflow: hidden;
}

.i4ewOd-pzNkMb-haAclf {
  display: none;
}

@media screen and (max-width: 750px) {
  .address-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .address-section .address_title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
  }

  .address-info-container div {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 14px;
  }

  .contact-map-container {
    margin-right: 0;
    border-radius: 16px;
    max-height: 208px;
  }

  .contact-map-container iframe {
    height: 380px;
    width: 100%;
  }
}
