.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), var(--background-image) center center  / cover no-repeat;
  text-align: center;
  border-radius: 24px;

  &__heading {
    font-weight: 600;
    font-size: 72px;
    line-height: 84px;
    color: #fff;
    margin: 0;
  }
}