.alert {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 16px;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
}
.alert__icon {
  display: flex;
  align-self: flex-start;
}
.alert__content {
  display: flex;
  flex-direction: column;
}
.alert__title {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 4px;
}
.alert__text, .alert__text p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.alert__buttons {
  display: flex;
  column-gap: 12px;
  margin-top: 16px;
}

.alert__icon--mobile {
  display: none;
}

.alert__title-container {
  display: flex;
  gap: 4px;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .alert__title-container {
    margin-bottom: 8px;
  }

  .alert {
    gap: 8px;
  }

  .alert__text, .alert__text p {
    font-size: 16px;
    line-height: 24px;
  }

  .alert__buttons {
    flex-direction: column;
    gap: 12px;
  }

  .alert__buttons .button {
    display: flex;
    justify-content: center;
  }

  .alert__title {
    font-size: 16px;
  }

  .alert__icon--mobile {
    display: block;
  }
}
