.slider-section-heading {
    margin-bottom: 56px;
    font-family: 'Lato';
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: none;
}

.slider-section-container {
    position: relative;
}

.slider__slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #EDEFF3;
    padding: 24px;
    border-radius: 12px;
}

.slider-section-container .slick-slide {
    margin-right: 32px;
}

.slider-section-container .slick-track,
.slider-section-container .slick-list {
    margin-right: -32px;
    padding-right: 0;
}

.slider-arrow-prev,
.slider-arrow-next {
    position: absolute;
    top: 50%;
    z-index: 1;
}

.slider-arrow-prev.slick-disabled rect,
.slider-arrow-next.slick-disabled rect {
    fill: #E5E5E5;
}

.slider-arrow-prev.slick-disabled path,
.slider-arrow-next.slick-disabled path {
    fill: #B3B3B3;
}

.slider-arrow-prev {
    left: -20px;
    transform: translateY(-50%) scaleX(-1);
}

.slider-arrow-next {
    right: -20px;
    transform: translateY(-50%);
}

.slider__slide--text {
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin: 0;
}

.slider-section-link {
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin: 24px auto 0 auto;
    width: fit-content;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(241, 89, 42, 1);
}

@media screen and (max-width: 750px) {
    .slider-section-heading {
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        margin-bottom: 16px;
    }

    .slider__slide img {
        height: 80px;
    }

    .slider__slide--text {
        font-size: 16px;
        line-height: 24px;
    }

    .slider-section-container .slick-slide {
        margin-right: 16px;
    }

    .slider-section-container .slider__slide {
        padding: 16px;
    }

    .slider-section-container .slick-dots {
        bottom: -35px;
    }

    .slider-section-container .slick-dots li {
        width: 8px;
        height: 8px;
        margin: 0 4px;
    }

    .slick-dots li button:before {
        font-size: 40px;
    }

    .slider-section-container .slick-arrow svg {
        width: 36px;
        height: 36px;
    }

    .slider-section-container .slick-arrow {
        bottom: -80px;
        top: auto;
    }

    .slider-section-container .slider-arrow-prev {
        left: 0;
    }

    .slider-section-container .slider-arrow-next {
        right: 0;
    }

    .slider-section-container .slick-track,
    .slider-section-container .slick-list {
        margin-right: -16px;
        padding-right: 0;
    }
}

@media screen and (max-width: 379px) {
    .slider-section-container .slick-dots {
        bottom: -15px;
    }

    .slider-section-container .slick-arrow {
        bottom: -52px;
        top: auto;
    }
}