.collection-grid-top {
  display: none;
}

@media (min-width: 768px) {
  .product-grid-container {
    padding-top: 16px;
  }

  .gf-left #gf-tree {
    width: 30% !important;
  }

  .gf-left #gf-tree:not(.spf-hidden) + #gf-grid {
    width: 70% !important;
    padding-left: 22px;
  }
}

@media (min-width: 992px) {
  .gf-left #gf-tree {
    width: 23% !important;
  }

  .gf-left #gf-tree:not(.spf-hidden) + #gf-grid {
    width: 77% !important;
    padding-left: 32px;
  }
}

@media only screen and (max-width: 480px) {
  #gf-tree {
    width: 100% !important;
    left: -100%;
  }
}

.gf-filter-contents {
  background-color: #faf9f9 !important;
  border-radius: 12px;
  padding: 24px;
}

@media screen and (max-width: 767px) {
  .gf-filter-contents {
    background-color: #fff !important;
    border-radius: 0;
    padding: 16px;
  }
}

.gf-filter-contents .gf-option-block:first-of-type {
  padding: 0;
  padding-bottom: 24px;
}

.gf-option-block {
  padding: 24px 0;
  border-bottom: 1px solid #e5e5e5;
}

.gf-theme-version-15.spf-has-filter #gf-tree .gf-block-title .h3 {
  font-size: 18px !important;
  line-height: 24px !important;
  font-weight: 700 !important;
  color: #393940 !important;
  text-transform: none !important;
  cursor: inherit !important;
}

.gf-theme-version-15.spf-has-filter #gf-tree .gf-block-title .h3:hover span {
  text-decoration: none !important;
}

.gf-theme-version-15.spf-has-filter.gf-left
  .gf-option-block
  .gf-block-title
  .h3:after {
  content: '';
  width: 24px;
  height: 24px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4697 8.46967C11.7626 8.17678 12.2374 8.17678 12.5303 8.46967L18.5303 14.4697C18.8232 14.7626 18.8232 15.2374 18.5303 15.5303C18.2374 15.8232 17.7626 15.8232 17.4697 15.5303L12 10.0607L6.53033 15.5303C6.23744 15.8232 5.76256 15.8232 5.46967 15.5303C5.17678 15.2374 5.17678 14.7626 5.46967 14.4697L11.4697 8.46967Z' fill='%23B3B3B3'/%3E%3C/svg%3E%0A");
}

.gf-left .gf-option-block.is-collapsed .gf-block-title .h3:after {
  transform: rotate(180deg);
}

.gf-theme-version-15.spf-has-filter .gf-range-inputs input[type='text'] {
  border-radius: 8px !important;
  font-size: 16px !important;
  border: 1px solid #e5e5e5 !important;
  background: #faf9f9 !important;
}

.globo-selected-items-wrapper .gf-block-content.globo-selected-items,
.globo-selected-items-wrapper .gf-refine-toggle {
  display: none !important;
}

.globo-selected-items-wrapper .gf-block-title {
  margin-bottom: 13px;
}

.gf-theme-version-15.spf-has-filter
  #gf-tree
  .globo-selected-items-wrapper
  .gf-block-title
  .h3 {
  font-size: 28px !important;
  line-height: 36px !important;
}

.gf-theme-version-15.spf-has-filter
  #gf-tree
  .globo-selected-items-wrapper
  .gf-block-title
  .filter-count {
  color: #f1592a !important;
  margin-left: 8px;
}

.noUi-pips.noUi-pips-horizontal {
  display: none !important;
}

.gf-theme-version-15.spf-has-filter #gf-tree .noUi-base,
.gf-theme-version-15.spf-has-filter #gf-tree .noUi-connects {
  height: 4px;
}

.gf-theme-version-15.spf-has-filter #gf-tree .noUi-connects {
  background-color: #e5e5e5;
}

.gf-theme-version-15.spf-has-filter #gf-tree .noUi-connect {
  background-color: #f1592a !important;
  display: block;
}

.gf-theme-version-15 #gf-tree .noUi-handle {
  background: white !important;
  border: 4px solid #f1592a;
  top: -8px;
  width: 18px;
  height: 18px;
}

input.gf-search {
  margin-bottom: 12px;
  height: 48px;
  border: 1px solid #e5e5e5;
  background-color: white;
  border-radius: 8px !important;
  font-size: 16px;
  padding: 12px !important;
  padding-left: 44px !important;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.75 11C3.75 6.99594 6.99594 3.75 11 3.75C15.0041 3.75 18.25 6.99594 18.25 11C18.25 15.0041 15.0041 18.25 11 18.25C6.99594 18.25 3.75 15.0041 3.75 11ZM11 2.25C6.16751 2.25 2.25 6.16751 2.25 11C2.25 15.8325 6.16751 19.75 11 19.75C13.1462 19.75 15.112 18.9773 16.6342 17.6949L19.4697 20.5303C19.7626 20.8232 20.2374 20.8232 20.5303 20.5303C20.8232 20.2374 20.8232 19.7626 20.5303 19.4697L17.6949 16.6342C18.9773 15.112 19.75 13.1462 19.75 11C19.75 6.16751 15.8325 2.25 11 2.25Z' fill='%23B3B3B3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 12px center;
}

.gf-theme-version-15.spf-has-filter .gf-option-block ul li {
  margin-bottom: 12px;
}

.gf-theme-version-15.spf-has-filter .gf-option-block ul li button {
  width: 100%;
  min-height: 24px;
  padding: 3px 0 !important;
  font-size: 16px !important;
  color: #393940 !important;
}

.gf-theme-version-15.spf-has-filter span.gf-count {
  font-size: 16px !important;
  color: #393940 !important;
  padding-left: 5px;
  margin-left: auto;
  opacity: 1;
}

.gf-Checkbox,
.gf-RadioButton {
  width: 18px;
  height: 18px;
  display: block;
  margin-right: 8px;
  flex: 0 0 18px;
  border-radius: 4px;
  background-color: #fff !important;
  border: 1px solid #e5e5e5 !important;
  min-width: 18px;
}

.gf-theme-version-15.spf-has-filter .checked .gf-Checkbox {
  background-color: #f1592a !important;
  border: 1px solid #f1592a !important;
}

.checked .gf-Checkbox {
  border-color: #f1592a;
  background-size: 14px 14px;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9649 3.1775C12.143 3.34077 12.155 3.61752 11.9918 3.79563L5.57511 10.7956C5.49448 10.8836 5.38141 10.9348 5.26211 10.9374C5.14281 10.94 5.02762 10.8937 4.94325 10.8094L2.02658 7.8927C1.85572 7.72184 1.85572 7.44483 2.02658 7.27398C2.19743 7.10312 2.47444 7.10312 2.6453 7.27398L5.23886 9.86754L11.3468 3.20437C11.51 3.02626 11.7868 3.01423 11.9649 3.1775Z' fill='white'/%3E%3C/svg%3E%0A");
}

.gf-option-block .gf-btn-show-more {
  position: relative;
  margin: 0;
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 700 !important;
  color: #f1592a;
}

.gf-btn-show-more:after {
  content: '';
  position: absolute;
  top: 2px;
  right: -30px;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.46967 8.46967C5.76256 8.17678 6.23744 8.17678 6.53033 8.46967L12 13.9393L17.4697 8.46967C17.7626 8.17678 18.2374 8.17678 18.5303 8.46967C18.8232 8.76256 18.8232 9.23744 18.5303 9.53033L12.5303 15.5303C12.2374 15.8232 11.7626 15.8232 11.4697 15.5303L5.46967 9.53033C5.17678 9.23744 5.17678 8.76256 5.46967 8.46967Z' fill='%23F1592A'/%3E%3C/svg%3E%0A");
}

.gf-actions {
  align-items: flex-start;
  margin: 0;
  margin-bottom: 24px;
}

.gf-controls-search-form {
  width: 100%;
  max-width: 260px;
  margin-right: 16px;
  margin-bottom: 32px;
  order: 1;
}

@media screen and (max-width: 1199px) {
  .gf-controls-search-form {
    margin-bottom: 16px;
    max-width: 100%;
  }
}

.gf-theme-version-15.spf-has-filter
  .gf-controls-search-form
  input.gf-controls-search-input {
  height: 48px;
  border: 1px solid #e5e5e5;
  background-color: white;
  border-radius: 8px !important;
  font-size: 16px !important;
  padding: 12px !important;
  padding-left: 44px !important;
}

.gf-theme-version-15.spf-has-filter input::-webkit-input-placeholder {
  color: #b3b3b3 !important;
}

.gf-theme-version-15.spf-has-filter input::-moz-placeholder {
  color: #b3b3b3 !important;
}

.gf-theme-version-15.spf-has-filter input:-ms-input-placeholder {
  color: #b3b3b3 !important;
}

.gf-theme-version-15.spf-has-filter input::-ms-input-placeholder {
  color: #b3b3b3 !important;
}

.gf-theme-version-15.spf-has-filter input::placeholder {
  color: #b3b3b3 !important;
}

.gf-theme-version-15.spf-has-filter
  .gf-controls-search-form
  .gf-controls-search-button {
  width: 44px;
  height: 48px;
  padding: 12px !important;
  padding-right: 8px !important;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.75 11C3.75 6.99594 6.99594 3.75 11 3.75C15.0041 3.75 18.25 6.99594 18.25 11C18.25 15.0041 15.0041 18.25 11 18.25C6.99594 18.25 3.75 15.0041 3.75 11ZM11 2.25C6.16751 2.25 2.25 6.16751 2.25 11C2.25 15.8325 6.16751 19.75 11 19.75C13.1462 19.75 15.112 18.9773 16.6342 17.6949L19.4697 20.5303C19.7626 20.8232 20.2374 20.8232 20.5303 20.5303C20.8232 20.2374 20.8232 19.7626 20.5303 19.4697L17.6949 16.6342C18.9773 15.112 19.75 13.1462 19.75 11C19.75 6.16751 15.8325 2.25 11 2.25Z' fill='%23B3B3B3'/%3E%3C/svg%3E%0A");
}

.gf-theme-version-15.spf-has-filter
  .gf-controls-search-form
  .gf-controls-search-button
  svg {
  display: none !important;
}

#gf-controls-container .selected-item.gf-option-label,
.gf-top_one #gf-tree .globo-selected-items .selected-item.gf-option-label {
  margin: 3px 6px;
  width: auto;
}

.gf-theme-version-15.spf-has-filter .selected-item.gf-option-label a,
.gf-theme-version-15.gf-top_one
  #gf-tree
  .globo-selected-items-wrapper
  .selected-item
  > a,
.gf-theme-version-15.gf-top_one
  #gf-tree
  .globo-selected-items-wrapper
  .selected-item
  > button,
.gf-theme-version-15.spf-has-filter
  #gf-controls-container
  .globo-selected-items-wrapper
  .selected-item
  > a,
.gf-theme-version-15.spf-has-filter
  #gf-controls-container
  .globo-selected-items-wrapper
  .selected-item
  > button,
.gf-theme-version-15.spf-has-filter
  #gf-tree
  .globo-selected-items-wrapper
  .selected-item
  > .clear-refinements {
  box-shadow: 0 0 0;
  border-radius: 4px;
  padding: 4px 8px;
  padding-right: 4px;
  background-color: #f1592a !important;
  color: white !important;
  font-size: 14px !important;
}

.gf-theme-version-15.spf-has-filter
  #gf-controls-container
  .globo-selected-items-wrapper
  .selected-item
  .clear-refinements {
  position: relative;
  background-color: white !important;
  font-weight: 700 !important;
  color: #f1592a !important;
  padding-right: 30px;
}
.gf-theme-version-15.spf-has-filter
  #gf-controls-container
  .globo-selected-items-wrapper
  .selected-item
  .clear-refinements:after {
  content: '';
  top: 2px;
  right: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.46967 5.46967C5.76256 5.17678 6.23744 5.17678 6.53033 5.46967L12 10.9393L17.4697 5.46967C17.7626 5.17678 18.2374 5.17678 18.5303 5.46967C18.8232 5.76256 18.8232 6.23744 18.5303 6.53033L13.0607 12L18.5303 17.4697C18.8232 17.7626 18.8232 18.2374 18.5303 18.5303C18.2374 18.8232 17.7626 18.8232 17.4697 18.5303L12 13.0607L6.53033 18.5303C6.23744 18.8232 5.76256 18.8232 5.46967 18.5303C5.17678 18.2374 5.17678 17.7626 5.46967 17.4697L10.9393 12L5.46967 6.53033C5.17678 6.23744 5.17678 5.76256 5.46967 5.46967Z' fill='%23E9380D'/%3E%3C/svg%3E%0A");
}
.gf-theme-version-15.spf-has-filter
  #gf-controls-container
  .globo-selected-items-wrapper
  .selected-item
  > a
  strong
  span {
  font-weight: 700 !important;
}

#gf-controls-container
  .globo-selected-items-wrapper
  .selected-item
  span.gf-clear
  svg {
  display: none !important;
}

.gf-filter-selection .sort-by {
  order: 1;
  margin-right: 20px;
}

.gf-filter-selection .sort-by.limit-by {
  order: 2;
  margin: 0;
}

#gf-controls-container
  .globo-selected-items-wrapper
  .selected-item
  span.gf-clear {
  width: 16px;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.57417 3.57417C3.80849 3.33986 4.18839 3.33986 4.4227 3.57417L7.99844 7.14991L11.5742 3.57417C11.8085 3.33986 12.1884 3.33986 12.4227 3.57417C12.657 3.80849 12.657 4.18839 12.4227 4.4227L8.84697 7.99844L12.4227 11.5742C12.657 11.8085 12.657 12.1884 12.4227 12.4227C12.1884 12.657 11.8085 12.657 11.5742 12.4227L7.99844 8.84697L4.4227 12.4227C4.18839 12.657 3.80849 12.657 3.57417 12.4227C3.33986 12.1884 3.33986 11.8085 3.57417 11.5742L7.14991 7.99844L3.57417 4.4227C3.33986 4.18839 3.33986 3.80849 3.57417 3.57417Z' fill='white'/%3E%3C/svg%3E%0A");
}

.gf-theme-version-15.spf-has-filter .sort-by {
  order: 2;
  /* min-width: 245px; */
  margin-left: auto;
}

.gf-theme-version-15.spf-has-filter .sort-by.limit-by {
  margin: 0;
  min-width: inherit;
  font-size: 16px !important;
  order: 3;
}

@media screen and (min-width: 768px) {
  .gf-theme-version-15.spf-has-filter .sort-by {
    min-width: 245px;
  }

  .gf-theme-version-15.spf-has-filter .sort-by.limit-by {
    margin-left: -1px;
  }
}

@media screen and (min-width: 992px) {
  .gf-theme-version-15.spf-has-filter .sort-by.limit-by {
    margin-left: 22px;
  }
}

@media screen and (max-width: 1199px) {
  .gf-theme-version-15.spf-has-filter .sort-by {
    margin-left: 0;
    margin-bottom: 32px;
  }
}

.gf-summary-parent {
  order: 4;
  width: 100%;
  margin-bottom: 20px;
}

#gf-controls-container .globo-selected-items-wrapper {
  padding: 0;
  order: 5;
  width: 100%;
  margin-left: -6px;
  margin-right: -6px;
}

.gf-theme-version-15.spf-has-filter .sort-by.limit-by label {
  font-size: 16px !important;
}

.limit-by label {
  margin: 0 8px 0 10px;
}

.gf-theme-version-15.spf-has-filter #setLimit {
  width: 76px;
  flex: 0 0 76px;
  height: 48px !important;
  border: 1px solid #e5e5e5 !important;
  border-radius: 8px !important;
  font-size: 16px !important;
  padding: 12px !important;
  cursor: pointer;
}

.gf-theme-version-15.spf-has-filter .sort-by .sort-by-toggle {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 245px;
  height: 48px !important;
  border: 1px solid #e5e5e5 !important;
  border-radius: 8px !important;
  font-size: 16px !important;
  padding: 12px !important;
  cursor: pointer;
}

.gf-theme-version-15.spf-has-filter .sort-by .sort-by-toggle::before {
  content: 'Sort by:';
  margin-right: 4px;
}

.gf-theme-version-15.spf-has-filter .sort-by .sort-by-toggle span {
  font-weight: 700 !important;
}

.gf-theme-version-15.spf-has-filter #gf-controls-container .sort-by:before {
  width: 30px;
  right: 5px;
  background-color: white;
}

.gf-theme-version-15.spf-has-filter
  #gf-controls-container
  .sort-by.limit-by:before {
  left: 100px;
}

.gf-theme-version-15.spf-has-filter #gf-controls-container {
  position: relative;
}

.gf-theme-version-15.spf-has-filter .sort-by.limit-by::after {
  content: 'per page';
  margin-left: 8px;
  color: #393940;
}

@media (min-width: 1100px) {
  .gf-filter-selection {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.gf-theme-version-15.spf-has-filter .sort-by label,
.gf-theme-version-15.spf-has-filter span.gf-summary,
.gf-theme-version-15.spf-has-filter .gf-option-block ul li a,
.gf-theme-version-15.spf-has-filter #gf-tree .noUi-value,
.gf-theme-version-15.spf-has-filter
  #gf_pagination_wrap
  .pagination
  > span.current,
.gf-theme-version-15.spf-has-filter #gf_pagination_wrap .pagination > span.deco,
#gf_pagination_wrap .pagination > span > a,
.gf-theme-version-15 #gf_pagination_wrap button.gf-loadmore-btn,
.gf-theme-version-15.spf-has-filter
  #gf-tree
  .globo-selected-items-wrapper
  .selected-item
  > .clear-refinements,
.gf-theme-version-15.spf-has-filter .gf-option-block ul li a,
.gf-theme-version-15.spf-has-filter .gf-option-block ul li button,
.gf-theme-version-15.spf-has-filter .gf-option-block ul li a span.gf-count,
.gf-theme-version-15.spf-has-filter .gf-option-block ul li button span.gf-count,
.gf-theme-version-15.spf-has-filter .gf-clear,
.gf-theme-version-15.spf-has-filter .gf-clear-all,
.gf-theme-version-15.spf-has-filter .selected-item.gf-option-label a,
.gf-theme-version-15.spf-has-filter .gf-form-input-inner select,
.gf-theme-version-15.spf-has-filter .gf-refine-toggle {
  color: #393940 !important;
  font-size: 16px !important;
}

.gf-theme-version-15.spf-has-filter span.gf-summary {
  font-size: 16px !important;
}

.gf-summary-parent .gf-summary {
  display: none !important;
}

.gf-filter-selection,
.gf-filter-trigger {
  padding-left: 0;
}

@media only screen and (max-width: 767px) {
  .gf-filter-selection,
  .gf-filter-trigger {
    flex: 1 1 135px;
    max-width: 135px !important;
  }
}

.gf-theme-version-15.spf-has-filter
  #gf-controls-container
  .gf-refine-toggle-mobile {
  width: 119px;
  border: 1px solid #d3d9e5 !important;
  border-radius: 8px !important;
}

.gf-refine-toggle-mobile span,
span#gf-mobile-refine-toggle {
  height: 48px !important;
  gap: 8px;
  padding: 12px;
}

.gf-refine-toggle-mobile span i:before {
  content: '' !important;
  display: block;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.25 7C2.25 6.58579 2.58579 6.25 3 6.25H21C21.4142 6.25 21.75 6.58579 21.75 7C21.75 7.41421 21.4142 7.75 21 7.75H3C2.58579 7.75 2.25 7.41421 2.25 7ZM5.25 12C5.25 11.5858 5.58579 11.25 6 11.25H18C18.4142 11.25 18.75 11.5858 18.75 12C18.75 12.4142 18.4142 12.75 18 12.75H6C5.58579 12.75 5.25 12.4142 5.25 12ZM10 16.25C9.58579 16.25 9.25 16.5858 9.25 17C9.25 17.4142 9.58579 17.75 10 17.75H14C14.4142 17.75 14.75 17.4142 14.75 17C14.75 16.5858 14.4142 16.25 14 16.25H10Z' fill='%2323232B'/%3E%3C/svg%3E%0A");
}

.gf-theme-version-15.spf-has-filter
  #gf-controls-container
  .gf-refine-toggle-mobile
  span,
.gf-theme-version-15.spf-has-filter #gf-tree .gf-refine-toggle-mobile span {
  font-size: 16px !important;
  color: #23232b !important;
  letter-spacing: normal;
}

@media only screen and (max-width: 767px) {
  .gf-filter-trigger {
    order: 1;
    margin-bottom: 16px;
  }

  .gf-theme-version-15.spf-has-filter .sort-by {
    order: 2;
    width: 100%;
    max-width: calc(100% - 140px);
    display: flex;
    border: 1px solid #e5e5e5 !important;
    border-radius: 8px !important;
    margin-left: 4px;
    margin-bottom: 16px;
  }

  .gf-theme-version-15.spf-has-filter .sort-by .sort-by-toggle,
  .gf-theme-version-15.spf-has-filter .sort-by.limit-by {
    border: 0 !important;
  }

  .gf-theme-version-15.spf-has-filter #gf-controls-container .sort-by:before {
    width: 30px;
    right: 2px;
    height: calc(100% - 10px);
    pointer-events: none;
    z-index: 2;
  }

  .gf-controls-search-form {
    order: 3;
    max-width: 100%;
    margin: 0 0px 16px;
  }

  .gf-theme-version-15.spf-has-filter .sort-by.limit-by {
    order: 4;
    width: auto;
    max-width: 100%;
    margin: 0 -8px 16px;
  }

  .gf-summary-parent {
    order: 5;
    width: 100%;
    margin: 0 0px 16px;
  }

  #gf-controls-container .globo-selected-items-wrapper {
    order: 6;
    width: 100%;
  }
}

#gf_pagination_wrap {
  padding-top: 24px;
  margin-top: 0;
}

#gf_pagination_wrap .pagination > span a {
  width: 40px;
  height: 40px !important;
  line-height: 40px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  color: #393940 !important;
}

.gf-theme-version-15.spf-has-filter
  #gf_pagination_wrap
  .pagination
  > span.current {
  width: 40px;
  height: 40px !important;
  line-height: 40px;
  padding: 0;
  background-color: #f1592a !important;
  color: white !important;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.gf-theme-version-15.spf-has-filter #gf_pagination_wrap .pagination > .next a,
.gf-theme-version-15.spf-has-filter #gf_pagination_wrap .pagination > .prev a {
  font-size: 0 !important;
}

.gf-theme-version-15.spf-has-filter
  #gf_pagination_wrap
  .pagination
  > .prev
  a:before,
.gf-theme-version-15.spf-has-filter
  #gf_pagination_wrap
  .pagination
  > .next
  a:before {
  content: '';
  display: block;
  width: 40px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_18270_151799)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.96967 5.46967C10.2626 5.17678 10.7374 5.17678 11.0303 5.46967L17.0303 11.4697C17.3232 11.7626 17.3232 12.2374 17.0303 12.5303L11.0303 18.5303C10.7374 18.8232 10.2626 18.8232 9.96967 18.5303C9.67678 18.2374 9.67678 17.7626 9.96967 17.4697L15.4393 12L9.96967 6.53033C9.67678 6.23744 9.67678 5.76256 9.96967 5.46967Z' fill='%23F1592A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_18270_151799'%3E%3Crect x='0.5' width='24' height='24' rx='4' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.gf-theme-version-15.spf-has-filter
  #gf_pagination_wrap
  .pagination
  > .prev
  a:before {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  #gf_pagination_wrap {
    padding-top: 48px;
    margin-top: 0;
  }

  #gf_pagination_wrap .pagination > span a {
    width: 48px;
    height: 48px !important;
    line-height: 48px;
  }

  .gf-theme-version-15.spf-has-filter
    #gf_pagination_wrap
    .pagination
    > span.current {
    width: 48px;
    height: 48px !important;
    line-height: 48px;
  }

  .gf-theme-version-15.spf-has-filter
    #gf_pagination_wrap
    .pagination
    > .prev
    a:before,
  .gf-theme-version-15.spf-has-filter
    #gf_pagination_wrap
    .pagination
    > .next
    a:before {
    width: 48px;
  }
}

body > #gf-tree .gf-filter-footer {
  padding: 24px 16px;
}

.gf-theme-version-15 body > #gf-tree .gf-filter-footer button {
  width: 100%;
  height: 48px;
  border-radius: 8px !important;
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 700 !important;
  color: white !important;
  background-color: #f1592a !important;
}

@media screen and (min-width: 990px) {
  .spf-has-filter #gf-products {
    -moz-column-gap: 32px;
    column-gap: 32px;
    row-gap: 32px;
  }

  .grid--3-col-desktop .grid__item {
    width: calc(33.33% - 32px * 2 / 3);
    max-width: calc(33.33% - 32px * 2 / 3);
  }
}

@media screen and (min-width: 1200px) {
  .spf-has-filter #gf-products {
    -moz-column-gap: 32px;
    column-gap: 32px;
    row-gap: 48px;
  }

  .grid--3-col-desktop .grid__item {
    width: calc(33.33% - 32px * 2 / 3);
    max-width: calc(33.33% - 32px * 2 / 3);
  }
}

#gf-controls-container:before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 1px;
  border-top: 1px solid #d1d1d1;
}

#gf-products li {
  position: relative;
  /* width: calc(100% / 3 - 22px); */
}

#gf-products > li:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -24px;
  width: calc(100% + 18px);
  height: calc(100% + 48px);
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  background: #EDEFF3;
}

@media screen and (min-width: 990px) {
  #gf-products > li:nth-of-type(3n + 2):before {
    left: -16px;
    width: calc(100% + 32px);
  }
}

#gf-products > li:nth-of-type(3n):before {
  border-right: 0;
  left: -18px;
}

@media (max-width: 1199px) {
  #gf-controls-container:before {
    top: calc(100% + 8px);
  }

  #gf-products:before {
    top: -8px;
  }
  #gf-products > li:before {
    left: 0;
    bottom: -16px;
    width: calc(100% + 18px);
    height: calc(100% + 32px);
  }
}

@media (max-width: 990px) {
  #gf-products:before {
    left: -15px;
    top: -12px;
    width: calc(100% + 30px);
    height: calc(100% + 20px);
  }

  #gf-products > li:before {
    left: 0px;
    bottom: -15px;
    width: calc(100% + 17px);
    height: calc(100% + 32px);
  }

  #gf-products > li:nth-of-type(3n):before {
    border-right: 1px solid #d1d1d1;
    left: 0;
  }

  #gf-products > li:nth-of-type(2n):before {
    border-right: 0;
    left: -16px;
  }
}

@media screen and (max-width: 749px) {
  .spf-has-filter #gf-products {
    -moz-column-gap: 12px;
    column-gap: 12px;
    row-gap: 24px;
    
  }

  .grid--2-col-tablet-down .grid__item {
    width: calc(50% - 12px / 2);
    max-width: calc(50% - 12px / 2);
  }
}

@media (max-width: 749px) {
  #gf-controls-container:before {
    top: calc(100% + 12px);
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }

  #gf-products:before {
    left: -15px;
    top: -12px;
    width: calc(100% + 30px);
    height: calc(100% + 20px);
  }

  #gf-products > li:before {
    left: -4px;
    bottom: -12px;
    width: calc(100% + 12px);
    height: calc(100% + 24px);
  }

  #gf-products>li:nth-of-type(3n):before {
    left: -4px;
  }

  #gf-products > li:nth-of-type(3n):before {
    border-right: 1px solid #d1d1d1;
  }

  #gf-products > li:nth-of-type(2n):before {
    border-right: 0;
    left: -5px;
  }
}

@media screen and (min-width: 750px) and (max-width: 990px) {
  .grid--2-col-tablet-down .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}
